@import '~sass-material-colors';
@import "./../../globals";

button.form-button {
  @include card(1);
  @include disable-text-select;

  background-color: material-color('grey', '50');
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  box-sizing: border-box;
  border-radius: 3px;
  outline: 0;
  border: 0;
  display: inline-block;
  align-items: center;
  padding: 0 12px;
  margin: 3px 5px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
  min-width: 90px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;

  &:hover, &:focus, &:disabled {
    background-color: material-color('grey', '200');
  }

  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
    background-color: material-color('grey', '200')!important;
  }

  &:active {
    background-color: material-color('grey', '500');
  }
}

button.form-button-primary {
  color: white;
  background-color: material-color('blue', '600');

  &:hover, &:focus {
    background-color: material-color('blue', '300');
  }

  &:active {
    background-color: material-color('blue', '700');
  }
}

button.form-text-button {
  color: material-color('grey', '900');
  box-sizing: border-box;
  outline: 0;
  border: 0;
  background: transparent;
  display: inline-block;
  align-items: center;
  padding: 0 6px;
  margin: 3px 5px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
  min-width: 90px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);

  &:disabled {
    cursor: not-allowed;
    color: material-color('grey', '600');
    background-color: transparent!important;
  }

  &:hover, &:focus {
    background-color: material-color("grey", "200");
    border-radius: 3px;
  }

  &:active {
    background-color: material-color("grey", "300");
  }
}