@import "./header";
@import "./input";
@import "./label";
@import "./input-group";
@import "./footer";
@import "./button";
@import "./errors";
@import "./progress-bar";

.form {
  position: relative;

  div.form-placeholder-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
      color: #999;
      font-size: 24px;
      display: block;
    }
  }
}