cass-community-create-modal-form((abort)="abort()", (next)="next()")
  .input-group
    label.form-label(for="CommunityImageUpload")
      .form-button.form-button-primary Выберите файл
    input(style="display:none", type="file", id="CommunityImageUpload", (change)="onFileChange($event)")
  .input-group(*ngIf="cropper.file")
    cass-image-cropper