div.component-attachment-youtube-grid {
  position: relative;
  width: 100%;
  height: 113px;
  font-size: 0;

  div.cover {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}