div.component.component-attachment-youtube-grid((click)="open(helper.attachment)")
  div.attachment-type-icon
    div.fa-icon-container &nbsp;
  div.cover([ngStyle]="{'background-image': 'url(' + helper.getPreviewImageURL() + ')'}")