@import "./../../../../../styles/globals";

div.component-profile-settings-greetings {
  @include disable-text-select;

  header.component-header {
    color: material-color("grey", "900");
    font-size: 24px;
    margin-bottom: 15px;
  }

  ul.greetings-method {
    >li {
      border-radius: 3px;
      margin: 5px;

      label.greetings-radio-view {
        border: 1px solid white;
        transition: border-color 0.1s, background-color 0.1s;
        padding: 10px;
        display: block;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          border-color: material-color("yellow", "600");
          background-color: material-color("yellow", "100");
        }

        span.greetings-label {
          font-weight: bold;
        }
      }

      div.greetings-subform {
        margin: 10px 0;
      }

    }
  }
}