<div class="component component-profile-settings-greetings">
  <ul class="greetings-method">
    <li class="active"> <!-- non-active, active -->
      <label class="greetings-radio-view">
        <input id="profileSettingsGreetingsRadioFL" class="greetings-radio" type="radio" name="profileGreetingsMethod" value="fl">
        <span class="greetings-label">
          По имени и фамилии
        </span>
      </label>
      <div class="greetings-subform"> <!-- ngIf selected -->
        <div class="input-group">
          <label>
            <span class="form-label">Имя</span>
            <object>
              <input type="text" class="form-input">
            </object>
          </label>
        </div>
        <label>
          <span class="form-label">Фамилия</span>
          <object>
            <input type="text" class="form-input">
          </object>
        </label>
      </div>
    </li>
    <li class="non-active"> <!-- non-active, active -->
      <label class="greetings-radio-view">
        <input id="profileSettingsGreetingsRadioN" class="greetings-radio" type="radio" name="profileGreetingsMethod" value="n">
        <span class="greetings-label">
          По никнейму
        </span>
      </label>
      <div class="greetings-subform"> <!-- ngIf selected -->
        <div class="input-group" style="display: none">
          <label>
            <object>
              <input type="text" class="form-input">
            </object>
          </label>
        </div>
      </div>
    </li>
    <li class="non-active"> <!-- non-active, active -->
      <label class="greetings-radio-view">
        <input id="profileSettingsGreetingsRadioFM" class="greetings-radio" type="radio" name="profileGreetingsMethod" value="fm">
        <span class="greetings-label">
          По имени и отчеству
        </span>
      </label>
      <div class="greetings-subform" style="display: none"> <!-- ngIf selected -->
        <div class="input-group">
          <label>
            <span class="form-label">Имя</span>
            <object>
              <input type="text" class="form-input">
            </object>
          </label>
        </div>
        <div class="input-group">
          <label>
            <span class="form-label">Отчество</span>
            <object>
              <input type="text" class="form-input">
            </object>
          </label>
        </div>
      </div>
    </li>
    <li class="non-active"> <!-- non-active, active -->
      <label class="greetings-radio-view">
        <input id="profileSettingsGreetingsRadioLFM" class="greetings-radio" type="radio" name="profileGreetingsMethod" value="lfm">
        <span class="greetings-label">
          По ФИО
        </span>
      </label>
      <div class="greetings-subform" style="display: none"> <!-- ngIf selected -->
        <div class="input-group" style="display: none">
          <label>
            <span class="form-label">Фамилия</span>
            <object>
              <input type="text" class="form-input">
            </object>
          </label>
        </div>
        <div class="input-group">
          <label>
            <span class="form-label">Имя</span>
            <object>
              <input type="text" class="form-input">
            </object>
          </label>
        </div>
        <div class="input-group">
          <label>
            <span class="form-label">Отчество</span>
            <object>
              <input type="text" class="form-input">
            </object>
          </label>
        </div>
      </div>
    </li>
  </ul>
</div>