<div class="form-content-box">
    <form (ngSubmit)="submit()">
        <div class="modal" tabindex="-1" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Domain\Account creating</h4>
                    </div>
                    <div class="modal-body">
                        <div *ngIf="isVisibleChooseType" class="input-group input-group-sm accountFL">
                            <input type="button" value="Firstname and Lastname" class="btn btn-secondary" (click)="greetingsMethod('fl')"/>
                            <input type="button" value="Firstname, Lastname and Middlename" class="btn btn-secondary" (click)="greetingsMethod('flm')"/>
                            <input type="button" value="Nickname" class="btn btn-secondary" (click)="greetingsMethod('n')"/>
                        </div>
                        <div *ngIf="greetingsMethodReturn() == 'fl'" class="input-group input-group-sm accountFL">
                            <input type="text" [(ngModel)]="profileInfo.firstname" class="form-control" placeholder="Firstname" aria-describedby="sizing-addon3">
                            <input type="text" [(ngModel)]="profileInfo.lastname" class="form-control" placeholder="Lastname" aria-describedby="sizing-addon3">
                        </div>
                        <div *ngIf="greetingsMethodReturn() == 'flm'" class="input-group input-group-sm accountLFM">
                            <input type="text"  [(ngModel)]="profileInfo.firstname" class="form-control" placeholder="Firstname" aria-describedby="sizing-addon3">
                            <input type="text"  [(ngModel)]="profileInfo.lastname" class="form-control" placeholder="Lastname" aria-describedby="sizing-addon3">
                            <input type="text"  [(ngModel)]="profileInfo.middlename" class="form-control" placeholder="Middlename" aria-describedby="sizing-addon3">
                        </div>
                        <div *ngIf="greetingsMethodReturn() == 'n'" class="input-group input-group-sm accountN">
                            <input type="text"  [(ngModel)]="profileInfo.nickname" class="form-control" placeholder="Nickname" aria-describedby="sizing-addon3">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input *ngIf="stageButtons.nextShowButton" type="button" value="Next" class="btn btn-primary" (click)="submit()"/>
                        <input type="button" value="Reset" class="btn btn-secondary" (click)="reset()"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade in"></div>
    </form>

</div>