
<label class="radio-inline">
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" (click)="onMultipleChoise()" checked> On Multiple Choise
</label>
<label class="radio-inline">
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" (click)="offMultipleChoise()"> Off Multiple Choise
</label>
<div class="input-group">
<span class="input-group-addon" id="basic-addon3"  *ngFor="#theme of selectedThemes">+{{theme.title}}<button (click)="deleteSelector(theme.title)">x</button></span>
<input class="form-control" aria-describedby="basic-addon3" type="text" [(ngModel)]="searchStr"/>
    </div>
<div class="col-xs-3" *ngIf="showSelector()">
    <div class="list-group">
        <a class="list-group-item" *ngFor="#theme of search()" (click)="addSelector(theme)">{{theme.title}}</a>
    </div>
</div>
<div class="col-xs-3">
<div class="card">
    <div class="card-block">
            <h4 class="card-title">Themes</h4>
            <p class="card-text" *ngFor="#theme of themeService.themes" (click)="addSelector(theme)">{{theme.title}}</p>
        </div>
    </div>
</div>
