@import "./../../../../styles/globals";

.cass-sidebar {
  @include card(2);
  @include yoozerVerticalGradient();

  font-family: "PT Sans", "Arial", sans-serif;
  border-right: 1px solid rgba(255, 255, 255, 0.12);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  height: 100%;

  ul.sidebar-items > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13)
  }

  a.sidebar-item {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 5px 0;

    div.image {
      padding: 7px 0;
      font-size: 16px;
    }

    span.title {
      display: block;
      font-size: 11px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}