.cass-sidebar
  .sidebar-contents
    ul.sidebar-items
      li
        a(routerLink='home') Home
      li
      a(routerLink='people') People
      li
      a(routerLink='collections') Collections
      li
        a(routerLink='communities') Community
  .backdrop