@import "./../../../../../styles/globals";

div {
  position: fixed;
  right: 10px;
  bottom: 10px;
 .beta-icon {
   opacity: .7;
    background: material-color("blue-grey", "900");
    position: absolute;
    left: -8px;
    top: -8px;
    transform: rotate(-25deg);
    color: white;
    display:block;
    padding:5px;
    border-radius:5px;
    font: 13px Tahoma;
  }
}