.component-profile-communities-subscriptions-route {
  .community {
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
  }

  .community-card-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .community-card {
    margin-left: 15px;

    &:first-child {
      margin-left: 0px;
    }
  }
}
