.component.component-profile-communities-subscriptions-route
  cass-form-progress-lock(*ngIf="status.isLoading()")
  .community-container
    div(*ngIf="! status.isLoading()").community-card-wrap
      cass-community-cards-list([entities]="getCommunities()", [view-mode]="getViewMode()", (open)="openCommunity($event)")