@import "./../../../../../../../styles/globals.scss";

.x-navigation-entity-active {
    outline: 5px solid material-color("blue", "100");
}

div.component-post-card-feed {
  .post-card {
    background-color: white;
    @include card(1);
    border-radius: 3px;
    overflow: hidden;
    width: 550px;
    height: 100%;

    .card-header {
      margin-top: 8px;
      margin-bottom: 15px;
    }

    .title-container {
      font-size: 20px;
      font-weight: 400;
      color: #000;
      margin-bottom: 25px;
    }

    .content-container {
      padding: 20px 13px;
      cursor: text;
      user-select: text;
      -moz-user-select: text;
      -webkit-user-select: text;
      -ms-user-select: text;

      p {
        font-family: $FONT_FAMILY;
        font-size: 16px;
        font-weight: 400;
        color: black;
        line-height: 20px;
      }
    }
  }
}

.x-navigation-entity {
  &:hover {
    .profile-card {
      border-color: material-color("indigo", "500");
      outline: 0;
    }
  }
}

.x-navigation-entity-active {
  .profile-card {
    border-color: material-color("indigo", "500") !important;
    outline: 0;
  }
}