@import "./../../../../../../../styles/globals.scss";

div.component-post-card-feed {
  .post-card {
    background-color: white;
    @include card(1);
    border-radius: 3px;
    overflow: hidden;
    width: 550px;
    height: 100%;

    .post-card-content {
      border-radius: 3px;
      border: 3px solid transparent;
      height: 100%;

      .card-header {
        display: flex;

        .left {
          flex-basis: 100%;

          .title-container {
            padding: 25px 15px;

            h1 {
              font-size: 20px;
              font-weight: 400;
              color: #000;
            }
          }
        }

        .right {
          margin-left: 10px;
          flex-basis: 40px;
          flex-shrink: 0;
          text-align: right;
        }
      }

      .content-container {
        padding: 20px 13px;
        cursor: text;
        user-select: text;
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;

        p {
          font-family: $FONT_FAMILY;
          font-size: 16px;
          font-weight: 400;
          color: black;
          line-height: 20px;
        }
      }

      .card-footer {
        display: flex;
        padding: 15px;
        font-size: 12px;
        vertical-align: middle;
        line-height: 40px;

        color: material-color("grey", "700");

        .left {
          flex-basis: 100%;

          a.profile-link {
            text-decoration: underline;
            color: material-color("grey", "900");
            vertical-align: middle;

            .profile-image-container {
              display: inline-block;
              vertical-align: middle;
              width: 24px;
              height: 24px;
              margin-right: 10px;
              border: 1px solid #000000;
            }

            span.text {
              vertical-align: middle;
            }

            &:hover {
              color: material-color("blue", "500");
            }
          }

          i.fa-dot-circle-o {
            vertical-align: sub;
            margin: 0  10px;
          }

          span.date-created-at {
            vertical-align: bottom;
          }
        }

        i.fa {
          margin: 0  10px;
        }

        .right {
          margin-left: 10px;
          text-align: right;
        }
      }
    }
  }
}



.x-navigation-entity {
  &:hover {
    .profile-card {
      border-color: material-color("indigo", "500");
      outline: 0;
    }
  }
}

.x-navigation-entity-active {
  .profile-card {
    border-color: material-color("indigo", "500") !important;
    outline: 0;
  }
}