div.component.component-post-card-feed.x-feed-entity.x-feed-entity
  .post-card
    .card-header
      cass-profile-card-header([profile]="helper.getProfile()", [time]="helper.getPostDateCreatedOn()")
    .card-content
      .content-container(*ngIf="helper.hasContent()")
        div([innerHTML]='helper.getContent()')
      .attachment-container(*ngIf="helper.hasAttachment()")
        cass-attachment([attachment]="helper.getAttachment()", (open)="helper.openAttachment($event)")
