div.component.component-post-card-feed.x-navigation-entity.x-navigation-click
  .post-card
    .post-card-content
      .card-header
        .left
          cass-profile-card-header([profile]="helper.getProfile()", [time]="helper.getPostDateCreatedOn()")
        .right
          button.fa-ellipsis-button((click)="helper.deletePost(post)", type = "button")
            i.fa.fa-ellipsis-v
      .card-content
        .content-container(*ngIf="helper.hasContent()")
          .title-container(*ngIf="helper.hasTitle()")
            h1
              span.text {{ helper.getTitle() }}
          cass-text-parser([text]='helper.getContent()')
        .attachment-container(*ngIf="helper.hasAttachment()")
          cass-attachment([attachment]="helper.getAttachment()", (open)="helper.openAttachment($event)", view-mode="feed")
