div.component.component-post-card-feed.x-navigation-entity
  .post-card
    .card-header
      cass-profile-card-header([profile]="helper.getProfile()", [time]="helper.getPostDateCreatedOn()")
    .card-content
      .content-container(*ngIf="helper.hasContent()")
        .title-container(*ngIf="helper.hasTitle()")
          h1
            span.text {{ helper.getTitle() }}
        cass-text-parser([text]='helper.getContent()')
      .attachment-container(*ngIf="helper.hasAttachment()")
        cass-attachment([attachment]="helper.getAttachment()", (open)="helper.openAttachment($event)", view-mode="feed")
