article.component.component-attachment-page
  div(*ngIf="isViewMode('feed')")
    cass-attachment-page-feed([attachment]="attachment", (open)="open($event)", [view-mode]="viewMode")
  div(*ngIf="isViewMode('grid')")
    cass-attachment-page-grid([attachment]="attachment", (open)="open($event)", [view-mode]="viewMode")
  div(*ngIf="isViewMode('list')")
    cass-attachment-page-list([attachment]="attachment", (open)="open($event)", [view-mode]="viewMode")
