@import "./../../../../styles/globals";

$PANEL_WIDTH: 230px;

.tab-modal {
  display: flex;
  position: relative;
  border-radius: 3px;
  background-color: white;
  height: 100%;

  .tab-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: material-color("blue-grey", "900");
    width: $PANEL_WIDTH;
  }

  .tab-panel-header {
    display: none;
  }

  .tab-link {
    display: block;
    font-family: $FONT_FAMILY;
    font-size: $FONT_SIZE_SMALL;
    color: material-color("blue-grey", "400");
    background-color: transparent;
    text-align: right;
    font-weight: 500;
    border: 0;
    width: 100%;
    padding: 10px 20px;
    border-left: 7px solid material-color("blue-grey", "900");
    cursor: pointer;
    transition: border-left-color 0.1s;
    text-transform: uppercase;
    outline: 0;

    &:hover {
      color: material-color("blue-grey", "200");
      border-left-color: material-color("blue-grey", "500");
    }
  }

  .tab-link-active, .tab-link-active:hover {
    color: material-color("blue-grey", "100");
    border-left-color: material-color("blue", "500");
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    footer.tab-content-footer {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid material-color("grey", "200");
      padding: 5px;
    }
  }

  .tab-modal-header {
    h1 {
      font-size: 24px;
      color: black;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 20px;
      color: black;
      margin-bottom: 10px;
    }

    p.sub {
      font-size: $FONT_SIZE_SMALL;
      color: material-color("grey", "800");
    }
  }
}