.sidebar-communities
  .sidebar-separator
  ul.sidebar-items
    li
      .community-bookmark
        a.sidebar-fa-button([routerLink]="['/Public']")
          i.fa.fa-fw.fa-search
  ul.sidebar-items(*ngIf="isSwitched()")
    li(*ngFor="#bookmark of getCommunityBookmarks()")
      .bookmark
        a.sidebar-button.sidebar-community-icon([routerLink]="getCommunityLinkParams(bookmark.community_sid)")
          img.sidebar-icon([src]="getCommunityImage(bookmark)")
  ul.sidebar-items(*ngIf="isSwitched()")
    li.add-button((click)="openCommunityModal()")
      .community-plus
        i.fa.fa-plus