article.component.component-profile-route
  .profile-page-container
    .profile-menu
      div(*ngIf="isOwnProfile()")
        cass-profile-menu-own
      div(*ngIf="isOtherProfile()")
        cass-profile-menu-other
    .profile-page
      .profile-page-content(#content, (scroll)="emitScroll($event)")
        router-outlet