article.component.component-profile-route
  cass-form-progress-lock(*ngIf="loading")
  div(*ngIf="profile")
    cass-profile-header([profile]="profile")
    cass-profile-cards-list([profile]="profile")
  router-outlet