div.component.component-content-player
  div.everything
    div.left
    div.content-area
      cass-content-player-area
    div.content-playlist
      cass-content-player-playlist([playlist]="service.playlist", (play)="play($event)")
    div.right