<div class="stages stage-show-1">
  <div class="stage stage-1 stage-normal">
    <form class="form form-auth-sign-in" (ngSubmit)="attemptSignUp()" (keyup.escape)="service.modals.closeModals()">
      <header class="form-header">
        <h1>Регистрация</h1>
      </header>
      <div class="cass-padding-box-10">
        <div class="input-group">
          <label class="form-label">
            <span class="label-text">E-mail: </span>
            <input type="email" class="form form-input"
                    placeholder="Адрес электронного ящика"
                    autocomplete="off"
                    autofocus="autofocus"
                    tabindex="1"
                   [(ngModel)]="personalInfo.email"
            />
          </label>
        </div>
        <div class="input-group">
          <label class="form-label">
            <span class="label-text">Пароль</span>
            <input type="password" class="form form-input"
                   placeholder="**********"
                   autocomplete="off"
                   tabindex="2"
                   [(ngModel)]="personalInfo.password"
            />
          </label>
        </div>
        <div class="input-group">
          <label class="form-label">
            <span class="label-text">Повторите пароль</span>
            <input type="password" class="form form-input"
                   placeholder="**********"
                   autocomplete="off"
                   tabindex="2"
                   [(ngModel)]="personalInfo.repeat"
            />
          </label>
        </div>
      </div>
      <footer class="form-footer">
        <div class="form-footer-section">
          <div class="cass-padding-box-5">
            <button type="button" tabindex="4" class="form-text-button" (click)="service.modals.closeModals()">Назад</button>
          </div>
        </div>
        <div class="form-footer-section">
          <div class="form-footer-item">
            <div class="cass-padding-box-5">
              <button type="button" tabindex="5" class="form-text-button" (click)="service.modals.closeModals()">Закрыть</button>
              <button type="submit" tabindex="3" class="form-button form-button-primary">Войти</button>
            </div>
          </div>
        </div>
      </footer>
    </form>
  </div>
</div>