<div class="component component-profile-modal">
  <div class="form" *ngIf="model.loading">
    <div class="loading-indicator-box">
      <cass-loading-linear-indicator></cass-loading-linear-indicator>
    </div>
  </div>
  <div class="tab-modal">
    <div class="tab-panel">
      <div class="top">
        <ul class="tab-list">
          <li>
            <button class="tab-link" (click)="tabs.go('Account')" [ngClass]="{'tab-link-active': tabs.isCurrent('Account')}">
              <span>Аккаунт</span>
            </button>
          </li>
          <li>
            <button class="tab-link active" (click)="tabs.go('Personal')" [ngClass]="{'tab-link-active': tabs.isCurrent('Personal')}">
              <span>Профиль</span>
            </button>
          </li>
          <li>
            <button class="tab-link active" (click)="tabs.go('Image')" [ngClass]="{'tab-link-active': tabs.isCurrent('Image')}">
              <span>Изображение</span>
            </button>
          </li>
          <li>
            <button class="tab-link" (click)="tabs.go('Interests')" [ngClass]="{'tab-link-active': tabs.isCurrent('Interests')}">
              <span>Интересы и экспертиза</span>
            </button>
          </li>
        </ul>
      </div>
      <div class="bottom">
        <ul class="tab-list">
          <li>
            <button class="tab-link" (click)="tabs.go('Profiles')" [ngClass]="{'tab-link-active': tabs.isCurrent('Profiles')}">
              <i class="fa fa-fw fa-list-alt"></i>
              <span>Управление профилями</span>
            </button>
          </li>
          <li>
            <!-- Редирект на /auth/sign-out. Без вauthServiceопросов и SMS. -->
            <button class="tab-link" (click)="signOut()">
              <i class="fa fa-fw fa-sign-out"></i>
              <span>Выход из аккаунта</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-content-container">
        <div class="tab-account" *ngIf="tabs.isCurrent('Account')">
          <cass-profile-modal-tab-account></cass-profile-modal-tab-account>
        </div>
        <div class="tab-personal" *ngIf="tabs.isCurrent('Personal')">
          <cass-profile-modal-tab-personal></cass-profile-modal-tab-personal>
        </div>
        <div class="tab-interests" *ngIf="tabs.isCurrent('Image')">
          <cass-profile-modal-tab-image></cass-profile-modal-tab-image>
        </div>
        <div class="tab-interests" *ngIf="tabs.isCurrent('Interests')">
          <cass-profile-modal-tab-interests></cass-profile-modal-tab-interests>
        </div>
        <div class="tab-profiles" *ngIf="tabs.isCurrent('Profiles')">
          <cass-profile-modal-tab-profiles></cass-profile-modal-tab-profiles>
        </div>
      </div>
      <footer class="tab-content-footer">
        <div class="left">
          <button (click)="closeProfileModal()" class="form-text-button">Закрыть</button>
        </div>
        <div class="right">
          <!-- Кнопка отображается в тот момент, когда были сделаны изменения в модели -->
          <button class="form-text-button" *ngIf="model.canSave()" (click)="model.reset()">Отменить изменения</button>

          <!-- Кнопка задизеблена, если нет изменений в модели. -->
          <!-- После сохранения окно должно закрываться -->
          <button class="form-button form-button-green" [disabled]="!model.canSave()" (click)="model.performSaveChanges()">Сохранить</button>
        </div>
      </footer>
    </div>
  </div>
</div>