article.component.component-community-card-header
  .community-image
    .community-image-container
      cass-community-image(border="circle", [url]="getImageURL()")
  .community-about
      .community-name
        h1 {{ getCommunityTitle() }}
      .community-settings
        time(*ngIf="hasTime()")
          span {{ getTime() }}
