@import "~sass-material-colors";

article.component-collection-create-master {
  height: 100%;
  position: relative;

  ul.collection-options-list {
    li {
      margin: 20px 0;
    }
  }

  div.screen-common {
    ul.collection-options-list {
      li {
        margin: 0;
      }
    }
  }

  p.options-info {
    padding: 10px 15px;
    color: material-color("yellow", "900");
    background-color: material-color("yellow", "50");
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  footer.form-footer {
    border-top: 1px solid material-color("grey", "200");
  }
}