div.component.component-attachment-webm-grid((click)="open(helper.attachment)")
  div.attachment-type-icon
    div.fa-icon-container
      i.fa.fa-film
  div.cover([ngStyle]="{'background-image': 'url(' + helper.getCover() + ')'}")