@import "./../../../../../../styles/globals";

div.profile-modal-tab-image
{
  div.stage-view {
    text-align: center;
    padding: 20px;

    div.profile-image-container {
      display: inline-block;
      margin-bottom: 20px;
      max-width: 500px;
      border: 3px solid white;
      outline: 1px dotted material-color("grey", "400");
      overflow: hidden;
    }

    div.profile-image-controls {
      text-align: center;
    }
  }
}