/* @ MOBILE-FIRST */

@import "./../../styles/globals";

article.component.component-public {
  padding: 15px;

  .general-criteria {
    .source-selector-container {
      margin: 10px 0;
    }
  }

  .content-and-view-options-container {
    margin: 10px 0;
  }
}

@include mt-tablet-and-desktop {
  .content-and-view-options-container {
    display: flex;
    justify-content: space-between;
  }
}

@include mt-desktop {
  article.component.component-public {
    padding: 0;
    display: flex;
    position: absolute;
    top: 0; height: 100%;
    left: 0; width: 100%;
  }

  .theme-panel {
    position: relative;
    width: 250px;
    min-width: 250px;
  }

  .content-area {
    padding: 20px 30px;
    width: 100%;
    overflow: auto;
  }

  .theme-criteria-container {
    position: absolute;
    top: 0; height: 100%;
    left: 0; width: 100%;
  }

  .general-criteria {
    .query-string-criteria-container {
      margin-bottom: 10px;
    }
  }

  .search-results {
    .seek-criteria-container {
    }
  }
}