article.component.component-public
  .theme-panel
    .theme-criteria-container
      cass-public-search-criteria-theme
  .content-area((scroll)='onScroll()')
    .general-criteria
      .query-string-criteria-container
        cass-public-search-criteria-query-string
      .source-selector-container
        cass-public-feed-source-selector
      .content-and-view-options-container
        .content-type-container
          cass-public-criteria-content-type(*ngIf="isPostCriteriaAvailable()")
        .view-option-container
          cass-public-option-view
    .search-results
      .search-entities
        router-outlet
      .seek-criteria-container
        cass-public-search-criteria-seek
