div.component.component-attachment-webm-list((click)="open(helper.attachment)")
  div.attachment-type-icon
    div.fa-icon-container
      i.fa.fa-film
  div.cover(style="background-image: url('{{ helper.getCover() }}')")