<form (ngSubmit)="attemptSignIn()">
  <header>
    <h1>Sign In</h1>
  </header>
  <div class="alert alert-danger" role="alert" *ngIf="authService.error">{{authService.error}}</div>
  <fieldset class="form-group">
    <label>E-mail</label>
    <input [(ngModel)]="email" type="email" placeholder="your@mail.com" class="form-control" />
  </fieldset>
  <fieldset class="form-group">
    <label for="inputSignUpComponentPassword">Password</label>
    <input id="inputSignUpComponentPassword" class="form-control"  [(ngModel)]="password" type="password" placeholder="Password"/>
  </fieldset>
  <div>
    <button [disabled]="authService.isLoading" class="btn btn-primary" type="submit">Sign In</button>
    <button [disabled]="authService.isLoading" class="btn btn-secondary" type="submit">Sign In, but I'm from another computer</button>
    or use existing account:
    <oauth2-login></oauth2-login>
  </div>
</form>