@import "./../../../../styles/globals";

button {
  font-size: $FONT_SIZE_LARGE;
  background: none;
  border: none;
  color:material-color("grey", "600");
  margin-right:15px;
  cursor: pointer;
  
  &:disabled {
    color:material-color("grey", "400");
    cursor: default;
  }
}