<div class="profile-modal-tab-image">
  <div class="profile-image-form">
    <div class="profile-image-container">
      <cass-profile-image border="square" [url]='getImageProfile()'></cass-profile-image>
    </div>
    <div class="profile-image-controls">
      <cass-form-button *ngIf="!deleting" styles="text" type="button" title="УДАЛИТЬ" icon="'fa fa-fw fa-trash'" (click)="deleteProfileImage()"></cass-form-button>
      <cass-form-button *ngIf="deleting" styles="text" type="button" title="УДАЛИТЬ" icon="'fa fa-spinner fa-pulse fa-fw'" (click)="deleteProfileImage()" disabled></cass-form-button>
      <cass-form-button  styles="solid" color="#2196F3" type="button" title="Загрузить другое изображение" icon="'fa fa-fw fa-upload'" (click)="uploadProfileImage()"></cass-form-button>
    </div>
  </div>
  <div *ngIf="upload.isOpened()">
    <cass-upload-image-modal (close)='upload.close()' (keyup.esc)="upload.close()"></cass-upload-image-modal>
  </div>
</div>