<div class="profile-modal-tab-image">
  <div class="profile-image-form">
    <div class="profile-image-container">
      <cass-profile-image border="square" [url]='getImageProfile()'></cass-profile-image>
    </div>
    <div class="profile-image-controls">
      <button *ngIf="!deleteProcessVisible" (click)="avatarDeletingProcess()" class="form-text-button form-button-text-remove">
        <i class="fa fa-fw fa-trash"></i>
        <span>Удалить</span>
      </button>
       <button *ngIf="deleteProcessVisible" class="form-text-button form-button-text-remove" disabled>
        <i class="fa fa-spinner fa-pulse fa-fw"></i>
        <span>Удалить</span>
      </button>
      <button class="form-button form-button-primary" (click)="uploadProfileImage()">
        <i class="fa fa-fw fa-upload"></i>
        <span>Загрузить другое изображение</span>
      </button>
    </div>
  </div>
  <div *ngIf="upload.isOpened()">
    <cass-upload-image-modal (close)='upload.close()', (complete)='upload.close()'></cass-upload-image-modal>
  </div>
</div>