<form (ngSubmit)="submit()" (keyup.esc)="close()">
    <div class="modal" tabindex="-1" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()">&times;</button>
                    <h4 class="modal-title">Create Application\Post</h4>
                </div>
                <div class="modal-body" >
                    <div class="form-group">
                        <textarea class="form-control" [(ngModel)]="text" rows="3"></textarea>
                        <!--<div class="btn-group" role="group" >-->
                            <input type="button"  value="Attachment" (click)="showLinkInput = !showLinkInput" class="btn btn-secondary pull-right"/>
                        <br>
                            <!--<input type="button" value="WebM" (click)="showLinkInput = !showLinkInput" class="btn btn-secondary"/>-->
                            <!--<input type="button" value="" (click)="showLinkInput = !showLinkInput" class="btn btn-secondary"/>-->
                            <!--<input type="button" value="" (click)="showLinkInput = !showLinkInput" class="btn btn-secondary"/>-->
                            <!--</div>-->
                        <div *ngIf="showLinkInput">
                            <input class="form-control" [(ngModel)]="link" placeholder="Link URL">
                            <label class="file">
                            <input type="file">
                            <span class="file-custom"></span>
                        </label>
                        </div>
                        <br>
                        <div class="thumbnail" *ngIf="detectURL(link, text)">
                            <img class="img-thumbnail" src="{{linkImg}}" alt="image cap">
                            <div class="caption">
                                <h3 class="text-primary">{{linkLabel}}</h3>
                                <p class="text-muted">{{linkText}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Submit" class="btn btn-primary" (click)="submit()"/>
                    <input type="button" value="Reset" class="btn btn-secondary" (click)="reset()"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade in"></div>
</form>