nav.navbar.navbar-fixed-top.navbar-dark.bg-primary
  button.navbar-toggler.hidden-sm-up.pull-right(type='button', data-toggle='collapse', data-target='#collapsingNavbar')
    | ☰
  a.navbar-brand(
    [routerLink]="['/FeedbackRoute']"
  )
    i.fa.fa-user-secret.fa-fw(aria-hidden="true")
    | CASS Feedback
  #collapsingNavbar.collapse.navbar-toggleable-xs
    ul.nav.navbar-nav.pull-right
      li.nav-item.active(
        *ngIf="authService.isSignedIn()"
      )
        a.nav-link(
          (click)="signOut()"
        )
          i.fa.fa-sign-out.fa-fw(aria-hidden="true")
          | Sign Out