article.component.component-profile-setup-screen-expert-in
  form.form
    .theme-select
      cass-theme-select([value]='model.expertIn', (change)="model.setExpertIn")
    footer.form-footer
      .form-footer-section
        .form-footer-item
          cass-form-button(type="button", (click)="back()",title="НАЗАД",styles="text")
            span Назад
      .form-footer-section
        .form-footer-item
          cass-form-button(type="button", (click)="finish()",title="ЗАВЕРШИТЬ",styles="solid",color="#2196F3")
            span Завершить