@import "./../../../../styles/globals";

article.component.component-profile-collection
{
  h1 {
    font-family: $FONT_FAMILY;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: material-color("grey", "900");
  }

  .post-form {
    display: flex;

    .post-form-container {
      width: 550px;
      margin: 0 auto;
    }
  }
}