@import '~sass-material-colors';

$CASS_HEADER_HEIGHT: 45px;
$CASS_SIDEBAR_WIDTH: 75px;
$CASS_SIDEBAR_ICON_SIZE: 75px;
$CASS_MIN_WIDTH: 850px;
$CASS_MIN_HEIGHT: 480px;
$CASS_VIEW_MODES_WIDTH: 50px;
$CASS_ADDITIONAL_MENU: 250px;
$CASS_EXTENDED_MENU_WIDTH: 50px;
$CASS_EXTENDED_LONG_MENU_WIDTH: 180px;
$CASS_CONTENT_PLAYER_PLAYLIST_WIDTH: 350px;

$CASS_NAVIGATION_ENTITY_ACTIVE_COLOR: material-color("indigo", "500");
$CASS_NAVIGATION_ENTITY_HOVER_COLOR: material-color("indigo", "400");
$CASS_NAVIGATION_ENTITY_HOVER_AND_ACTIVE_COLOR: material-color("indigo", "600");