@import "./contants";
@import '~sass-material-colors';

@import "./mixins/disable-text-select";
@import "./mixins/full-screen-component";
@import "./mixins/card";
@import "./mixins/is-desktop";
@import "./mixins/is-mobile";
@import "./mixins/media-target";

$FONT_FAMILY: 'Roboto', Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
$FONT_SIZE_INFO: 12px;
$FONT_SIZE_SMALL: 14px;
$FONT_SIZE_NORMAL: 16px;
$FONT_SIZE_LARGE: 20px;

$MATERIAL_BACKGROUND: #f0f0f0;
$BACKDROP_COLOR: #f0f0f0;
$BACKDROP_OPACITY: 0.8;

$ALL_COLORS: "red", "pink", "purple", "deep-purple", "indigo", "blue", "light-blue", "cyan", "teal", "green", "light-green", "lime", "yellow", "amber", "orange", "deep-orange", "brown", "blue-grey", "grey";