div.component.component-form-input
  input((focus)="focus($event)",[type]="getTypeInput()", [placeholder]="getText()",[disabled]="getDisabled()",[required]="getRequired()", [ngClass]="getCSSClasses()",[name]="getName()" , [maxlength]="getMaxLength()", [minlength]="getMinLength()",[autocomplete]="getAutocomplete()",[readonly]="getReadonly()",[(ngModel)]="value", #input).form-input

