.cass-padding-box-15
  input#CommunityImageUpload(hidden, type='file', (change)='onSelect($event)', #communityImageUploadInput)
  header.tab-modal-header
    h1 Изображение
  .community-image-form(*ngIf='cropper.file')
    .community-image-container
      cass-image-cropper((cropInit)="onChange()", (cropEnd)="onChange()")
    .community-image-controls
      .form-button.form-button-primary((click)="cancel()")
        i.fa.fa-fw.fa-ban
        span Отмена

  .community-image-form(*ngIf='!cropper.file')
    .community-image-container
      cass-community-image(border="square", url="{{model.image.variants[64].public_path}}")
    .community-image-controls
      button.form-text-button.form-button-text-remove((click)="deleteImage()", *ngIf="!loading")
        i.fa.fa-fw.fa-trash
        span Удалить
      button.form-text-button.form-button-text-remove(disabled="", *ngIf="loading")
        i.fa.fa-spinner.fa-pulse.fa-fw
        span Удалить

      label(for="CommunityImageUpload")
        .form-button.form-button-primary
          i.fa.fa-fw.fa-upload
          span Загрузить другое изображение
