div.component.component-community-cards-list
  div.view-mode-feed(*ngIf="isViewMode('feed')")
    ul.community-list
      li(*ngFor="let community of entities")
        .community-card-container
          cass-community-card(
            [community]="community",
            (open)="open($event)",
            view-mode="feed"
          )
  div.view-mode-grid(*ngIf="isViewMode('grid')")
    ul.community-list
      li(*ngFor="let community of entities")
        .community-card-container
          cass-community-card(
          [community]="community",
          (open)="open($event)",
          view-mode="grid"
        )
  div.view-mode-list(*ngIf="isViewMode('list')")
    ul.community-list
      li(*ngFor="let community of entities")
        .community-card-container
          cass-community-card(
          [community]="community",
          (open)="open($event)",
          view-mode="list"
        )