article.component.component-profile-setup-screen-interests
  form.form
    .theme-select
      cass-theme-select([value]='model.interestingIn', (change)="model.setInterestingIn")
    footer.form-footer
      .form-footer-section
        .form-footer-item
          cass-form-button(type="button", (click)="back()",title="НАЗАД",styles="text")
      .form-footer-section
        .form-footer-item
          cass-form-button(type="button", (click)="skip()",title="ДАЛЕЕ",styles="text")
