div.component.component-theme-card-table
  div.flexbox-container
    div.preview
      div.image-container
        div.image(style="background-image: url('{{ prefix }}/{{ theme.preview }}')")
    div.title
      span.text {{ theme.title }}
    div.description
      span.text {{ theme.description }}