# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure(2) do |config|
  config.vm.box = "ubuntu/trusty64"
  config.vm.provision :shell, path: "./support-files/provision.sh"

  config.vm.synced_folder "./src", "/vagrant", type: "smb", owner: "www-data", group: "www-data"
  config.vm.synced_folder "./support-files", "/support-files", type: "smb"

  config.vm.network "forwarded_port", guest: 3000, host: 8080 # www
  config.vm.network "forwarded_port", guest: 3001, host: 8081 # mongo-express
  config.vm.network "forwarded_port", guest: 27017, host: 27017 # mongo

   config.vm.provider "virtualbox" do |vb|
     vb.gui = false
     vb.memory = "1024"
   end
end
