article.component.component-community
  div(*ngIf="service.create.isOpened()")
    cass-community-create-modal(
      (close)="service.create.close()",
      (success)="goCommunity($event)",
      [themeId]="service.themeId"
    )
  div(*ngIf="modals.createCollection.isOpened()")
    cass-modal
      cass-modal-box(width="550px")
        cass-collection-create-master(
          [for]='"community"',
          [for_id]='session.getCurrentProfile().getId()',
          (close)='modals.createCollection.close()',
          (complete)='goCollection($event)'
        )
  div(*ngIf="modals.backdrop.isOpened()")
    cass-modal
      cass-modal-box(width="550px")
        cass-community-backdrop-modal([community]="entity.community")