div.community-component
  div(*ngIf="service.route.isOpened()")
    cass-community-route-modal(
      (close)="service.route.close()",
      (join)="service.route.close(); service.modals.join.open()",
      (create)="service.route.close(); service.modals.create.open()"
    )

  div(*ngIf="service.join.isOpened()")
    cass-community-join-modal((close)="service.join.close()")

  div(*ngIf="service.create.isOpened()")
    cass-community-create-modal((close)="service.create.close()", (success)="goCommunity($event)")