div.community-component
  div(*ngIf="service.modals.route.isOpened()")
    cass-community-route-modal(
      (close)="service.modals.route.close()",
      (join)="service.modals.route.close(); service.modals.join.open()",
      (create)="service.modals.route.close(); service.modals.create.open()"
    )

  div(*ngIf="service.modals.join.isOpened()")
    cass-community-join-modal((close)="service.modals.join.close()")

  div(*ngIf="service.modals.create.isOpened()")
    cass-community-create-modal((close)="service.modals.create.close()", (success)="goCommunity($event)")