<div>
  <div class="cass-padding-box-15 form">
    <button class="form-button form-button-primary" (click)="signIn()">Sign In</button>
    <button class="form-button" (click)="signUp()">Sign Up</button>
  </div>
  <div class="sign-in-modal" *ngIf="service.modals.isSignInModalOpened()">
    <cass-modal>
      <cass-auth-sign-in></cass-auth-sign-in>
    </cass-modal>
  </div>
  <div class="sign-up-modal" *ngIf="service.modals.isSignUpModalOpened()">
    <cass-modal>
      <cass-auth-sign-up></cass-auth-sign-up>
    </cass-modal>
  </div>
</div>