article.component.component-community-collection
  div(*ngIf="isLoaded()")
    .collection-header
      cass-collection-header([entity]="collection", [is-own]="isOwn()")
    .post-form
      .post-form-container
        cass-post-form([collection]="collection", [post-type]="postType", (success)="unshiftEntity($event)")
    .posts
      cass-feed-post-stream