article.component.component-community-collection
  div(*ngIf="!loadingManager.isLoading()")
    header.collection-header
      h1 {{ collection.title }}
      h2 {{ collection.description }}
    .post-form
      .post-form-container
        cass-post-form([collection]="collection", [post-type]="postType", (success)="unshiftEntity($event)")
    .posts
      cass-feed-post-stream