<div class="form-content-box">
    <form (ngSubmit)="submit()">
        <div class="modal" tabindex="-1" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Account creating</h4>
                    </div>
                    <div class="modal-body" >
                        <div class="input-group input-group-sm accountN">
                            <h1>{{getProfileName()}}</h1>
                            <img src="{{getProfileAvatar()}}" class="img-rounded pull-xs-left">
                            <input type="button" value="Change Avatar" (click)="showAvatarCropper()" />
                            <div *ngIf="isAvatarFormVisible()" class="form-group">
                                <avatar-cropper></avatar-cropper>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Submit" class="btn btn-primary" (click)="submit()"/>
                        <input type="button" value="Reset" class="btn btn-secondary" (click)="reset()"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade in"></div>
    </form>

</div>