.component.component-profile-collection-subscriptions-route
  cass-form-progress-lock(*ngIf="status.isLoading()")
  .collection-container
    div(*ngIf="! status.isLoading()").collection-card-wrap
      cass-collection-cards-list([entities]="getCollections()", [view-mode]="getViewMode()", (open)="openCollection($event)")

