.component.component-profile-collection-subscriptions-route
  .collection
    h1 Подборки
  cass-form-progress-lock(*ngIf="status.isLoading()")
  .collection-container
    div(*ngIf="! status.isLoading()").collection-card-wrap
      div(ngIf="()")
        cass-collection-cards-list([entities]="getCollection()")

