@import "./../../../../../styles/globals";

div.component-right-sidebar {
  height: 100%;

  div.flexbox-container {

    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), -5px -9px 8px rgba(0, 0, 0, 0.05);
    height: 100%;
    width: $CASS_VIEW_MODES_WIDTH;
    background-color: #f5f5f5;
    justify-content: space-between;

    .top {


    }

    .bottom {
      position: absolute;
      bottom: 0;
    }
  }

  hr.list-separator {
    width: 60%;
    border: 0;
    border-top: 1px solid #d0d0d0;
  }

  ul.list {
    margin: 10px;


    li.list-item {
      margin-bottom: 4px;


      a {
        display: block;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #EAEAEA;
        color: #333;

        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;

        i.fa {
          font-size: 12px;
        }

        &:hover {
          background: #E6EBF7;
          border-color: darken(#E6EBF7, 10%);
        }

        &:active, &.active {
          color: #fff;
          background-color: #667FB2;

          &:hover {
            background-color: darken(#667FB2, 20%);
          }
        }
      }
    }
  }
}
