article.component.component-profile-card-header((click)='goProfile()')
  .profile-image
    .profile-image-container
      cass-profile-image(border="circle", [url]="getImageURL()")
  .profile-about
      .profile-name
        h1 {{ getProfileName() }}
      .profile-settings
        div(*ngIf="hasTime()")
          span {{ getTime() }}
