article.component.component-post-attachment
  cass-post-attachment-link-youtube(*ngIf="is('youtube')", [attachment]="attachment")
  cass-post-attachment-link-image(*ngIf="is('image')", [attachment]="attachment")
  cass-post-attachment-link-page(*ngIf="is('page')", [attachment]="attachment")
  cass-post-attachment-link-webm(*ngIf="is('webm')", [attachment]="attachment")
  cass-post-attachment-link-unknown(*ngIf="is('unknown')", [attachment]="attachment")