@import "./../../../../../styles/globals";

.profile-im-messages {
  height:100%;
  display: flex;
  flex-direction: column;

  header,
  footer {
    background: $MATERIAL_BACKGROUND;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  header {
    position: relative;
    z-index: 1;
    
    h1{
      font-size: $FONT_SIZE_LARGE;
      line-height: normal;
      a {
        display: inline-block;
        color: material-color("blue-grey", "800");
        text-decoration: none;
        &:hover{
          background: linear-gradient(to right, material-color("grey", "50"), $MATERIAL_BACKGROUND 80%);
        }
      }
      
    }
  }

  .content{
    height:100%;
    overflow: auto;
  
  }
  
  footer {
    .cass-padding-box-15{
      display: flex;
      
      .profile-im-textarea {
        width:100%
      }
    }
 }
}