.profile-im-messages
  header
    h1 
      a.cass-padding-box-15([routerLink]="['Contacts']")
        i.fa.fa-chevron-left.fa-fw(aria-hidden="true")
        | &nbsp;@username
  .content(#content)
    cass-loading-linear-indicator(*ngIf="isLoading")
    cass-im-chat([messages]="im.getHistory(params.get('id'))", *ngIf="!isLoading")
    footer
      .cass-padding-box-15
        cass-profile-im-attachments([disabled]="isLoading", (attach)="attach()", detach="detach()")
        cass-im-textarea.profile-im-textarea([disabled]="isLoading", (send)="onSend($event)")            