.profile-im-messages
  header
    h1 
      a.cass-padding-box-15([routerLink]="['Contacts']")
        i.fa.fa-chevron-left.fa-fw(aria-hidden="true")
        | &nbsp;@username
  .content(#content)
    cass-loading-linear-indicator(*ngIf="isLoading")
    cass-profile-im-chat-history([history]="im.history", *ngIf="!isLoading")
    footer
      .cass-padding-box-15
        cass-profile-im-textarea([disabled]="isLoading")