div.component.component-collection-card-grid.x-navigation-entity
  a((click)="open($event)", [routerLink]="helper.getRouterParams(entity)")
    .collection-card-content
      .cover-collection-image
        .collection-image-container([ngStyle]="{'background-image': 'url(' + helper.getImageURL() + ')'}")
      .cover-collection-about
        .collection-name
          h1 {{ helper.getCollectionName() }}
        .collection-themes
          ul.themes-list(*ngIf="helper.hasTheme()")
            li(*ngFor="let theme of helper.getThemes()")
              span.title {{ theme.title }}
