article.component.component-profile
  div(*ngIf="isSetupRequired()")
    cass-modal
      cass-modal-box(width="550px")
        cass-profile-setup([profile]="getCurrentProfile()")
  div(*ngIf="modals.settings.isOpened()")
    cass-modal
      cass-modal-box(width="760px")
        cass-profile-settings((close)='closeModalSettings($event)')
  div(*ngIf="modals.switcher.isOpened()")
    cass-modal
      cass-modal-box(width="360px")
        cass-profile-switcher
  div(*ngIf="modals.interests.isOpened()")
    cass-modal
      cass-modal-box(width="550px")
        cass-profile-interests-modal([profile]="getCurrentProfile()", (close)='closeModalInterests($event)', (success)='successModalInteresrs($event)')