@import "./../../../../styles/globals";

form.form-profile-setup {
  width: 480px;

  header.stage-header {
    h1 {
      font-size: 20px;
      color: material-color("grey", "900");
      margin: 20px;
      text-align: center;
    }
  }

  div.stage {
    @include disable-text-select;

    >div.container {
      padding: 20px;
      text-align: center;

      h1 {
        font-size: 20px;
        color: material-color("grey", "900");
        margin-bottom: 20px;
      }

      p {
        font-size: 14px;
        color: material-color("grey", "700");
        margin-bottom: 20px;
      }
    }
  }
}