.btn-group-vertical {
  background: #2e353d;
  color: #e1ffff;
  position: fixed;
  width: 45px;
  height: 100%;
}

.btn-group-vertical li {
  list-style: none;
  display: block;
}

.btn-group-vertical li a {
  display: block;
  padding:4px;
  color:#FFF;
  font-size: 1.5rem;
  border-left: 0 solid;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  -ms-transition: all .15s linear;
  transition: all .15s linear;
}

.btn-group-vertical li a:hover {
  border-left: 5px solid #d19b3d;
  background-color: #4f5b69;
}
