.btn-group-vertical {
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 50px;
  width: 40px;
  height: 100%;
  color: #e1ffff;
}
.btn-group-vertical li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.fa{
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5rem;
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 10px;
  cursor: pointer;
}
