<div class="container col-md-3">
    <div class="row">
        <ul class="nav nav-pills nav-stacked">
                <li><a [routerLink]="['Theme-Editor']"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li><a [routerLink]="['Profile']"><i class="fa fa-list-alt fa-fw"></i>Profile</a></li>
                <li><a [routerLink]="['Catalog']"><i class="fa fa-book fa-fw"></i>Catalog</a></li>
                <li><a><i class="fa fa-cogs fa-fw"></i>Settings</a></li>
            </ul>
    </div>
</div>




