article.component.component-community-route
  .community-page-container
    .community-menu
      div(*ngIf="isOwnCommunity()")
        cass-community-menu-own
      div(*ngIf="isOtherCommunity()")
        cass-community-menu-other
      .community-page
        .community-page-content(#content, (scroll)="emitScroll($event)")
          router-outlet