article.component.component-profile-route
  cass-form-progress-lock(*ngIf="service.isLoading()")
  div(*ngIf="service.isCommunityLoaded()").profile-page
    cass-community-header(
      [community]="service.getCommunity()",
      (go-community)="goDashboard()",
      (go-collection)="goCollection($event)"
    )
  .profile-page
    router-outlet