article.component-profile-header
  .profile-header-section
    .profile-brand-container
      .profile-image-container
        cass-profile-image([url]="getProfileURL()", border = "circle")
      .profile-greetings
        span {{ getProfileGreetings() }}
    .collection-list-container
        ul.collection-links
          li
            a([routerLink]="['./Dashboard']", href="#", class="collection-link")
              span Профиль
          li(*ngFor="#collection of entity.collections")
            a([routerLink]="['./Collections/View', { sid: collection.sid }]", class="collection-link", title="{{ collection.description }}")
              span {{ collection.title }}
          li((click)='modals.createCollection.open()')
            a(*ngIf="isOwnProfile()", class="collection-link collection-link-icon")
              i.fa.fa-plus-circle
  .profile-header-section
    .profile-buttons-container
      ul.profile-buttons
        li
          a.profile-button(href="javascript:void()")
            i.fa.fa-fw.fa-bookmark
            span Подборки
        li(*ngIf="isOwnProfile()")
          a.profile-button((click)='modals.settings.open()')
            i.fa.fa-fw.fa-cog
            span Настройки