div.component.component-community-card-list.x-navigation-entity
  .community-card-content
    .flexbox-container
      .community-image
        a.community-image-container((click)="open($event)", [routerLink]="helper.getRouterParams()")
          cass-community-image([url]="helper.getImageURL()", border="square")
      .community-info
        h1 {{ helper.getCommunityTitle() }}
      .community-themes(*ngIf="helper.hasTheme()")
        ul.themes-list
          li
            span.title {{ helper.getThemeTitle() }}