<div class="modal" tabindex="-1" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="fa fa-fw fa-upload" aria-hidden="true"></i> Upload your photo
                    </h4>
                </div>
                <div *ngIf="!showProgressBar" class="modal-body text-xs-center" >
                    <img #cropImage/>
                </div>
                <div *ngIf="cropper">
                    <div class="wrapper">
                            <div class="image"
                                 [ngStyle]="{'background-image': 'url(' + imgPath + ')'}"
                                 [style.background-position-x.px] = "getPreviewImageData('x1')"
                                 [style.background-position-y.px] = "getPreviewImageData('y1')"
                                 [style.background-size] = "getPreviewImageData('height') + 'px' + ' ' + getPreviewImageData('width') + 'px'"
                            >
                            </div>
                        </div>
                <progress class="progress progress-striped" value="{{profileService.progressBar}}" max="100"></progress>
                    <input *ngIf="profileService.tryNumber >= 2" type="button" value="Abort" class="btn btn-secondary" (click)="close()">
                </div>
                <div class="modal-footer" *ngIf="cropper && !showProgressBar">
                    <input type="button" value="Back" class="btn btn-secondary" (click)="destroyCropper()"/>
                    <input type="button" class="btn btn-primary" value="Done" (click)="submit()"/>
                </div>
                <div class="modal-footer" *ngIf="!cropper && !showProgressBar">
                    <input type="button" value="Close" class="btn btn-secondary" (click)="close()"/>
                </div>
            </div>
        </div>
</div>
<div class="modal-backdrop fade in"></div>