article.component.component-post-card
    cass-post-card-feed(
      *ngIf="isViewMode('feed')",
      [post]="post",
      [view-mode]="viewMode",
      (open-post)="openPost($event)",
      (open-attachment)="openAttachment($event)",
      (edit-post)="editPost($event)",
      (delete-post)="deletePost($event)",
      (pin-post)="deletePost($event)"
    )
    cass-post-card-grid(
      *ngIf="isViewMode('grid')",
      [post]="post",
      [view-mode]="viewMode",
      (open-post)="openPost($event)",
      (open-attachment)="openAttachment($event)",
    )
    cass-post-card-list(
      *ngIf="isViewMode('list')",
      [post]="post",
      [view-mode]="viewMode",
      (open-post)="openPost($event)",
      (open-attachment)="openAttachment($event)",
    )