div.component.component-not-enough-communities
  div
    h1 Недостаточно сообществ для отображения раздела
    p Создавайте тематические сообщества и собирайте в них энтузиастов, любителей и экспертов!
    button.form-button.form-button-green
      i.fa.fa-hashtag
      span.title Создать сообщество