base(href="/")
main#cassAppContainer.cass-app-container.component.component-frontend-app
  .sidebar
    cass-sidebar
  .content(#content, (scroll)='appService.onScroll($event)')
    cass-message-bus-notifications
    cass-auth
    cass-account
    cass-profile
    cass-community
    router-outlet