main#cassAppContainer.cass-app-container.component.component-frontend-app
  .sidebar
    cass-sidebar
  .content(id='content', (scroll)='onScroll()')
    cass-message-bus-notifications
    cass-auth
    cass-account
    cass-profile
    cass-community
    router-outlet