main#cassAppContainer.cass-app-container.component.component-frontend-app
  .sidebar
    cass-sidebar
  .content
    cass-message-bus-notifications
    cass-auth
    cass-account
    cass-profile
    cass-community
    cass-feedback
    router-outlet