.profile-im-messages
  ul.chatlog 
    li
      img.avatar(src="/dist/assets/profile-default.png")
      .message
        .from hck
        .text я еще на работе...
        .text я еще на работе...
        .text я еще на работе...
    li
      img.avatar(src="/dist/assets/profile-default.png")
      .message
        .from hck
        .text я еще на работе...
    li
      img.avatar(src="/dist/assets/profile-default.png")
      .message
        .from hck
        .text я еще на работе...
    li
      img.avatar(src="/dist/assets/profile-default.png")
      .message
        .from hck
        .text я еще на работе...
    li
      img.avatar(src="/dist/assets/profile-default.png")
      .message
        .from hck
        .text я еще на работе...
    li
      img.avatar(src="/dist/assets/profile-default.png")
      .message
        .from hck
        .text я еще на работе...
    li
      img.avatar(src="/dist/assets/profile-default.png")
      .message
        .from hck
        .text я еще на работе...

  footer
    .cass-padding-box-15
      cass-profile-im-textarea