.profile-im-messages
  ul.chatlog(#chatlog) 
    li(*ngFor="#message of imModel.history", [ngClass]="{'sending': !message.isSended, 'error': message.hasError}")
      img.avatar(
        src="{{message.source_profile.profile.image.variants['64'].public_path}}"
      )
      .message
        .from {{message.source_profile.profile.greetings.greetings}}
        .text {{message.content}}
  footer
    .cass-padding-box-15
      cass-profile-im-textarea((send)="send($event)")