<div class="profile-modal-tab-interests">
  <div class="screen-interesting-in" *ngIf="screen.isOn('InterestingIn')">
    <div class="form">
      <header class="tab-modal-header">
        <h1>
          <span class="screen-selector">
            <span class="tab tab-active" (click)="screen.go('InterestingIn');">Интересы</span>
            <span class="separator">|</span>
            <span class="tab" (click)="screen.go('ExpertIn');">Экспертиза</span>
          </span>
        </h1>
        <p class="sub">То, чем вы интересуетесь, хотя и не во всем в действительности разбираетесь</p>
      </header>
      <cass-theme-select [value]="model.profile.interesting_in_ids"></cass-theme-select>
    </div>
  </div>
  <div class="sreen-expert-in" *ngIf="screen.isOn('ExpertIn')">
    <div class="form">
      <header class="tab-modal-header">
        <h1>
          <span class="screen-selector">
            <span class="tab" (click)="screen.go('InterestingIn');">Интересы</span>
            <span class="separator">|</span>
            <span class="tab tab-active" (click)="screen.go('ExpertIn');">Экспертиза</span>
          </span>
        </h1>
        <p class="sub">То, чем вы не только интересуетесь, но еще и являетесь экспертом</p>
      </header>
      <cass-theme-select [value]="model.profile.expert_in_ids"></cass-theme-select>
    </div>
  </div>
</div>