@import "./../../../../styles/globals";

div.cass-modal-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

@include isMobile {
  div.cass-modal-box {
    background-color: white;
    position: absolute;
    top: 0; height: 100%;
    left: 0; right: 0; width: 100%!important;
  }
}

@include isDesktop {
  div.cass-modal-box {
    @include card(2);
    background-color: white;
    border-radius: 3px;
  }
}