@import "./../../../../../styles/globals";

div.component-cass-header {
  div.flexbox-container {
    @include card(1);
    background-color: #425884;
    height: $CASS_HEADER_HEIGHT;
    display: flex;
    align-items: center;
  }

  a.search-sidebar-item {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: $CASS_HEADER_HEIGHT;
    width: $CASS_SIDEBAR_WIDTH;

    div.image {
      font-size: 20px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &.active {
      background-color: darken(#4E5F81, 20%);

      &:hover {
        background-color: darken(#4E5F81, 25%);
      }
    }
  }

  div.section-main-menu {
    width: $CASS_SIDEBAR_WIDTH;
  }

  div.section-right-sidebar {
    flex-shrink: 0;
    flex-basis: $CASS_VIEW_MODES_WIDTH;
    border-left: 1px solid lighten(#4E5F81, 10%);
  }

  div.section-yoozer-logo {
    width: 250px;
    text-align: right;
    margin-right: 18px;

    span.brand {
      font-size: 18px;
      line-height: $CASS_HEADER_HEIGHT;
      font-weight: 500;
      color: rgba(255,255,255, 0.6);
    }
  }

  div.section-search-box {
    width: 100%;
    margin-left: 8px;
  }

  div.section-extended {

  }
}