div.component.component-cass-header
  div.flexbox-container
    div.section-main-menu
      ul.sidebar-items
        li
          a.search-sidebar-item.active(href="javascript:void(0)", (click)="toggleSearch()")
            div.image
              i.fa.fa-search
    div.section-extended
      cass-header-switcher-extended([controls]="this.ui.panels.extended", [title]="'cass.module.header.filter.title' | translate")
    div.section-search-box
      div
    div.section-yoozer-logo
      span.brand Yoozer
    div.section-right-sidebar
      cass-header-switcher([controls]="this.ui.panels.viewModes")