.page.page-community
  .form.cass-padding-box-15
    .form-placeholder-text
      .community
        .cass-padding-box-15(
          *ngIf='service.community'
        )
          h1 {{service.community.title}}
          p(
            *ngIf="service.community.description"
          ) {{service.community.description}}
          img(
            src="{{service.community.image.variants['default'].public_path}}"
          )
        .loading(
          *ngIf="isLoading"
        )
          cass-modal
            i.fa.fa-cog.fa-spin.fa-3x.fa-fw
            span Получаем информацию о коммунити...
        pre.debug {{service.community| json}}
