<article class="page page-community">
    <div class="form cass-padding-box-15">
        <div class="form-placeholder-text">
            <div class="community">
                <div *ngIf="service.community" class="cass-padding-box-15">
                    <h1>{{service.community.title}}</h1>
                    <div *ngIf="service.isAdmin">Вы администратор этого сообщества</div>
                    <img *ngIf="service.community.has_image" src="/public/storage/community/community-image{{service.community.image.public_path}}"/>
                </div>
                <div class="loading" *ngIf="isLoading">
                    <cass-modal>
                        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                        <span>Получаем информацию о коммунити...</span>
                    </cass-modal>
                </div>
                <!--START-DEBUG-->
                <pre class="debug">{{service.community| json}}</pre>
                <button class="form-button form-button-primary" (click)="reset()">reset()</button>
                <button class="form-button form-button-primary" (click)="ngOnInit()">ngOnInit()</button>
                <!--END-DEBUG-->
            </div>
        </div>
    </div>
    <div *ngIf="modalsService.modals.settings.isOpened()">
        <cass-community-settings-modal (close)="modalsService.modals.settings.close()"></cass-community-settings-modal>
    </div>
</article>


