@import "./../../../../../../../styles/globals";

div.component-post-list-grid {
  display: inline-block;

  ul.post-list {
    li.post-list-item {
      width: 200px;
      height: 172px;

      display: inline-block;
      margin: 10px;
      text-align: left;
      vertical-align: top;

      div.post-card-container {
        cursor: pointer;

        width: 100%;
        height: 100%;
        border-radius: 3px;
      }
    }
  }
}