div.component.component-profile-cards-list
  div.view-mode-feed(*ngIf="isViewMode('feed')")
    ul.profiles-list
      li(*ngFor="let profile of profiles")
        .profile-card-container
          cass-profile-card([profile]="profile", (open)="open($event)", [theme-list-mode]="themeListMode", view-mode="feed")
  div.view-mode-grid(*ngIf="isViewMode('grid')")
    ul.profiles-list
      li(*ngFor="let profile of profiles")
        .profile-card-container
          cass-profile-card([profile]="profile", (open)="open($event)", [theme-list-mode]="themeListMode", view-mode="grid")
  div.view-mode-list(*ngIf="isViewMode('list')")
    ul.profiles-list
      li(*ngFor="let profile of profiles")
        .profile-card-container
          cass-profile-card([profile]="profile", (open)="open($event)", [theme-list-mode]="themeListMode", view-mode="list")