article.component.component-profile-cards-list
  ul.profile-cards
    li
      cass-profile-card([profile]="entity.profile")
    li
      cass-profile-interests-card
    li
      cass-profile-create-collection-card
    li
      cass-profile-settings-card