@import "./../../../../styles/globals";

form.form-auth-sign-in {
  @include disable-text-select;

  width: 500px;
}

div.stages {
  &>div.stage {
    display: none;
  }
}

div.stage-show-1 {
  div.stage-1 {
    display: block;
  }
}

div.stage-show-2 {
  div.stage-2 {
    display: block;
  }
}

div.stage-show-3 {
  div.stage-3 {
    display: block;
  }
}

div.stage-show-4 {
  div.stage-4 {
    display: block;
  }
}

div.stage-show-5 {
  div.stage-5 {
    display: block;
  }
}

div.stage-show-6 {
  div.stage-6 {
    display: block;
  }
}