<form class="form form-auth-sign-in">
  <div class="cass-padding-box-10">
    <div class="input-group">
      <label class="form-label">
        <span class="label-text">E-mail</span>
        <input type="text" class="form form-input" placeholder="Адрес электронного ящика, указанного при регистрации"/>
      </label>
    </div>
    <div class="input-group">
      <label class="form-label">
        <span class="label-text">Пароль</span>
        <input type="password" class="form form-input" placeholder="Пароль к вашему аккаунту"/>
      </label>
    </div>
  </div>
  <footer class="form-footer">
    <div class="cass-padding-box-15">
      <div class="cass-half">
        <div class="left">
        </div>
        <div class="right">
          <button type="button" class="form-button">Закрыть</button>
          <button type="submit" class="form-button form-button-primary">Войти</button>
        </div>
      </div>
    </div>
  </footer>
</form>