<div class="stages stage-show-1">
  <div class="stage stage-1 stage-normal">
    <form class="form form-auth-sign-in" (ngSubmit)="attemptSignIn()" (keyup.escape)="service.modals.closeModals()">
      <div class="cass-padding-box-10">
        <div class="input-group">
          <p class="form-text">Войдите с помощью социальных сетей: </p>
          <div class="cass-padding-box-5">
            <cass-auth-oauth2></cass-auth-oauth2>
          </div>
        </div>
        <div class="input-group">
          <label class="form-label">
            <span class="label-text">Либо используйте аккаунт нашего сервиса: </span>
            <input type="email" class="form form-input"
                    placeholder="Адрес электронного ящика, указанного при регистрации"
                    autocomplete="off"
                    autofocus="autofocus"
                    tabindex="1"
                    [(ngModel)]="personalInfo.email"
            />
          </label>
        </div>
        <div class="input-group">
          <label class="form-label">
            <span class="label-text">Пароль</span>
            <input type="password" class="form form-input"
                   placeholder="**********"
                   autocomplete="off"
                   tabindex="2"
                   [(ngModel)]="personalInfo.password"
            />
          </label>
        </div>
      </div>
      <footer class="form-footer">
        <div class="form-footer-section">
          <div class="cass-padding-box-5">
            <button type="button" tabindex="4" class="form-text-button" (click)="createNewAccount()">Создать аккаунт</button>
          </div>
        </div>
        <div class="form-footer-section">
          <div class="form-footer-item">
            <div class="cass-padding-box-5">
              <button type="button" tabindex="5" class="form-text-button" (click)="service.modals.closeModals()">Закрыть</button>
              <button type="submit" tabindex="3" class="form-button form-button-primary">Войти</button>
            </div>
          </div>
        </div>
      </footer>
    </form>
  </div>
  <div class="stage stage-2 stage-validation-errors">
    <form class="form form-auth-sign-in">
      <div class="error-message-box">
        <div class="urgent">
          <span>Произошла какая-то непонятная странная ошибка. Даже и не знаем, к чему она!</span>
        </div>
      </div>
      <div class="cass-padding-box-10">
        <div class="input-group">
          <p class="form-text">Войдите с помощью социальных сетей: </p>
          <div class="cass-padding-box-5">
            <cass-auth-oauth2></cass-auth-oauth2>
          </div>
        </div>
        <div class="input-group">
          <label class="form-label">
            <span class="label-text">Либо используйте аккаунт нашего сервиса: </span>
            <input type="email" class="form form-input ng-invalid"
                   placeholder="Электронная почта, указанная при регистрации"
                   autocomplete="off"
                   autofocus="autofocus"
                   tabindex="1"
            />
          </label>
          <div class="input-error">
            Укажите электронную почту (<em>your@email.com</em>).
          </div>
        </div>
        <div class="input-group">
          <label class="form-label">
            <span class="label-text">Пароль</span>
            <input type="password" class="form form-input ng-invalid"
                   placeholder="**********"
                   autocomplete="off"
                   tabindex="2"
            />
          </label>
          <div class="input-error">
            Введенный вами пароль не подходит. Попробуйте ввести его еще раз.
          </div>
        </div>
      </div>
      <footer class="form-footer">
        <div class="form-footer-section">
          <div class="cass-padding-box-5">
            <button type="button" tabindex="4" class="form-text-button">Создать аккаунт</button>
          </div>
        </div>
        <div class="form-footer-section">
          <div class="form-footer-item">
            <div class="cass-padding-box-5">
              <button type="button" tabindex="5" class="form-text-button">Закрыть</button>
              <button type="submit" tabindex="3" class="form-button form-button-primary">Войти</button>
            </div>
          </div>
        </div>
      </footer>
    </form>
  </div>
  <div class="stage stage-3 stage-in-progress">
    <form class="form form-auth-sign-in">
      <div class="cass-padding-box-10">
        <div class="input-group">
          <p class="form-text">Войдите с помощью социальных сетей: </p>
          <div class="cass-padding-box-5">
            <cass-auth-oauth2></cass-auth-oauth2>
          </div>
        </div>
        <div class="input-group">
          <label class="form-label">
            <span class="label-text">Либо используйте аккаунт нашего сервиса: </span>
            <input type="email" class="form form-input"
                   placeholder="Адрес электронного ящика, указанного при регистрации"
                   autocomplete="off"
                   autofocus="autofocus"
                   tabindex="1"
                   value="some@gmail.com"
                   disabled
            />
          </label>
        </div>
        <div class="input-group">
          <label class="form-label">
            <span class="label-text">Пароль</span>
            <input type="password" class="form form-input"
                   placeholder="**********"
                   autocomplete="off"
                   tabindex="2"
                   value="*******"
                   disabled
            />
          </label>
        </div>
      </div>
      <footer class="form-footer">
        <div class="form-footer-section">
          <div class="cass-padding-box-5">
            <button type="button" tabindex="4" class="form-text-button" disabled>Создать аккаунт</button>
          </div>
        </div>
        <div class="form-footer-section">
          <div class="form-footer-item">
            <div class="cass-padding-box-5">
              <button type="button" tabindex="5" class="form-text-button">Закрыть</button>
              <button type="submit" tabindex="3" class="form-button form-button-primary" disabled>
                <cass-loading-indicator></cass-loading-indicator>
              </button>
            </div>
          </div>
        </div>
      </footer>
    </form>
  </div>
</div>