<div class="container-fluid component component-post-form {{getComponentCSSClass()}}">
  <form (ngSubmit)="ngSubmit()">
    <div class="row textarea-content-box">
      <div class="col-md-12">
        <textarea class="content" [(ngModel)]="model.content" placeholder="What's up with you?"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="pull-right">
          <button type="submit" [disabled]="!isSubmitAvailable()" class="btn btn-primary">Publish</button>
        </div>
      </div>
    </div>
  </form>
</div>