article.component.component-community-create-collection-card((click)="openCreateCollectionMaster()")
  .card-content
    .settings-icon-container
      .settings-icon
        i.fa.fa-plus
    .card-about
      h1 Создайте подборку
      p Подборка – это контент, который вы тематизировали и который вы собираете сами.&nbsp;
        | Ваш контент увидят тысячи наших посетителей, если вы с любовью отнесетесь к сбору контента.
      button.form-button.form-button-green((click)="openCreateCollectionMaster()")
        span Открыть мастер создания подборки