@import "./../../../../../../../styles/globals";

div.route-public-content-feed {
  .post-form {
    margin-top: 20px;
    margin-bottom: 40px;

    .post-form-container {
      width: 550px;
      margin: 0 auto;
    }
  }
}