div.component.component-not-enough-collections
  div
    h1 Недостаточно тематических подборок для отображения раздела
    p Создавайте подборки тематического контента с помощью своего профиля
    button.form-button.form-button-primary(*ngIf="isSignedIn()", (click)="goMyCollections()")
      i.fa.fa-th-large
      span.title Мои подборки
    button.form-button.form-button-primary(*ngIf="! isSignedIn()", (click)="signIn()")
      i.fa.fa-sign-in
      span.title Вход / Регистрация
