div.component.component-backdrop-preview
  div.preview-backdrop.preview-backdrop-none
    div.image-container
      div.image([ngStyle]="{'background-image': 'url(' + getBackdropImage() + ')'}")
      div.sample([ngStyle]="{'color': sampleColor}")
        span {{ sampleText }}