cass-modal
  cass-modal-box(width="800px")
    article.component.component-community-settings-modal
      .tab-modal
        .tab-panel
          .top
            ul.tab-list
              li
                button.tab-link(
                  (click)="screens.goto('General')",
                  [ngClass]="{'tab-link-active': screens.isOn('General')}"
                )
                  span Основные
              li
                button.tab-link(
                  (click)="screens.goto('Features')",
                  [ngClass]="{'tab-link-active': screens.isOn('Features')}"
                )
                  span Разделы
              li
                button.tab-link(
                  (click)="screens.goto('Image')",
                  [ngClass]="{'tab-link-active': screens.isOn('Image')}"
                )
                  span Изображение
        .tab-content
          .tab-content-container
            .tab-general(*ngIf="screens.isOn('General')")
              cass-community-settings-tab-general
          .tab-content-container
            .tab-features(*ngIf="screens.isOn('Features')")
              cass-community-settings-tab-features
          .tab-content-container
            .tab-image(*ngIf="screens.isOn('Image')")
              cass-community-settings-tab-image
          footer.tab-content-footer
            .left
              cass-form-button(type="button",title="ЗАКРЫТЬ",styles="text",(click)='close()')
            .right
              cass-form-button(*ngIf='canSave()',type="button",title="Отменить изменения",styles="text",(click)='reset()')
              cass-form-button(title="СОХРАНИТЬ",type="button",styles="solid",color="green",(click)='saveAllChanges()',[disabled]='!canSave()')
              cass-form-button(*ngIf="loading",type="button",title="СОХРАНИТЬ",styles="solid",icon="'fa fa-spinner fa-pulse fa-fw'",color="green",(click)='saveAllChanges()',[disabled]='!canSave()')
