cass-community-create-modal-form((abort)="abort()", (next)="next()")
  .form
    .input-group
      label.form-label
        span.label-text Название
        cass-form-input(type="text",#input ,placeholder="Название, заголовок сообщества",[(value)]="model.title",minlength="3", maxlength = "30")
    .input-group
      label.form-label
        span.label-text Описание
        cass-form-input(type="text",#input ,placeholder="(Опционально) В одну строку про сообщество",[(value)]="model.description")
    .input-group
      label.form-label
        span.label-text Тематика
          cass-theme-select([value]='model.theme_ids', multiple="false")