@import "./../../../../styles/globals";

$HEIGHT_DEFAULT: 150px;
$HEIGHT_EXPANDED: 300px;

.demo-post-form {
  width: 450px;
  margin: 20px;
}

article.component-post-form {
  .content-container {
    @include card(1);
    background-color: white;

    height: $HEIGHT_DEFAULT;
    transition: height .4s cubic-bezier(.25,.8,.25,1);

    textarea.content {
      width: 100%;
      height: 100%;
      resize: none;
      font-family: $FONT_FAMILY;
      font-size: 16px;
      line-height: 20px;
      color: black;
      box-sizing: border-box;
      border: 0;
      padding: 10px;
    }

    .attachment-window {
      border-top: 1px solid material-color("grey", "500");
    }
  }

  .attachment-controls {
    ul {
      display: flex;

      button.attachment-control-button {
        cursor: pointer;
        font-size: 16px;
        color: material-color("grey", "500");
        text-align: center;
        width: 100%;
        line-height: 40px;
      }
    }
  }
}

article.component-post-form_expanded {
  .content-container {
    height: $HEIGHT_EXPANDED;
  }
}