div
  textarea(placeholder="text and URL's", [(ngModel)]='text')


button(type='button', (click)='openAttachModal()') Прикрепить файл
button(type='button') Отмена
button(type='button') Создать

div(*ngIf='attachFile')
