article.component.component-post-form
  form.form.card
    .post-form-section
      .post-content-container
        textarea.content(
          placeholder="Новый пост…"
        )
    .post-form-section
      footer.post-form-footer
        .form-section
          button(type="button").form-text-button
            span Отмена
        .form-section
          button(type="submit").form-button.form-button-green
            span Разместить
    .post-form-section
      .attachment
        .attachment-link.attachment-link-with-image
          .link-image
            .max-image-container
              .image
                img(src="/dist/demo.png")
          .link-about
            h1 Link Title
            h2 http://some.com/url/here
            p A lond description goes here
        .attachment-link.attachment-link-without-image
          .link-image
            .max-image-container
              .image
                img(src="/dist/demo.png")
          .link-about
            h1 Link Title
            h2 http://some.com/url/here
            p A lond description goes here
        .attachment-image
          .max-image-container
            .image
              img(src="/dist/demo.png")
        .attachment-webm
        .attachment-file
        .attachment-youtube
      .attachment-actions
        .attachment-actions-section
        .attachment-actions-section
          button(type="button").form-text-button
            span Удалить приложение
  .attachment-controls
    .attach-control.attach-link
      button.attach-button
        i.fa.fa-link
        span.title Прикрепить ссылку
    .attach-control.attach-file
      button.attach-button
        i.fa.fa-cloud-upload
        span.title Прикрепить файл