article.component.component-collections-list
  .collection-cards-container
    .list-items
      .collection-card-item(*ngFor="#collection of collections")
        cass-collection-card([entity]="collection")
      .collection-card-item(*ngIf="isOwn")
        cass-create-collection-card