@import "./globals";

a:hover, a:active, a:focus, a:active {
  outline: 0!important;
}

body {
  &>div#loading {
    z-index: 99999;
    background-color: white;
    position: fixed;
    top: 0; height: 100%;
    left: 0; width: 100%;

    div.image {
      width: 16px;
      height: 11px;
      position: absolute;
      top: 50%; margin-top: -8px;
      left: 50%; margin-left: -5px;
    }
  }
}

#cassAppContainer {
  min-width: 640px;
  margin: 25px 25px 25px 360px;
}