/* Coolors Exported Palette - coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */

$bcolor1: #e63946; //rgba(230, 57, 70, 100)
$bcolor2: #f1faee; //rgba(241, 250, 238, 100)
$bcolor3: #a8dadc; //rgba(168, 218, 220, 100)
$bcolor4: #457b9d; //rgba(69, 123, 157, 100)
$bcolor5: #1d3557; //rgba(29, 53, 87, 100)

/* Coolors Exported Palette - coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1 */
$color1: #dcdcdd; //rgba(220, 220, 221, 100)
$color2: #c5c3c6; //rgba(197, 195, 198, 100)
$color3: #46494c; //rgba(70, 73, 76, 100)
$color4: #4c5c68; //rgba(76, 92, 104, 100)
$color5: #1985a1; //rgba(25, 133, 161, 100)

/* Coolors Exported Palette - coolors.co/5bc0eb-fde74c-9bc53d-e55934-fa7921 */

$lcolor1: #5bc0eb; //rgba(91, 192, 235, 100)
$lcolor2: #fde74c; //rgba(253, 231, 76, 100)
$lcolor3: #9bc53d; //rgba(155, 197, 61, 100)
$lcolor4: #e55934; //rgba(229, 89, 52, 100)
$lcolor5: #fa7921; //rgba(250, 121, 33, 100)

$mainMenuColor1: #ffffff;
$mainMenuColor2: #e0e0e0;
$mainMenuColor3: #6C6E71;