/* Coolors Exported Palette - coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */

$color1: #e63946; //rgba(230, 57, 70, 100)
$color2: #f1faee; //rgba(241, 250, 238, 100)
$color3: #a8dadc; //rgba(168, 218, 220, 100)
$color4: #457b9d; //rgba(69, 123, 157, 100)
$color5: #1d3557; //rgba(29, 53, 87, 100)