.container-fluid
  .row.row-offcanvas.row-offcanvas-left
    .col-md-3.col-lg-2.sidebar-offcanvas.p-l-0(role='navigation')
      cass-feedback-landing-sidebar
    .col-md-9.col-lg-10.main
      cass-feedback-landing-sidebar-toggler

      .card-columns
        cass-feedback-card(
          *ngFor="#feedback of feedbacks",
          [data]="feedback"
        )
        .card.card-block
            h4.card-title Card title that wraps to a new line
            p.card-text
              | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card.card-block
          blockquote.card-blockquote
            p Bootstrap 4 will be lighter and easier to customize.
            footer
              small.text-muted
                | Someone famous like 
                cite(title='Source Title') Mark Otto
        .card.card-block
            h4.card-title Card title
            p.card-text This card has supporting text below as a natural lead-in to additional content.
            p.card-text
              small.text-muted Last updated 3 mins ago
        .card.card-block.card-inverse.card-primary.text-center
          blockquote.card-blockquote
            p Create masonry or Pinterest-style card layouts in Bootstrap 4.
            footer
              small
                | Someone famous in 
                cite(title='Source Title') Bootstrap
        .card.card-block.text-center
          h4.card-title Clever heading
          p.card-text This card has supporting text below as a natural lead-in to additional content.
          p.card-text
            small.text-muted Last updated 5 mins ago
        .card.card.card-block.text-right
          blockquote.card-blockquote
            p There are also some interesting new text classes to uppercase or capitalize.
            footer
              small.text-muted
                | Someone famous in 
                cite(title='Source Title') Bootstrap
        .card.card-block
          h4.card-title Responsive
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
          p.card-text
            small.text-muted Last updated 3 mins ago
        .card.card-block
            ul.list-unstyled
              li.text-capitalize
                code.text-lowercase text-capitalize
                |  Capitalize each word
              li.text-uppercase
                code.text-lowercase text-uppercase
                |  Uppercase text
              li.text-success
                code text-success
                |  Contextual colors for text
              li
                code text-muted
                span.text-muted Lighten with muted
              li
                code text-info
                span.text-muted Info text color
              li
                code text-danger
                span.text-muted Danger text color
              li
                code text-warning
                span.text-muted Warning text color
              li
                code text-primary
                span.text-primary Primary text color
        .card.card-block
          h4.card-title Heading
          p.card-text
            | So now that you've seen some of what Bootstrap 4 has to offer, are you going to give it a try?
          p.card-text
            small.text-muted Last updated 12 mins ago
      // /card-columns
      a#layouts
      hr
      h2.sub-header Interesting layouts and elements
      .row
        .col-lg-6
          .card
            .card-header
              | Bye .well, .panel & .thumbnail
            .card-block
              h4.card-title Replaced with .card
              p.card-text
                | All of these Bootstrap 3.x components have been dropped entirely for the new card component.
              button.btn.btn-secondary.btn-lg(type='button') Large
        .col-lg-6
          // Nav tabs
          ul.nav.nav-tabs(role='tablist')
            li.nav-item
              a.nav-link.active(href='#home1', role='tab', data-toggle='tab') Home
            li.nav-item
              a.nav-link(href='#profile1', role='tab', data-toggle='tab') Profile
            li.nav-item
              a.nav-link(href='#messages1', role='tab', data-toggle='tab') Messages
            li.nav-item
              a.nav-link(href='#settings1', role='tab', data-toggle='tab') Settings
          // Tab panes
          .tab-content
            br
            #home1.tab-pane.active(role='tabpanel')
              h4 Home
              p
                | 1. These Bootstrap 4 Tabs work basically the same as the Bootstrap 3.x tabs.
                br
                br
                button.btn.btn-primary-outline.btn-lg Wow
            #profile1.tab-pane(role='tabpanel')
              h4 Pro
              p
                | 2. Tabs are helpful to hide or collapse some addtional content.
            #messages1.tab-pane(role='tabpanel')
              h4 Messages
              p
                | 3. You can really put whatever you want into the tab pane.
            #settings1.tab-pane(role='tabpanel')
              h4 Settings
              p
                | 4. Some of the Bootstrap 3.x components like well and panel have been dropped for the new card component.
        .clearfix
        .col-lg-6
          .card.card-default.card-block
            ul#tabsJustified.nav.nav-tabs.nav-justified
              li.nav-item
                a.nav-link(href='', data-target='#tab1', data-toggle='tab') List
              li.nav-item
                a.nav-link.active(href='', data-target='#tab2', data-toggle='tab') Profile
              li.nav-item
                a.nav-link(href='', data-target='#tab3', data-toggle='tab') More
            // /tabs
            br
            #tabsJustifiedContent.tab-content
              #tab1.tab-pane.fade
                .list-group
                  a.list-group-item(href='')
                    span.pull-right.label.label-success 51
                    |  Home Link
                  a.list-group-item(href='')
                    span.pull-right.label.label-success 8
                    |  Link 2
                  a.list-group-item(href='')
                    span.pull-right.label.label-success 23
                    |  Link 3
                  a.list-group-item.text-muted(href='') Link n..
              #tab2.tab-pane.fade.active.in
                .row
                  .col-sm-7
                    h4 Profile Section
                    p Imagine creating this simple user profile inside a tab card.
                  .col-sm-5
                    img.pull-right.img-responsive.img-rounded(src='//placehold.it/170')
                hr
                a.btn.btn-info.btn-block(href='javascript:;') Read More Profiles
                .spacer5
              #tab3.tab-pane.fade
                .list-group
                  a.list-group-item(href='')
                    span.pull-right.label.label-info.label-pill 44
                    code .panel
                    |  is now 
                    code .card
                  a.list-group-item(href='')
                    span.pull-right.label.label-info.label-pill 8
                    code .nav-justified
                    |  is deprecated
                  a.list-group-item(href='')
                    span.pull-right.label.label-info.label-pill 23
                    code .badge
                    |  is now 
                    code .label-pill
                  a.list-group-item.text-muted(href='') Message n..
            // /tabs content
          // /card
        // /col
        .col-lg-6
          #accordion(role='tablist', aria-multiselectable='true')
            .card
              #headingOne.card-header(role='tab')
                a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                  | Collapsible Group Item #1
              #collapseOne.card-block.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                p
                  | This is a Bootstrap 4 accordion that uses the 
                  code .card
                  |  classes instead of 
                  code .panel
                  | . The single-open section aspect is not working because the parent option (dependent on .panel) has not yet been finalized in BS 4 alpha.
              #headingTwo.card-header(role='tab')
                a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                  | Collapsible Group Item #2
              #collapseTwo.card-block.collapse(role='tabpanel', aria-labelledby='headingTwo')
                p
                  | Just like it's predecesor, Bootstrap 4 is mobile-first so that you start by designing for smaller devices such as smartphones and tablets, then proceed to laptop and desktop layouts.
              #headingThree.card-header(role='tab')
                a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                  | Collapsible Group Item #3
              #collapseThree.card-block.collapse(role='tabpanel', aria-labelledby='headingThree')
                p
                  | Bootstrap employs a handful of important global styles and settings that you’ll need to be aware of when using it, all of which are almost exclusively geared towards the normalization of cross browser styles.
        // /col
      // /row
    // /main col

#myModal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4#myModalLabel.modal-title Large Modal
      .modal-body
        | This is a dashboard layout for Bootstrap 4. This is an example of the Modal component which you can use to show content. Any content can be placed inside the modal and it can use the Bootstrap grid classes.
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
        button.btn.btn-primary-outline(type='button', data-dismiss='modal') OK
    