@import "./../../../../styles/globals";

div.sign-out-modal {
  width: 300px;

  p {
    font-size: $FONT_SIZE_NORMAL;
    color: material-color("grey", "800");
    padding: 40px 20px 5px;
    text-align: center;
  }

  div.loading-container {
    margin: 20px;
  }
}