@import "./globals";
@import "./components/app-loading-indicator/index";
@import "./components/app-container/index";
@import "./components/padding-box/index";
@import "./components/forms/index";
@import "./components/tab-modal/index";

html {
  @include disable-text-select;

  font-family: $FONT_FAMILY;
  font-size: 13px;
}

body {
  background-color: $MATERIAL_BACKGROUND;
}

p {
  font-size: $FONT_SIZE_NORMAL;
}