article.component.component-html
  header
    h1 Верстка
  ul
    li
      a([routerLink]="['./ColorPickerDemo']") ColorPicker
    li
      a([routerLink]="['./CollectionCreateMasterDemo']") CollectionCreateMasterDemo
    li
      a([routerLink]="['./ProgressBarDemo']") ProgressBarDemo
    li
      a([routerLink]="['./CommunitySettingsModalDemo']") CommunitySettingsModalDemo
    li
      a([routerLink]="['./CollectionSettingsDemo']") CollectionSettingsDemo
  br
  router-outlet