.route.route-profile-subscriptions.route-profile-subscriptions-themes
  .profile-header
    cass-profile-header([profile]="helper.getCurrentProfileEntity()")
  .posts
    div(*ngIf="feed.isNothingFound()")
      cass-profile-subscriptions-nothing-posted(type="theme")
    cass-feed-post-stream