paths:
    migrations: %%PHINX_CONFIG_DIR%%/db/migrations
    seeds: %%PHINX_CONFIG_DIR%%/db/seeds

environments:
    default_migration_table: phinxlog
    default_database: cass_development
    cass_development:
        adapter: mysql
        host: localhost
        name: cass_development
        user: root
        pass: 1234
        port: 3306
        charset: utf8