<phpunit bootstrap="bootstrap/bootstrap-phpunit.php">
    <testsuites>
        <testsuite name="application">
            <directory>src/Application/src/Tests</directory>
        </testsuite>
        <testsuite name="application_frontline">
            <directory>src/Application/bundles/Frontline/src/Tests</directory>
        </testsuite>
        <testsuite name="domain_account">
            <directory>src/Domain/bundles/Account/src/Tests</directory>
        </testsuite>
        <testsuite name="domain_auth">
            <directory>src/Domain/bundles/Auth/src/Tests</directory>
        </testsuite>
        <testsuite name="domain_profile">
            <directory>src/Domain/bundles/Profile/src/Tests</directory>
        </testsuite>
        <testsuite name="domain_post">
            <directory>src/Domain/bundles/Post/src/Tests</directory>
        </testsuite>
        <testsuite name="domain_profile_im">
            <directory>src/Domain/bundles/ProfileIM/src/Tests</directory>
        </testsuite>
        <testsuite name="domain_theme">
            <directory>src/Domain/bundles/Theme/src/Tests</directory>
        </testsuite>
        <testsuite name="domain_community">
            <directory>src/Domain/bundles/Community/src/Tests</directory>
        </testsuite>
        <testsuite name="domain_collection">
            <directory>src/Domain/bundles/Collection/src/Tests</directory>
        </testsuite>
        <testsuite name="domain_profile_communities">
            <directory>src/Domain/bundles/ProfileCommunities/src/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>