<phpunit bootstrap="bootstrap/bootstrap-phpunit.php">
    <testsuites>
        <testsuite name="application">
            <directory>src/Application/src/Tests</directory>
        </testsuite>
        <testsuite name="domain_theme">
            <directory>src/Domain/bundles/Theme/src/Tests</directory>
        </testsuite>
        <testsuite name="domain_community">
            <directory>src/Domain/bundles/Community/src/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>