@import "./../../../../../styles/globals";

article.component-community-card {
  display: inline-block;

  .card-content {
    width: 230px;
    @include card(1);
    background-color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.1s;

    &:hover {
      background-color: material-color("grey", "100");
    }

    .community-image {
      .community-image-container {
        img {
          width: 100%;
        }
      }
    }

    .community-about {
      margin: 24px 15px;
      text-align: left;

      h1.community-title {
        font-family: $FONT_FAMILY;
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        color: black;
      }

      h2.community-description {
        font-family: $FONT_FAMILY;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: material-color("grey", "500");
        margin-bottom: 10px;
      }

      .community-expert-in-title, .community-interesting-in-title {
        font-family: $FONT_FAMILY;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: material-color("grey", "900");
      }

      ul.themes {
        display: inline-block;

        li {
          display: inline-block;
          margin-left: 5px;

          &:after {
            content: ', ';
          }

          &:last-child:after {
            content: '';
          }

          a {
            font-family: $FONT_FAMILY;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: material-color("light-blue", "700");
          }
        }
      }
    }
  }
}