article.component.component-community-card((click)="goCommunity()")
  div(*ngIf="isViewMode('feed')")
    cass-community-card-feed
  div(*ngIf="isViewMode('grid')")
    span In progress
  div(*ngIf="isViewMode('list')")
    span In progress
  