div.component.component-community-card
  div(*ngIf="isViewMode('feed')")
    cass-community-card-feed([community]="community", (open)="open($event)")
  div(*ngIf="isViewMode('grid')")
    cass-community-card-grid([community]="community", (open)="open($event)")
  div(*ngIf="isViewMode('list')")
    cass-community-card-list([community]="community", (open)="open($event)")
