<div>
  <form class="form" (ngSubmit)="ngSubmit()" (keyup.esc)="close()">
    <div class="modal" role="dialog" style="display: block">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" *ngIf="! isSubmittingStage()">
            <h1>Add collection</h1>
          </div>
          <div class="modal-body" *ngIf="isTitleStage()">
            <div class="form-group row">
              <label for="formAcmTitle" class="col-sm-3 form-control-label">Title</label>
              <div class="col-sm-9">
                <input id="formAcmTitle" type="text" placeholder="Channel title" [(ngModel)]="model.title" required class="form-control"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="formAcmTitle" class="col-sm-3 form-control-label">Description</label>
              <div class="col-sm-9">
                <input id="formAcmDescription" type="text" placeholder="Channel description (optional)" [(ngModel)]="model.description" required class="form-control"/>
              </div>
            </div>
          </div>
          <div class="modal-body" *ngIf="isThemesStage()">
            <p>What is your collection about?</p>
            <div class="form-group">
              <div class="form-group row">
                <div class="col-sm-12">
                  <select id="formAcmTheme" class="form-control" [(ngModel)]="model.themeId">
                    <option *ngFor="#t of themes" [value]="t.id">{{ t.title }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body" *ngIf="isSubmittingStage()">
            <form-submitting-indicator></form-submitting-indicator>
          </div>
          <div class="modal-footer" *ngIf="! isSubmittingStage()">
            <input type="button" value="Cancel" class="btn btn-secondary" (click)="close()"/>
            <button type="submit" class="submit-progress btn btn-primary">
              <span>
                {{ submitTitle() }}
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="modal-backdrop fade in"></div>
</div>