article.component.component-public-content-route
  div.flexbox-container
    div.menu(*ngIf="ui.panels.extended.isEnabled()")
      cass-public-content-menu([is-extended]="ui.panels.extended.isExtended()")
    div.themes-list(*ngIf="ui.panels.themes.isEnabled()")
      cass-theme-panel([root]="getThemePanelRoot()", (change)="goTheme($event)")
    div.content
      div.theme-header
        cass-theme-header([theme]="getThemeRoot()", (go)="goTheme($event)")
      div.split-view
        div.content-area(#content, (scroll)="onScroll($event)")
          div.screen-themes(*ngIf="swipe.isAtThemeScreen()")
            cass-theme-browser([root]="getThemeRoot()", (change)="goTheme($event)")
          div.screen-stream(*ngIf="swipe.isAtContentScreen()")
            .post-form(*ngIf='canPost()')
              .post-form-container
                cass-post-form([collection]="getMainCollection()", [post-type] = "postType", (success) = "unshiftEntity($event)")
            cass-public-nothing-found(*ngIf="service.isNothingFound()")
            cass-feed-post-stream