article.component.component-public-content-route
  div.flexbox-container
    div.menu(*ngIf="ui.panels.extended.isEnabled()")
      cass-public-content-menu([is-extended]="ui.panels.extended.isExtended()")
    div.content(#content, (scroll)="onScroll($event)")
      div.screen-themes(*ngIf="swipe.isAtThemeScreen()")
        cass-theme-browser([root]="getThemeRoot()", (change)="goTheme($event)")
      div.screen-stream(*ngIf="swipe.isAtContentScreen()")
        cass-public-nothing-found(*ngIf="service.isNothingFound()")
        cass-feed-post-stream