<div>
  <div *ngIf="service.modals.setup.isActive()">
    <cass-modal>
      <cass-modal-box width="500px">
        <cass-profile-setup [profile]="currentProfile"></cass-profile-setup>
      </cass-modal-box>
    </cass-modal>
  </div>
  <div *ngIf="service.modals.settings.isActive()">
    <cass-modal>
      <cass-modal-box width="760px">
        <cass-profile-settings></cass-profile-settings>
      </cass-modal-box>
    </cass-modal>
  </div>
  <div *ngIf="service.modals.switcher.isActive()">
    <cass-modal>
      <cass-modal-box width="340px">
        <cass-profile-switcher></cass-profile-switcher>
      </cass-modal-box>
    </cass-modal>
  </div>
  <div *ngIf="service.modals.createCollectionMaster.isActive()">
    <cass-modal>
      <cass-modal-box width="340px">
        <cass-collection-create-master for="profile" [owner_profile_id]="currentProfile.id"></cass-collection-create-master>
      </cass-modal-box>
    </cass-modal>
  </div>
</div>