article.component.component-community-dashboard-route
  div(*ngIf="!loading.isLoading()")
    .post-form(*ngIf="canPost()")
      .post-form-container
        cass-post-form([collection]="mainCollection", [post-type] = "postType", (success) = "unshiftEntity($event)")
    .welcome-cards
      cass-community-cards-list([community]="communityService.community")
    .posts
      cass-feed-post-stream