article.component.component-community-settings-card((click)="openCommunitySettings()")
  .card-content
    .settings-icon-container
      .settings-icon
        i.fa.fa-cog
    .card-about
      h1 Настройки
      p #[a(href="javascript:void(0)", (click)="openCommunitySettings()") Щелкните десь], чтобы открыть окно настроек этого профиля