<div class="btn-group sign-in-social-networks-list">
  <button type="button" class="btn btn-secondary"><img src="/public/assets/icons-social-networks/vk.png"/></button>
  <button type="button" class="btn btn-secondary"><img src="/public/assets/icons-social-networks/youtube.png"/></button>
  <button type="button" class="btn btn-secondary"><img src="/public/assets/icons-social-networks/google.png"/></button>
  <button type="button" class="btn btn-secondary"><img src="/public/assets/icons-social-networks/twitter.png"/></button>
  <button type="button" class="btn btn-secondary"><img src="/public/assets/icons-social-networks/github.png"/></button>
  <button type="button" class="btn btn-secondary"><img src="/public/assets/icons-social-networks/lastfm.png"/></button>
</div>