<div class="btn-group sign-in-social-networks-list">
  <a href="/backend/api/auth/oauth/vk" class="btn btn-secondary"><img src="/public/assets/icons-social-networks/vk.png"/></a>
  <a href="/backend/api/auth/oauth/youtube" class="btn btn-secondary"><img src="/public/assets/icons-social-networks/youtube.png"/></a>
  <a href="/backend/api/auth/oauth/google" class="btn btn-secondary"><img src="/public/assets/icons-social-networks/google.png"/></a>
  <a href="/backend/api/auth/oauth/twitter" class="btn btn-secondary"><img src="/public/assets/icons-social-networks/twitter.png"/></a>
  <a href="/backend/api/auth/oauth/github" class="btn btn-secondary"><img src="/public/assets/icons-social-networks/github.png"/></a>
  <a href="/backend/api/auth/oauth/lastfm" class="btn btn-secondary"><img src="/public/assets/icons-social-networks/lastfm.png"/></a>
</div>