article.component.component-post-attachment-link-page
  .image-container(*ngIf="hasImage()")
    a(target="__top", (click)="getURL()")
      img([src]="getImageURL()")
  .link-description
    h1
      a(target="__top", (click)="getURL()")
        span.title {{ getTitle() }}
    div.url
      i.fa.fa-link
      span {{ getURL() }}
    p.description(*ngIf="hasDescription()")
      span {{ getDescription() }}