.component.component-community
  div(*ngIf="modals.route.isOpened()")
    cass-community-route-modal(
      (close)="modals.route.close()",
      (join)="modals.route.close(); modals.join.open()",
      (create)="modals.route.close(); modals.create.open()"
    )

  div(*ngIf="modals.join.isOpened()")
    cass-community-join-modal((close)="modals.join.close()")

  div(*ngIf="modals.create.isOpened()")
    cass-community-create-modal((close)="modals.create.close()", (success)="goCommunity($event)")

  div(*ngIf="modals.settings.isOpened()")
    cass-community-settings-modal((close)="modals.settings.close()")

