div.component-color-picker {
  div.flexbox-container {
    display: flex;

    div.preview {
      margin-right: 10px;
    }

    div.variants {
      width: 100%;
    }
  }


  div.color-box {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  div.preview {
    div.color-box {
      border: 1px solid #ccc;
      width: 48px;
      height: 48px;
    }
  }

  ul.variants {
    line-height: 0;

    li {
      display: inline-block;

      div.color-box {
        cursor: pointer;

        &:hover {
          filter: brightness(140%);
          -webkit-filter: brightness(140%);
        }
      }
    }
  }
}