.component.component-profile-themes-subscriptions-route
  .themes
    h1 Тематики
  cass-form-progress-lock(*ngIf="status.isLoading()")
  .theme-container
    div(*ngIf="! status.isLoading()").theme-card-wrap
      div(*ngFor ="let subscription of subscribes").theme-card
        cass-theme-card-list-item([theme]="subscription.entity")
