div.component.component-content-player-playlist-item-youtube
  div.content-player-playlist-item
    div.preview
      div.image(style="background-image: url(' {{ getPreview() }}')")
    div.about
      h1 {{ getTitle() }}
      h2 {{ getDate() }}