div.component.component-content-player-playlist-item-youtube((click)="play()")
  div.content-player-playlist-item([ngClass]="{ 'active': isCurrent }")
    div.preview
      div.image([ngStyle]="{'background-image': 'url(getPreview())'}")
    div.about
      h1 {{ getTitle() }}
      h2 {{ getDate() }}