@import "./../../../../styles/globals";
@import "./../../style.head";

div.sidebar-communities
{
  ul.sidebar-items {
    li {
      margin-left: 15px;
      margin-bottom: 5px;
    }

    li.add-button {
      div.community-plus {
        display: block;
        width: 56px;
        height: 56px;
        line-height: 60px;
        border-radius: 9999px;
        text-align: center;
        color: material-color("grey", "400");
        font-size: 24px;
        cursor: pointer;
        transition: border-color 0.1s, color 0.1s;

        &:hover {
          border-color: material-color("grey", "200");
          color: material-color("grey", "200");
        }
      }
    }
  }
}