@import "./../../../../styles/globals";

@mixin zDepth($level) {
  div.cass-modal {
    z-index: 9000 + 4*$level;
  }

  div.modal-backdrop {
    z-index: 9001 + 4*$level;
  }

  div.modal-flex-container {
    z-index: 9002 + 4*$level;
  }

  div.modal-content {
    z-index: 9003 + 4*$level;
  }
}

div.component-cass-modal-light {
  div.modal-backdrop {
    background-color: #f0f0f0;
    opacity: 0.8;
  }
}

div.component-cass-modal-dark {
  div.modal-backdrop {
    background-color: #333;
    opacity: 0.8;
  }
}

@include isDesktop {
  div.modal {
    div.modal-backdrop {
      display: block;
      position: fixed;
      top: 0; height: 100%;
      left: 0; width: 100%;
    }

    div.modal-flex-container {
      display: flex;
      position: fixed;
      top: 0; height: 100%;
      left: 0; width: 100%;
      align-items: center;
      justify-content: center;

      overflow: auto;

      div.modal-content {
      }
    }
  }
}

@include isMobile {
  div.modal {
    div.modal-backdrop {
      display: none;
    }

    div.modal-flex-container {
      position: fixed;
      top: 0; height: 100%;
      left: 0; width: 100%;
      background-color: white;

      div.modal-content {
        display: flex;
        position: absolute;
        top: 0; height: 100%;
        left: 0; width: 100%;
        justify-content: center;
        align-items: center;
        overflow: auto;
      }
    }
  }
}

/* Don't look at this shit. */

div.component-cass-modal {
  @include zDepth(1);

  div.cass-modal {
    @include zDepth(2);

    div.cass-modal {
      @include zDepth(3);

      div.cass-modal {
        @include zDepth(4);

        div.cass-modal {
          @include zDepth(5);

          div.cass-modal {
            @include zDepth(6);

            div.cass-modal {
              @include zDepth(7);

              /* We don't need to go deeper. */
            }
          }
        }
      }
    }
  }
}