div.component.component-cass-modal(class="component-cass-modal-{{style}}")
  .cass-modal.modal
    .modal-flex-container
      .modal-backdrop((click)="outClick()")
      .modal-content
        ng-content