@import "./../../../../../../../styles/globals";

div.component-collection-card-feed {

  .card {
    @include card(1);
    display: block;
    text-decoration: none;
    color: black;
    width: 256px;
    height: 430px;
    background-color: white;
    cursor: pointer;
    transition: all 0.1s;

    .collection-card-content {
      border: 3px solid transparent;
      padding: 1px;
      height: 100%;
      box-sizing: border-box;
    }

    .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &:hover {
      .collection-image {
        filter: brightness(110%);
        -webkit-filter: brightness(110%);
      }
    }
  }

  .collection-image {
    height: 256px;

    .image-container {
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .collection-about {
    padding: 20px 13px;
    height: 80px;
    overflow: hidden;

    h1 {
      font-family: $FONT_FAMILY;
      font-size: 20px;
      font-weight: 400;
      color: black;
      margin-bottom: 10px;
    }

    p {
      display: block;
      color: material-color("grey", "700");
    }
  }

  .bottom-section {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;

    &:after {
      content: '.';
      display: block;
      visibility: hidden;
      height: 0;
      clear: both;
    }
  }

  .subscrible-button {
    float: right;
  }

  footer.theme {
    float: left;
    margin-top: 15px;
    span.theme {
      font-family: $FONT_FAMILY;
      font-size: 14px;
      font-weight: 400;
      color: material-color("grey", "500");

    }
  }
}