div.component.component-community-card-feed
  .card-content
    .community-image
      .community-image-container
          cass-community-image([url]="helper.getImageURL()", border="square")
    .community-about
      h1.community-title
        span {{ helper.getCommunityTitle() }}
      h2.community-description
        span {{ helper.getCommunityDescription() }}
      .community-expert-in(*ngIf="helper.hasTheme()")
        .community-expert-in-title Сообщество специализируется на
        ul.themes
          li()
            a(href="javascript.void(0)")
              span {{ helper.getTheme().title }}

  