div.component.component-collection-card-feed
  a.card((click)="open($event)", routerLink="helper.getRouterParams(entity)")
    .flex-container
      .top-section
        .collection-image
          .image-container([ngStyle]="{'background-image': helper.getImageURL() }")
        .collection-about
          h1 {{ entity.title }}
          p {{ entity.description }}
      .bottom-section
        footer.theme(*ngIf="helper.hasTheme()")
          span.theme {{ helper.getThemeTitle() }}