div.component.component-collection-card-feed.x-navigation-entity
  a.card(href="javascript:void(0);")
    .collection-card-content
      .flex-container
        .top-section
          .collection-image((click)="open($event)")
            .image-container([ngStyle]="{'background-image': 'url(' + helper.getImageURL() + ')' }")
          .collection-about
            h1 {{ entity.title }}
            p {{ entity.description }}
        .bottom-section
          footer.theme(*ngIf="helper.hasTheme()")
            span.theme {{ helper.getThemeTitle() }}
          .subscrible-button
            cass-subscribe-button(
              [subscribed]="entity.subscribed",
              [is-loading]="subscribeLoading.isLoading()",
              (subscribe)="subscribe()",
              (unsubscribe)="unsubscribe()"
            )