div.component.component-edit-post
  cass-modal
    cass-modal-box(width="800px",height="600px")
      .edit-post
        .edit-post__img-wrap(*ngIf='haveAttachment()')
          img([src]="getAttachmentURL()").edit-post__img
        .edit-post__name([ngStyle]="getStyle()")
          .edit-post-text
            .edit-post__title-wrap(*ngIf='post.title.has')
              input([ngModel]='model.title.value').edit-post__title
            .edit-post__description-wrap
              textarea([ngModel]='model.content').edit-post__description
          .edit-post__button
            .button-cancel-wrap
              cass-form-button(type="button",title="ОТМЕНА",styles="text",(click)="closeModal()")
            .button-save-wrap
              cass-form-button(type="button",title="СОХРАНИТЬ",styles="solid",color="green")
