article.component.component-auth-dev-modal
  cass-modal
    cass-modal-box(width="600px")
      header.form-header
        h1 Вход по API-ключу
      .form.cass-padding-box-15
        .input-group
          cass-form-input(type="text",placeholder="Введите API-ключ",[(value)]="apiKey",minlength='1')
      footer.form-footer
        .form-footer-section
          .form-footer-item
            cass-form-button(title="ОТМЕНА",styles="text",(click)='cancel()')
        .form-footer-section
          .form-footer-item
            cass-form-button(title="ВОЙТИ",styles="text",icon="'fa fa-sign-in fa-fw'",(click)='enter()')


