@import "./../../../../../styles/globals";

$AVATAR-SIZE: 48px;


header
{
  position: relative;
  background: $MATERIAL_BACKGROUND;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  h1{
    font-size: $FONT_SIZE_LARGE;
    line-height: normal;
  }
}

.contact-list {
  li {
    padding:10px 25px;
    overflow: hidden; font-size: $FONT_SIZE_NORMAL;
    cursor: pointer;
    transition:background 300ms;
    position:relative;
    border-bottom: 1px material-color("grey", "300") solid;
    display: flex;
    justify-content:space-between;
    align-items:center;
    
    &:hover {
      background-color: material-color("grey", "300");
    }
    
    &:last-child {
      border-bottom: none;
    }
    &.contact-list-header{
      background-color: material-color("grey", "300");
      cursor: default;
    }
    
    .last-message,.greetings{width:50%;}
    .last-message {
      font-size: $FONT_SIZE_SMALL;
      max-height: 3em;
      overflow: hidden;
      color: material-color("grey", "500");
      
    }

    .avatar {
      width: $AVATAR-SIZE;
      margin-right: 15px;
    }
  }
}

