div
  header.cass-padding-box-15
    h1 Список контактов
    ul.filter
      li.active Все
      li Постоянные
      li Временные
  ul.contact-list
    li.contact-list-header
      .avatar
      .greetings 
        strong Имя
      .greetings
        strong Последнее сообщение

    li(*ngFor="#contact of contacts", [routerLink]="['Messages', { id: contact.target_profile.id }]")
      cass-profile-image.avatar([url]='contact.target_profile.image.variants["64"].public_path')
      .greetings {{contact.target_profile.greetings.greetings}}
      .last-message заходи) но я не уверен что к этому времени освобожусь
        .date {{contact.last_message.date}}
  cass-loading-linear-indicator(*ngIf="isLoading")
    