textarea.form-input(
  placeholder="Введите ваше сообщение для {{greetings||'пользователя'}}",
  (input)="adjust(textarea.value)",
  (keydown.enter)="submit($event)",
  [(ngModel)]="model.content",
  [disabled]="disabled",
  #textarea
)
