/* @ MOBILE-FIRST */

@import "./../../../../../styles/globals";

article.component-public-option-view {
  text-align: center;

  .option-container {
    ul.view-options {
      display: inline-block;

      li {
        display: inline-block;
        margin: 0 3px;

        button.choice {
          cursor: pointer;
          padding: 0 8px;
          background-color: material-color("grey", "200");
          font-family: $FONT_FAMILY;
          font-size: 14px;
          line-height: 30px;
          font-weight: 500;
          color: material-color("grey", "600");
          border: 0;
          border-radius: 3px;
          overflow: hidden;
          transition: background-color 0.1s;

          span.title {
            margin-left: 5px;
          }

          &:hover {
            color: material-color("grey", "700");
            background-color: material-color("grey", "300");
          }
        }

        &.active {
          button.choice {
            color: material-color("grey", "900");

            &:hover {
              color: material-color("grey", "900");
            }
          }
        }
      }
    }
  }
}