article.component.component-public-option-view
  .option-container
    ul.view-options
      li(*ngIf="isVideoPlayerAvailable()")
        button.choice(title="Открыть видеоплеер")
          i.fa.fa-television
          span.title Открыть видеоплеер
      li
        button.choice(title="Расположить контент в виде ленты")
          i.fa.fa-th-large
      li
        button.choice(title="Расположить контент в виде списка")
          i.fa.fa-bars