article.component.component-public-option-view
  .option-container
    ul.view-options
      li(*ngIf="isVideoPlayerAvailable()")
        button.choice(title="Открыть видеоплеер")
          i.fa.fa-television
          span.title Открыть видеоплеер
      li([ngClass]="{ 'active': isOn('feed') }")
        button.choice(title="Расположить контент в виде ленты", (click)="setAsCurrent('feed')")
          i.fa.fa-square
      li([ngClass]="{ 'active': isOn('grid') }")
        button.choice(title="Расположить контент в виде сетки", (click)="setAsCurrent('grid')")
          i.fa.fa-th-large
      li([ngClass]="{ 'active': isOn('table') }")
        button.choice(title="Расположить контент в виде списка", (click)="setAsCurrent('table')")
          i.fa.fa-bars