div
  .sign-in-modal(*ngIf='service.modals.signIn.isOpened()')
    cass-modal
      cass-modal-box(width='450px')
        cass-auth-sign-in(
          (sign-up)='service.signUp()',
          (success)='service.closeAllModals()',
          (close)='service.closeAllModals()'
        )
  .sign-up-modal(*ngIf='service.modals.signUp.isOpened()')
    cass-modal
      cass-modal-box(width='450px')
        cass-auth-sign-up(
          (success)='service.closeAllModals()',
          (close)='service.closeAllModals()',
          (back)='service.signIn()'
        )
