div(*ngIf="modals..authDev.isOpened()")
  cass-modal
    cass-modal-box(width="550px")
      cass-auth-sign-in-by-api-key((close)='modals.closeAllModals()')
div
  .sign-in-modal(*ngIf='modals..signIn.isOpened()')
    cass-modal
      cass-modal-box(width='500px')
        cass-auth-sign-in(
          (sign-up)='modals.signUp()',
          (success)='modals.closeAllModals()',
          (close)='modals.closeAllModals()'
        )
  .sign-up-modal(*ngIf='modals..signUp.isOpened()')
    cass-modal
      cass-modal-box(width='450px')
        cass-auth-sign-up(
          (success)='modals.closeAllModals()',
          (close)='modals.closeAllModals()',
          (back)='modals.signIn()'
        )