.profile-im-sidebar([ngClass]="{visible:isVisible}")
  header
    h1
      i.mobile-menu.fa.fa-lg.fa-bars(aria-hidden="true",(click)="toggleState()")
      span Контакты

  ul.contact-list
    li(
      *ngFor="#contact of contacts", 
      [routerLink]="['Messages', { id: contact.target_profile.id }]"
    )
      cass-profile-image.avatar([url]='contact.target_profile.image.variants["64"].public_path')
      i.status
      .greetings {{contact.target_profile.greetings.greetings}}
      .last-message заходи) но я не уверен что к этому времени освобожусь
        .date {{contact.last_message.date}}

  footer
    .cass-padding-box-15
      input.form-input( type="text", placeholder="Введите имя контакта" )
    
    