.profile-im-sidebar
  .header
    .cass-padding-box-10
      h1 Контакты
  ul.contact-list
    li
      img.avatar(src="/dist/assets/profile-default.png")
      i.status
      .name hck
      .last-message заходи) но я не уверен что к этому времени освобожусь
    li.active
      img.avatar(src="/dist/assets/profile-default.png")
      i.status.online
      .name hck
      .last-message заходи) но я не уверен что к этому времени освобожусь
    li
      img.avatar(src="/dist/assets/profile-default.png")
      i.status.online
      .name hck
      .last-message заходи) но я не уверен что к этому времени освобожусь
    li
      img.avatar(src="/dist/assets/profile-default.png")
      i.status
      .name hck
      .last-message заходи) но я не уверен что к этому времени освобожусь
    li
      img.avatar(src="/dist/assets/profile-default.png")
      i.status
      .name hck
      .last-message заходи) но я не уверен что к этому времени освобожусь
  .footer
    .cass-padding-box-15
      input.form-input( type="text", placeholder="Введите имя контакта" )
    
    