article.component.component-feed-community-stream
  div(*ngIf="hasStream()")
    .entities
      .community-card-container(*ngFor="let community of feed.stream.all()")
        cass-community-card([community]="community", [view-mode]="getViewOption()")
      .loading-indicator
        cass-loading-indicator(*ngIf="feed.isLoading()")
  div(*ngIf="!feed.isLoading()")
    cass-feed-scroll-detector