article.component.component-feed-community-stream
  div(*ngIf="hasStream()")
    .entities
      .community-card-container(*ngFor="#community of feed.stream.all()")
        cass-community-card([community]="community")
      .loading-indicator
        cass-loading-indicator(*ngIf="feed.isLoading()")