article.component.component-feed-community-stream
  div(*ngIf="hasStream()")
    .entities
      cass-community-cards-list([entities]="feed.stream.all()", [view-mode]="getViewOption()", (open)="open($event)")
    .loading-indicator
        cass-loading-indicator(*ngIf="feed.isLoading()")
  div(*ngIf="!feed.isLoading()")
    cass-feed-scroll-detector