@import "./../../../../../../../styles/globals.scss";

.x-feed-entity-active {
  outline: 5px solid material-color("blue", "100");
}

div.component-post-card-list {
  text-align: left;
  padding: 15px;
  background-color: #fff;

  div.flexbox-container {
    display: flex;

    div.attachment {
      width: 300px;
      height: 100%;
      flex-basis: 300px;
      flex-shrink: 0;
    }

    .title-container {
      font-size: 16px;
      font-weight: 400;
      color: #000;
      margin-bottom: 25px;
    }

    div.content {
      width: 100%;
      margin-left: 25px;

      div.profile-info {
        line-height: 32px;

        font-size: 16px;
        color: material-color("blue-grey", "900");
        margin-bottom: 15px;

        div.profile-image-container {
          vertical-align: middle;
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }

        span.date-created-on {
          font-size: 13px;
          margin-left: 15px;
          color: material-color("grey", "500");
        }
      }
    }
  }
}

.x-navigation-entity {
  &:hover {
    .profile-card {
      border-color: material-color("indigo", "500");
      outline: 0;
    }
  }
}

.x-navigation-entity-active {
  .profile-card {
    border-color: material-color("indigo", "500") !important;
    outline: 0;
  }
}