<div class="dev-stages">
  <div class="dev-stage-1">
    <div class="component component-theme-select">
      <div class="form">
        <div class="search">
          <input type="text"
                 [(ngModel)]="searchStr"
                 class="form-input"
                 placeholder="Поиск тематики">
          <span class="info">
            <span>Начните набирать название тематики или попробуйте ее выбрать из</span>
            <a class="link-browser" (click)="browserSwitcher()">списка<i class="fa fa-fw fa-angle-down"></i></a>
          </span>
          <!-- Подсказка исчезает, если в поле что-то введено или открыт браузер тематик -->
        </div>
        <div class="auto-complete" *ngIf="showSearchListReturn()">
          <!-- Автокомплит. По нему должна быть навигация стрелочками вверх/вниз -->
          <!-- Учесть, что здесь может быть больше 20 записей. -->
          <!-- Ограничить выборку общуюю максимум 100 записей. -->
          <!-- Здесь не должно быть в этом списке тематик, которые уже выбраны -->
          <!-- <mark>'ом отмечается сматченный текст -->
          <div class="auto-complete-scroll-box">
            <ul class="auto-complete-list">
              <li *ngFor="#theme of search()">
                <span class="title">{{theme.title}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="browser" *ngIf="browserVisible">
          <div class="view">
            <!-- Тематики здесь выбираются по двойному щелчку -->
            <div class="column">
              <ul class="theme-list" *ngFor="#theme of themesTree">
                <li [class.active]="checkActiveTheme(theme)" (click)="selectTheme(1, theme)" (dblclick)="pickTheme(theme)">
                  <span class="title">{{theme.title}}</span>
                </li>
              </ul>
            </div>
            <div class="column">
              <ul class="theme-list" *ngFor="#theme of themesTreeSecondEmbedded">
                <li [class.active]="checkActiveTheme(theme)" (click)="selectTheme(2, theme)" (dblclick)="pickTheme(theme)">
                  <span class="title">{{theme.title}}</span>
                </li>
              </ul>
            </div>
            <div class="column">
              <ul class="theme-list" *ngFor="#theme of themesTreeThirdEmbedded">
                <li class="active" [class.active]="checkActiveTheme(theme)" (click)="selectTheme(3, theme)" (dblclick)="pickTheme(theme)">
                  <span class="title">{{theme.title}}</span>
                </li>
              </ul>
            </div>
            <div class="column">
              <ul class="theme-list" *ngFor="#theme of themesTreeFourthEmbedded">
                <li class="active" [class.active]="checkActiveTheme(theme)" (dblclick)="pickTheme(theme)">
                  <span class="title">{{theme.title}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="hide-browser" *ngIf="browserVisible"> <!-- Должно исчезать, если браузера уже скрыт -->
          <a class="link-browser" (click)="browserSwitcher()">Скрыть<i class="fa fa-fw fa-angle-double-up"></i></a>
        </div>
        <div class="values">
          <div class="value" *ngFor="#theme of pickedThemes">
            <span class="title">{{theme.title}}</span>
            <span class="close" (click)="deletePickTheme(theme)"><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>