<div class="dev-stages">
  <div class="component component-theme-select">
    <div class="form">
      <div class="search">
        <input type="text"
               #searchInput
               (keyup)="search.update(searchInput.value)"
               (focus)="search.enable()"

               class="form-input"
               placeholder="Поиск тематики">
        <span class="info" *ngIf="! browser.visible">
          <span>Начните набирать название тематики или попробуйте ее выбрать из</span>
          <a class="link-browser" (click)="browser.show()">списка<i class="fa fa-fw fa-angle-down"></i></a>
        </span>
      </div>
      <div class="auto-complete" *ngIf="search.isResultsAvailable()">
        <div class="auto-complete-scroll-box">
          <ul class="auto-complete-list">
            <li *ngFor="#result of search.results">
              <span class="title" (click)="search.include(result)">{{ result.title }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="browser" *ngIf="browser.visible">
        <div class="view" #scrolling>
          <div class="column" *ngFor="#tree of browser.columns; #level = index">
            <ul class="theme-list">
              <li
                      *ngFor="#theme of tree.children"
                      [class.active]="browser.isActive(theme)"
                      (click)="browser.setColumn(level + 1, theme)"
                      (dblclick)="include(theme.id)">
                <span class="title">{{theme.title}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="hide-browser" *ngIf="browser.visible">
        <a class="link-browser" (click)="browser.hide()">Скрыть<i class="fa fa-fw fa-angle-double-up"></i></a>
      </div>
      <div class="values">
        <div class="value" *ngFor="#themeId of value">
          <span class="title">{{service.findById(themeId).title}}</span>
          <span class="close" (click)="exclude(themeId)"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>