<div class="dev-stages">
  <div class="dev-stage-1">
    <div class="component component-theme-select">
      <div class="form">
        <div class="search">
          <input type="text"
                 class="form-input"
                 placeholder="Поиск тематики">
          <span class="info">Начните набирать название тематики или попробуйте ее выбрать из списка</span>
        </div>
        <div class="auto-complete">
          <!-- Автокомплит. По нему должна быть навигация стрелочками вверх/вниз -->
          <!-- Учесть, что здесь может быть больше 20 записей. -->
          <!-- Ограничить выборку общуюю максимум 100 записей. -->
          <!-- Здесь не должно быть в этом списке тематик, которые уже выбраны -->
          <!-- <mark>'ом отмечается сматченный текст -->
          <div class="auto-complete-scroll-box">
            <ul class="auto-complete-list">
              <li>
                <span class="title">League of <mark>leg</mark>ends</span>
              </li>
              <li class="active">
                <span class="title">World <mark>of war</mark>craft</span>
              </li>
              <li>
                <span class="title">Автомобили и радиотехника</span>
              </li>
              <li>
                <span class="title">Экскала<mark>торы</mark>, элева<mark>торы</mark></span>
              </li>
              <li>
                <span class="title">Аквариумные рыбки</span>
              </li>
              <li>
                <span class="title">Лунный <em>огонь</em></span>
              </li>
              <li>
                <span class="title">Лунный огонь</span>
              </li>
              <li>
                <span class="title">Солнечный огонь</span>
              </li>
              <li>
                <span class="title">Просто огонь</span>
              </li>
              <li>
                <span class="title">Звездопад прожал</span>
              </li>
              <li>
                <span class="title">Лунный огонь</span>
              </li>
              <li>
                <span class="title">Солнечный огонь</span>
              </li>
              <li>
                <span class="title">Просто огонь</span>
              </li>
              <li>
                <span class="title">Звездопад прожал</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="values">
          <div class="value">
            <span class="title">Юридические вопросы</span>
            <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
          <div class="value">
            <span class="title">Грузовики</span>
            <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
          <div class="value">
            <span class="title">Грузовики</span>
            <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
          <div class="value">
            <span class="title">Скотиш-фолд (шотландская вислоухая)</span>
            <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>