@import "./../../../styles/globals";

$CASS_SIDEBAR_WIDTH: 80px;
$CASS_ICON_SIZE: 60px;

div.cass-sidebar {
  position: relative;;

  >div.backdrop {
    position: fixed;
    top: 0; height: 100%;
    left: 0; width: $CASS_SIDEBAR_WIDTH;
    background-color: material-color("grey", "900");
    z-index: 100;
  }

  >div.sidebar-contents {
    position: relative;;
    z-index: 101;
    margin-left: 5px;

    ul.sidebar-items {
      li {
        margin: 5px;
      }
    }
  }

  .sidebar-button {
    display: block;
    width: $CASS_ICON_SIZE;
    height: $CASS_ICON_SIZE;
    overflow: hidden;
    border: 2px solid material-color("grey", "800");
    border-radius: 5px;

    img.icon {
      width: 100%;
    }

    &:hover {

    }
  }

  .sidebar-profile-icon {
    &:hover {
      border-color: material-color("light-blue", "800");
    }
  }
}