.card {
    img{
        width:64px;
        padding:.5em;
    }
    .controls {
        display: none;
        a {
            cursor: pointer
        }
    }
    &:hover .controls {
        display: block;
    }
}

