article.component.cass-profile-setup-screen-gender
  .gender-select
    .gender-option.gender-option-male((click)="useGender('male')")
      span.icon
        i.fa.fa-male
      cass-form-button(title="Мужской", type="button" ,styles="text")
    .gender-option.gender-option-female((click)="useGender('female')")
      span.icon
        i.fa.fa-female
      cass-form-button(title="Женский", type="button", styles="text")
  footer.form-footer
    .form-footer-section
      .form-footer-item
    .form-footer-section
      .form-footer-item
        cass-form-button(title="Пропустить",type="button" ,styles="text" ,(click)="skip()")
