@import "./../../../../../styles/globals";

article.component.component-post-form-link-input {
  .link-form {
    .link-box {
      display: flex;
      background-color: white;

      .link-input-container {
        width: 100%;

        input.link-input {
          font-family: $FONT_FAMILY;
          font-size: 16px;
          font-weight: 400;
          color: black;
          line-height: 38px;
          border: 0;
          width: 100%;
          padding: 0 10px;
          box-sizing: border-box;
          outline: 0;
        }
      }

      .link-add-button, .link-cancel-button {
        width: 30px;
      }

      button.link-button {
        cursor: pointer;
        background-color: white;
        color: material-color("grey", "800");
        border: 0;
        padding: 0;
        width: 30px;
        line-height: 38px;
        outline: 0;
        transition: color 0.1s, background-color 0.1s;

        &:hover {
          color: material-color("grey", "900");
          background-color: material-color("grey", "100");
        }

        &:disabled {
          color: material-color("grey", "400");
        }
      }
    }
  }

  .error-container {
    font-family: $FONT_FAMILY;
    font-size: 16px;
    font-weight: 400;
    color: material-color("red", "500");
    line-height: 30px;
    padding: 0 5px;
  }
}