@import "./../../../../../styles/globals";

div.cass-modal-box {
  background-color: #fff;
}

@include isMobile {
  div.cass-modal-box {
    position: absolute;
    top: 0; height: 100%;
    left: 0; width: 100%!important;
  }
}

@include isDesktop {
  div.cass-modal-box {
    @include card(2);
    border-radius: 3px;


  }
}