@import "./../../../../styles/globals";

$PREVIEW_SIZE: 500px;
$FOOTER_HEIGHT: 50px;

div.component-upload-image-modal {
  position: relative;
  width: $PREVIEW_SIZE;
  height: $PREVIEW_SIZE + $FOOTER_HEIGHT;
  overflow: hidden;

  #uploadModalImageFile {
    display: none;
  }

  div.stage-file {
    z-index: 10;

   div.drop-area {
      text-align: center;
      border: 1px dashed material-color("grey", "400");
      border-radius: 3px;
      line-height: $PREVIEW_SIZE - 20px;
      margin: 10px;
      box-sizing: border-box;

      p {
        font-size: $FONT_SIZE_NORMAL;
      }

      div.form-button {
        vertical-align: middle;
      }
    }

    div.drop-area-active {
      background-color: material-color("yellow", "100");
      border-color: material-color("yellow", "900");
    }
  }

  div.stage-crop {
    z-index: 10;

    div.image-editor {
      position: relative;

      div.image {
        width: 100%;
        height: $PREVIEW_SIZE;
        overflow: hidden;
        background-color: material-color("grey", "100");
      }

      footer {
        height: $FOOTER_HEIGHT;
      }
    }
  }

  div.stage-processing {
    z-index: 15;

    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    div.box {
      width: 80%;
      height: auto;
    }

    div.progress-bar-container {
      height: 18px;
    }

    div.controls {
      text-align: center;

      p.info {
        display: inline-block;
        color: material-color("grey", "800");
        font-size:$FONT_SIZE_INFO;
      }
    }
  }

  .form-button {
    @include card(1);
    @include disable-text-select;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    box-sizing: border-box;
    border-radius: 3px;
    outline: 0;
    border: 0;
    display: inline-block;
    align-items: center;
    padding: 0 12px;
    margin: 3px 5px;
    line-height: 36px;
    min-height: 36px;
    white-space: nowrap;
    min-width: 90px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    background: #2196F3;
    color: #fff;

    &:hover, &:focus, &:disabled {
      background-color: material-color('grey', '200');
    }

    &:disabled {
      box-shadow: none;
      cursor: not-allowed;
      background-color: material-color('grey', '200')!important;
    }

    &:active {
      background-color: material-color('grey', '500');
    }
  }
}