@import "./../../../../../styles/globals";

$CASS_PROFILE_MENU_WIDTH: 230px;

div.profile-menu {
  position: relative;
  background-color: white;
  width: $CASS_PROFILE_MENU_WIDTH;

  >div.backdrop {
    position: fixed;
    top: 0; height: 100%;
    width: $CASS_PROFILE_MENU_WIDTH;
    background-color: white;
    z-index: 100;
  }

  >div.profile-menu-contents {
    z-index: 101;
  }
}