div.route.route-public-communities
  .flexbox-container
    .themes-list
      cass-theme-panel([root]="helper.themes.getCurrentTheme()", (change)="helper.goTheme($event)")
    .menu
      cass-public-communities-menu
    .content(#content, (scroll)="onScroll($event)")
      div.theme-header
        cass-theme-header([theme]="helper.themes.getThemeRoot()", (go)="helper.goTheme($event)")
      div.container-button-right((click)="openCreateCommunityModal()")
        button.form-button.form-button-green
          span.title {{ "Create thematic community" | translate }}
      router-outlet