.container-fluid
  .row.row-offcanvas.row-offcanvas-left
    .col-md-3.col-lg-2.sidebar-offcanvas.p-l-0(role='navigation')
      cass-feedback-landing-sidebar
    .col-md-9.col-lg-10.main
      cass-feedback-landing-sidebar-toggler

      nav
        ul.pagination
          li.page-item
            a.page-link(href='#', aria-label='Previous')
              span(aria-hidden='true') «
              span.sr-only Previous
          li.page-item
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#') 4
          li.page-item
            a.page-link(href='#') 5
          li.page-item
            a.page-link(href='#', aria-label='Next')
              span(aria-hidden='true') »
              span.sr-only Next
      
      .card-columns
        cass-feedback-card(
          *ngFor="#feedback of feedbacks",
          [feedback]="feedback"
        )
.screen-loading(
  *ngIf="isLoading"
)