<div class="form-content-box">
    <form (ngSubmit)="submit()">
        <div class="modal" tabindex="-1" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Account creating</h4>
                    </div>
                    <div class="modal-body" >
                        <div *ngIf="chooseType" class="input-group input-group-sm accountFL">
                            <input type="button" value="Firstname and Lastname" class="btn btn-secondary" (click)="chooseFL = true; chooseType = false; NextShow = true;"/>
                            <input type="button" value="Firstname, Lastname and Middlename" class="btn btn-secondary" (click)="chooseLFM = true; chooseType = false; NextShow = true;"/>
                            <input type="button" value="Nickname" class="btn btn-secondary" (click)="chooseN = true; chooseType = false; NextShow = true;"/>
                        </div>
                        <div *ngIf="chooseFL" class="input-group input-group-sm accountFL">
                            <input type="text"  [(ngModel)]="firstname" class="form-control" placeholder="Firstname" aria-describedby="sizing-addon3">
                            <input type="text"  [(ngModel)]="lastname" class="form-control" placeholder="Lastname" aria-describedby="sizing-addon3">
                        </div>
                        <div *ngIf="chooseLFM" class="input-group input-group-sm accountLFM">
                            <input type="text"  [(ngModel)]="firstname" class="form-control" placeholder="Firstname" aria-describedby="sizing-addon3">
                            <input type="text"  [(ngModel)]="lastname" class="form-control" placeholder="Lastname" aria-describedby="sizing-addon3">
                            <input type="text"  [(ngModel)]="middlename" class="form-control" placeholder="Middlename" aria-describedby="sizing-addon3">
                        </div>
                        <div *ngIf="chooseN" class="input-group input-group-sm accountN">
                            <input type="text"  [(ngModel)]="nickname" class="form-control" placeholder="Nickname" aria-describedby="sizing-addon3">
                        </div>
                        <div *ngIf="PreInfo" class="input-group input-group-sm accountN">
                            <h1>{{firstname}}</h1>
                            <h1>{{lastname}}</h1>
                            <h1>{{middlename}}</h1>
                            <h1>{{nickname}}</h1>
                            <img src="{{Avatar || '/public/assets/profile-default.png'}}" class="img-rounded pull-xs-left">
                            <input type="button" value="Change Avatar" (click)="showAvatarCropper()" />
                            <div *ngIf="isAvatarFormVisible()" class="form-group">
                                <avatar-cropper></avatar-cropper>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input *ngIf="NextShow" type="button" value="Next" class="btn btn-primary" (click)="chooseFL = chooseLFM = chooseN = false; PreInfo = true; NextShow = false; SubmitShow = true;">
                        <input *ngIf="SubmitShow" type="submit" value="Submit" class="btn btn-primary" (click)="submit()"/>
                        <input type="button" value="Reset" class="btn btn-secondary" (click)="reset()"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade in"></div>
    </form>

</div>