div.component.component-post-list
  div(*ngIf="isViewMode('feed')")
    cass-post-list-feed(
      [posts]="posts",
      (open-post)="openPost($event)",
      (open-attachment)="openAttachment($event)",
    )
  div(*ngIf="isViewMode('grid')")
    cass-post-list-grid(
      [posts]="posts",
      (open-post)="openPost($event)",
      (open-attachment)="openAttachment($event)",
    )
  div(*ngIf="isViewMode('list')")
    cass-post-list-list(
      [posts]="posts",
      (open-post)="openPost($event)",
      (open-attachment)="openAttachment($event)",
    )