@import "./../../../../../styles/globals";

div.component-profile-switcher {
  position: relative;
  width: 100%;

  div.profiles {
    width: 440px;

    div.row {
      div.item {
        margin: 0 10px;
        display: inline-block;
        width: 200px;
        height: 200px;

      }
    }
  }
}

