@import "./../../../../../styles/globals";

div.component-profile-switcher {
  position: relative;
  width: 100%;

  div.profiles {
    width: 440px;

    div.row {
      margin-bottom: 10px;

      div.item {
        margin: 0px 10px;
        display: inline-block;
        vertical-align: top;
        width: 200px;
        height: 200px;
        margin-bottom: 10px;

      }
    }
  }
}

