article.component.component-feed-collection-stream {
  text-align: center;

  .entities {
    .collection-card-container {
      width: 270px;
      display: inline-block;
      margin: 10px;
      text-align: left;
      vertical-align: top;
    }
  }

  .loading-indicator {
    margin: 20px 0;
    text-align: center;
  }
}