article.component.component-feed-collection-stream
  div(*ngIf="hasStream()")
    .entities
        cass-collection-cards-list([entities]="feed.stream.all()", [view-mode]="getViewOption()", (open)="open($event)")
    .loading-indicator
      cass-loading-indicator(*ngIf="feed.isLoading()")
  div(*ngIf="!feed.isLoading()")
    cass-feed-scroll-detector