@import "./../../styles/globals";

$CASS_SIDEBAR_WIDTH: 80px;
$CASS_ICON_SIZE: 60px;

div.cass-sidebar {
  position: relative;;

  >div.backdrop {
    position: fixed;
    top: 0; height: 100%;
    left: 0; width: $CASS_SIDEBAR_WIDTH;
    background-color: material-color("grey", "900");
    z-index: 100;
  }

  >div.sidebar-contents {
    margin: 5px 0;

    position: relative;
    z-index: 101;
    width: $CASS_SIDEBAR_WIDTH;

    >ul.sidebar-items>li {
      margin-left: 15px;
      margin-bottom: 5px;
    }
  }

  div.sidebar-switch-button {
    cursor: pointer;
    text-align: center;
    color: material-color("grey", "600");
    background-color: material-color("grey", "900");
    font-size: 17px;
    line-height: 25px;
    width: 60px;
    position: relative;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      color: material-color("grey", "500");
      background-color: material-color("grey", "800");
    }
  }

  .sidebar-button {
    display: block;
    width: $CASS_ICON_SIZE;
    height: $CASS_ICON_SIZE;
    border: 1px solid material-color("blue-grey", "900");
    outline: 2px solid black;
    outline-offset: -3px;
    box-sizing: border-box;
    position: relative;

    div.counter {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: $FONT_SIZE_INFO;
      font-weight: 500;
      border-radius: 3px;
      padding: 6px;
    }

    div.counter-red {
      color: white;
      background-color: material-color("red", "500");
    }

    img.sidebar-icon {
      width: 100%;
      display: block;
    }

    &:hover {
      border-color: material-color("blue-grey", "600");
    }
  }

  div.sidebar-separator {
    width: 55px;
    margin: 10px 0 10px 15px;
    border-top: 1px dotted material-color("grey", "800");
  }

  .sidebar-fa-button {
    display: block;
    width: $CASS_ICON_SIZE;
    height: $CASS_ICON_SIZE;
    outline-offset: -3px;
    box-sizing: border-box;
    line-height: $CASS_ICON_SIZE;
    font-size: 25px;
    color: material-color("grey", "400");
    background-color: material-color("grey", "900");
    text-align: center;
    transition: background-color 0.1s, color 0.1s;

    &:hover {
      color: material-color("grey", "300");
      background-color: material-color("grey", "800");
    }
  }

  .sidebar-profile-icon {
    &:hover {
      border-color: material-color("blue-grey", "800");
    }
  }
}