@import "./../../../styles/globals";

@mixin zDepth($level) {
  div.cass-modal {
    z-index: 9000 + 3*$level;
  }

  div.modal-backdrop, div.modal-flex-container {
    z-index: 9001 + 3*$level;
  }

  div.modal-content {
    z-index: 9002 + 3*$level;
  }
}

@include isMobile {
  div.modal {
    position: fixed;
    top: 0; height: 100%;
    left: 0; width: 100%;
    overflow: hidden;

    div.modal-backdrop, div.modal-flex-container {
      background-color: white;
      opacity: 1;
      position: absolute;
      top: 0; height: 100%;
      left: 0; width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
    }

    div.modal-content {
      position: absolute;
      overflow: auto;
      top: 0; height: 100%;
      left: 0; width: 100%;
    }
  }
}

@include isDesktop {
  div.modal {
    @include full-screen-component;

    div.modal-backdrop {
      background-color: $BACKDROP_COLOR;
      opacity: $BACKDROP_OPACITY;
      position: absolute;
      top: 0; height: 100%;
      left: 0; width: 100%;
    }

    div.modal-flex-container {
      position: absolute;
      top: 0; height: 100%;
      left: 0; width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
    }

    div.modal-content {
      background-color: #fff;
      border-radius: 3px;
      @include card(2);
      max-height: calc(100% - 100px);
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
    }
  }
}

/* Don't look at this. */

div.component-cass-modal {
  @include zDepth(1);

  div.cass-modal {
    @include zDepth(2);

    div.cass-modal {
      @include zDepth(3);

      div.cass-modal {
        @include zDepth(4);

        div.cass-modal {
          @include zDepth(5);

          div.cass-modal {
            @include zDepth(6);

            div.cass-modal {
              @include zDepth(7);

              /* We don't need to go deeper. */
            }
          }
        }
      }
    }
  }
}