<div>
  <div *ngIf="! authService.isSignedIn()">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Domain\Auth/SignUp']">
          <i class="fa fa-user-plus"></i>
          <span>Sign Up</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Domain\Auth/SignIn']">
          <i class="fa fa-sign-in"></i>
          <span>Sign In</span>
        </a>
      </li>
    </ul>
  </div>
  <div *ngIf="authService.isSignedIn()">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Domain\Auth/Logout']">
          <i class="fa fa-sign-out"></i>
          <span>Log Out</span>
        </a>
      </li>
    </ul>
  </div>
</div>
