div
  .cass-padding-box-10.screen.screen-complete
    div
      i.text-center.fa.fa-thumbs-up(aria-hidden="true")
      h1 Создание коммунити успешно завершено!
  footer.form-footer
    .form-footer-section
      .cass-padding-box-5
        button.form-button.form-button-secondary(type="submit", (click)="close()")
          span Закрыть
        button.form-button.form-button-secondary(type="submit", (click)="goToCommunity()")
          span В коммунити