/* @ MOBILE FIRST */

$CARD_GRID_SIZE: 300px;

@import "./../../../../../styles/globals";

article.component.component-post-card {
  .card-controls {
    display: none;
  }

  .card-view-option-feed {
    @include card(1);
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
    width: 550px;

    .card-header {
      margin-top: 8px;
      margin-bottom: 15px;
    }

    .card-backdrop {
      display: none;
    }

    .content-container {
      padding: 20px 13px;

      p {
        font-family: $FONT_FAMILY;
        font-size: 16px;
        font-weight: 400;
        color: black;
        line-height: 20px;
      }
    }
  }

  .card-view-option-grid {
    background-color: white;
    border: 1px solid material-color("grey", "400");
    position: relative;
    width: $CARD_GRID_SIZE;
    height: $CARD_GRID_SIZE;
    overflow: hidden;
    cursor: pointer;

    .card-header, .card-backdrop {
      position: absolute;
      left: 0; width: 100%;
      top: -100px;
      transition: top 0.1s;
      padding-bottom: 3px;
    }

    .card-backdrop {
      background-color: white;
      opacity: 0.85;
      height: 60px;
    }

    .content-container {
      padding: 5px;
    }

    &:hover {
      .card-header, .card-backdrop {
        top: 0;
      }
    }
  }
}