article.component.component-post-card
  div(*ngIf="isViewMode('feed')")
    cass-post-card-feed([post]="post", [view-mode]="viewMode", [content-player-enabled]="content-player-enabled")
  div(*ngIf="isViewMode('grid')")
  div(*ngIf="isViewMode('list')")