article.component.component-post-card
  .card
    .card-header
      div(*ngIf='isOwnPost()')
        button(class="form-button form-button-remove")
          i(class='fa fa-pencil', aria-hidden='true')
        button(*ngIf="!deleteProcessing" class="form-button form-button-remove", (click)='deletePost()')
          i(class='fa fa-times', aria-hidden='true')
        button(*ngIf="deleteProcessing" class="form-button form-button-remove" disabled)
          i(class="fa fa-spinner fa-pulse fa-fw", aria-hidden='true')
      cass-profile-card-header([profile]="getProfile()", [time]="getPostDateCreatedOn()")
    .card-content
      .content-container(*ngIf="hasContent()")
        p {{ getContent() }}
      .attachment-container(*ngIf="hasAttachment()")
        cass-post-attachment([attachment]="getAttachment()")