article.component.component-post-card
  .card
    .card-header
      cass-profile-card-header([profile]="getProfile()", [time]="getPostDateCreatedOn()")
    .card-content
      .content-container(*ngIf="hasContent()")
        p {{ getContent() }}
      .attachment-container(*ngIf="hasAttachment()")
        cass-post-attachment([attachment]="getAttachment()")