ul.chatlog
  li(*ngFor="#message of history", [ngClass]="{'sending': !message.is_sended, 'error': message.has_error}")
    img.avatar(
      src="{{message.source_profile.profile.image.variants['64'].public_path}}"
    )
    .message
      .from {{message.source_profile.profile.greetings.greetings}}
        small &nbsp;
          | {{message.date | date:"y"}}-{{message.date | date:"MM"}}-{{message.date | date:"dd"}}
          | {{message.date | date:"HH:mm:ss"}}
        
      .text {{message.content}}