ul.chatlog
  li(
    *ngFor="#message of history",
    class="{{message.send_status.status}}"
  )
    //img.avatar(src="{{message.source_profile.profile.image.variants['64'].public_path}}")
    img.avatar(src="/dist/assets/profile-demo.png")
    .message
      //.from {{message.source_profile.profile.greetings.greetings}}
      .from @username
        small &nbsp;{{dateFormat(message.date_created_on, "dd.MM\yyyy, в HH:mm:ss") }}
      .text {{message.content}}