@import "./../../../../../../../styles/globals";

div.component-cass-header-switcher-extended {
  line-height: $CASS_HEADER_HEIGHT - 2px;
  text-align: center;
  cursor: pointer;

  i.fa {
    font-size: 16px;
    color: #ffffff;
  }

  span.title {
    display: inline-block;
    margin-right: 7px;
    color: lighten(#4E5F81, 30%);
    font-size: 12px;
    font-weight: 400;
  }

  &.active {
    background-color: darken(#4E5F81, 25%);

    span.title {
      color: lighten(#4E5F81, 40%);
    }

    &:hover {
      background-color: darken(#4E5F81, 35%);

      span.title {
        color: lighten(#4E5F81, 50%);
      }
    }
  }

  &:hover {
    background-color: darken(#4E5F81, 25%);

    span.title {
     color: lighten(#4E5F81, 40%);
    }
  }

  div.extended {
    width: $CASS_EXTENDED_LONG_MENU_WIDTH;
  }
}