div.component.component-collection-header
  div.sticky
    cass-backdrop([backdrop]="entity.backdrop")
    div.properties
      div.collection-image
        div.collection-image-container
          cass-collection-image([url]="getImageURL()")
      div.collection-name
        h1([ngStyle]="{ color: textColor }")
          span.text {{ entity.title }}
        p([ngStyle]="{ color: textColor }")
          span.text {{ entity.description }}
      div.collection-controls(*ngIf="isOwn")
        a.action-link(href="javascript:void(0)", (click)="openSettings()", [ngStyle]="{ color: textColor }")
          span.title {{ "settings" | translate }}
        a.action-link(href="javascript:void(0)", (click)="openPublicSettings()", [ngStyle]="{ color: textColor }")
          span.title
            i(*ngIf="isPublished()").fa.fa-bullhorn
            i(*ngIf="! isPublished()").fa.fa-ban