<form (ngSubmit)="attemptSignUp()">
  <header>
    <h1>Sign Up</h1>
  </header>
  <div class="alert alert-danger" role="alert" *ngIf="authService.lastError">{{authService.lastError.message}}</div>
  <fieldset class="form-group">
    <label for="inputSignUpComponentEmail">E-mail</label>
    <input autofocus id="inputSignUpComponentEmail" class="form-control" [disabled]="loading" [(ngModel)]="model.email" type="email" placeholder="your@email.com"/>
    <small class="text-muted">We'll never share your email with anyone else.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="inputSignUpComponentPassword">Password</label>
    <input id="inputSignUpComponentPassword" class="form-control" [disabled]="loading" [(ngModel)]="model.password" type="password" placeholder="Type password for your new account..."/>
  </fieldset>
  <fieldset class="form-group">
    <label for="inputSignUpComponentPasswordAgain">Retype Password</label>
    <input id="inputSignUpComponentPasswordAgain" class="form-control" [disabled]="loading" [(ngModel)]="model.repeat" type="password" placeholder="...and retype it again"/>
  </fieldset>
  <div>
    <button [disabled]="loading" class="btn btn-primary" type="submit">Sign Up</button>
    <button [disabled]="loading" class="btn btn-secondary" type="button" (click)="attemptSignUpNoRemember()">Sign Up, but I'm from another computer</button>
    or use existing account:
    <oauth2-login></oauth2-login>
  </div>
</form>