div.component-change-backdrop-cmp--image-settings {
  div.form-section {
    margin: 10px;

    h1.form-section-header {
      color: #000000;
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
    }
  }
}