div.component.component-change-backdrop-cmp--image-settings
  div.form-section
    h1.form-section-header {{ "backdrop.textColor" | translate }}
      cass-color-picker(
        [variants]="model.getTextColors()"
      )