article.component.component-collection-card
  .card((click)="click()")
    .collection-image
      .image-container([ngStyle]="{'background-image': getImageURL() }")
    .collection-about
      h1 {{ entity.title }}
      p {{ entity.description }}