textarea.form-input(
  placeholder="Введите ваше сообщение для @username",
  (input)="adjust(textarea.value)",
  (keydown.enter)="submit($event)",
  [(ngModel)]="content",
  [disabled]="disabled",
  #textarea
)
