@import "./../../../../../../styles/globals";

$PROGRESS_HEIGHT: 18px;
$PREVIEW_SIZE: 500px;
$FOOTER_HEIGHT: 50px;

div.profile-modal-tab-image
{
  div.stage-view {
    text-align: center;
    padding: 20px;

    div.profile-image-container {
      display: inline-block;
      margin-bottom: 20px;
      max-width: 500px;
      border: 3px solid white;
      outline: 1px dotted material-color("grey", "400");
      overflow: hidden;
    }

    div.profile-image-controls {
      text-align: center;
    }
  }
}


div.image-editor {
  position: relative;

  div.image {
    width: 100%;
    height: $PREVIEW_SIZE;
    overflow: hidden;
    background-color: material-color("grey", "100");
  }

  footer {
    height: $FOOTER_HEIGHT;
  }
}

.component-profile-setup-screen-image
{
  div.drop-area {
    text-align: center;
    border: 1px dashed material-color("grey", "400");
    border-radius: 5px;
    line-height: 250px;

    p {
      font-size: $FONT_SIZE_NORMAL;
    }

    div.form-button {
      vertical-align: middle;
    }

    input[type="file"] {
      display: none;
    }

    div.progress-box {
      width: 70%;
      display: inline-block;
    }

    div.progress {
      width: 100%;
      background-color: material-color("grey", "200");
      border-radius: 3px;
      height: $PROGRESS_HEIGHT;
      position: relative;

      div.progress-bar {
        position: absolute;
        height: $PROGRESS_HEIGHT;
        background-color: material-color("green", "400");
      }
    }
  }

  div.drop-area-active {
    background-color: material-color("yellow", "100");
    border-color: material-color("yellow", "900");
  }
}