@import "./../../../../styles/globals";

div.sidebar-profile-icon {
  div.profile-image {
    width: 60px;
    overflow: hidden;
  }

  div.profile-menu-container {
    ul.profile-menu {
      div.profile-menu-item {
        width: 60px;
        text-align: center;
        cursor: pointer;
        line-height: 60px;
        font-size: 28px;
        color: material-color("grey", "500");
        background-color: material-color("grey", "800");
        transition: background-color 0.2s, color 0.2s;

        &:hover {
          color: material-color("grey", "900");
          background-color: material-color("grey", "500");
        }
      }

      li:nth-child(odd) {
        div.profile-menu-item {
          background-color: material-color("grey", "700");

          &:hover {
            color: material-color("grey", "900");
            background-color: material-color("grey", "500");
          }
        }
      }
    }
  }
}