div.component.component-community-header([ngClass]="{ 'fixed': isFixed() }")
  div.sticky
    cass-backdrop([backdrop]="community.community.backdrop")
    div.community-header
      div.community-image
        div.community-image-container
          cass-community-image([url]="getImageURL()")
      div.community-name
        h1([ngStyle]="{ color: textColor }")
          span.text {{ community.community.title }}
        h2([ngStyle]="{ color: textColor }")
          span.text 165 Подписчиков
          span.text
            i.fa.fa-dot-circle-o
          span.text Yoozer
      div.community-actions
        ul
          li
            a.action-link(routerLink="./collections", [ngStyle]="{ color: textColor }")
              span.title {{ "collections" | translate }}
          li(*ngIf="isOwnCommunity()")
            a.action-link(href="javascript:void(0)", (click)="changeCover()", [ngStyle]="{ color: textColor }")
              span.title {{ "community.community.header.change-cover" | translate }}