article.component-community-header
  .community-header-section
    .community-brand-container
      .community-image-container
        cass-community-image([url]="getImageURL()", border = "circle")
      .community-greetings
        span {{ getCommunityTitle() }}
    .collection-list-container
        ul.collection-links
          li
            a.collection-link([routerLink]="['./Dashboard']")
              span Сообщество
          li(*ngFor="let collection of entity.collections")
            a.collection-link(
              [routerLink]="['./Collections/View', { sid: collection.sid }]",
              title="{{ collection.description }}", 
              *ngIf='!collection.is_main'
            )
              span {{ collection.title }}
          li((click)='modals.createCollection.open()')
            a.collection-link.collection-link-icon(*ngIf="isOwnCommunity()")
              i.fa.fa-plus-circle
  .community-header-section
    .community-buttons-container
      ul.community-buttons
        li
          a.community-button([routerLink]="['./Collections']")
            i.fa.fa-fw.fa-bookmark
            span Подборки
        li(*ngIf="isOwnCommunity()")
          .community-button((click)='modals.settings.open()')
            i.fa.fa-fw.fa-cog
            span Настройки