article.component.component-collection-settings-modal
  cass-modal
    cass-modal-box(width="700px")
        cass-tab-modal
          cass-tab-modal-tab(title="Коллекция")
            header.form-header
              h1 Коллекция
          cass-tab-modal-tab(title="Тематика")
            header.form-header
              h1 Тематика
          cass-tab-modal-tab(title="Изображение")
            header.form-header
              h1 Изображение