@import "./../../../../styles/globals";

article.component.component-community-collections-list-route {
  h1 {
    font-family: $FONT_FAMILY;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: material-color("grey", "900");
  }
}