@import "./../../../../styles/globals";

.component.component-community-collections-list-route {
  h1 {
    font-family: $FONT_FAMILY;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: material-color("grey", "900");
  }
}

.component.component-collections-list {
  .collection-cards-container {
    .list-items {
      text-align: center;

      .collection-card-item {
        vertical-align: top;
        display: inline-block;
        text-align: left;
        margin: 15px 10px;
      }
    }
  }
}