article.component.component-community-collections-list-route
  div(*ngIf="communityService.isCommunityLoaded()")
    h1 Подборки
    cass-collections-list(
      [collections]="communityService.community.collections",
      [is-own]="communityService.community.is_own",
      (create)="openCreateCollectionModal($event)"
    )