ul.chatlog
  li(
    *ngFor="#message of messages",
    class="{{message.send_status.code}}"
  )
    img.avatar(src="{{message.author.image.variants['64'].public_path}}")
    .message
      .from {{message.author.greetings.greetings}}
        small &nbsp;{{dateFormat(message.date_created, "dd.MM\yyyy, в HH:mm:ss") }}
      .text {{message.content}}