<article class="component component-profile-edit">
    <form>
        <header>
            <h4>Profile</h4>
        </header>
            <body>
            <fieldset class="form-group">
                <legend>How should we call you?</legend>
                <div class="radio radio-inline">
                    <label>
                        <input type="radio" name="greetings" value="by-fio" (click)="setGreetingsMethod('fl')">
                        <span>By First and Last name</span>
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        <input type="radio" name="greetings" value="by-fio" (click)="setGreetingsMethod('flm')">
                        <span>By First, Last name and Middle name</span>
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        <input type="radio" name="greetings" value="by-nick" (click)="setGreetingsMethod('n')">
                        <span>By Nickname</span>
                    </label>
                </div>
            </fieldset>
            <div class="form-inline">
                <div class="form-group" *ngIf="greetingsMethodReturn() == 'fl' || greetingsMethodReturn() == 'flm'">
                        <label for="InputFirstname">Firstname</label>
                        <input type="text" [(ngModel)]="profileInfo.firstname" class="form-control" id="InputFirstname" value="{{profileInfo.firstname}}">
                    </div>
                    <div class="form-group" *ngIf="greetingsMethodReturn() == 'fl' || greetingsMethodReturn() == 'flm'">
                        <label for="InputLastname">Lastname</label>
                        <input type="text" [(ngModel)]="profileInfo.lastname" class="form-control" id="InputLastname" value="{{profileInfo.lastname}}">
                    </div>
                </div>
                    <div class="form-group" *ngIf="greetingsMethodReturn() == 'flm'">
                        <label for="InputMiddlename">Middlename</label>
                        <input type="text" [(ngModel)]="profileInfo.middlename" class="form-control" id="InputMiddlename" value="{{profileInfo.middlename}}">
                    </div>
                    <div class="form-group" *ngIf="greetingsMethodReturn() == 'n'">
                        <label for="InputNickname">Nickname</label>
                        <input type="text" [(ngModel)]="profileInfo.nickname"  class="form-control" id="InputNickname" value="{{profileInfo.nickname}}">
                    </div>
                    <div class="form-group">
                        <label for="InputSex">Sex</label>
                        <div class="input-group" id="InputSex">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{profileInfo.sex}}</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item">Male</a>
                                <a class="dropdown-item">Female</a>
                            </div>
                            </div>
                            </div>
                    </div>
                    <input type="submit" value="Save" class="btn btn-primary" (click)="submit()"/>
                    <input type="button" value="Reset" class="btn btn-secondary" (click)="reset()"/>
                    <input type="button" value="Cancel" class="btn btn-secondary" (click)="cancel()"/>
            </body>
    </form>
</article>