<article class="component component-profile-edit">
    <form>
      <header>
        <h1>Profile Settings</h1>
      </header>
      <fieldset class="form-group">
        <legend>How should we call you?</legend>
        <div class="radio radio-inline">
          <label>
            <input #gmFL
                   type="radio"
                   [checked]="profileService.profileInfo.greetings_method == gmFL.value"
                   (click)="profileService.profileInfo.greetings_method = gmFL.value"
                   name="greetings_method" value="fl">
            <span>By First and Last name</span>
          </label>
        </div>
        <div class="radio radio-inline">
          <label>
            <input #gmFLM
                   type="radio"
                   [checked]="profileService.profileInfo.greetings_method == gmFLM.value"
                   (click)="profileService.profileInfo.greetings_method = gmFLM.value"
                   name="greetings_method" value="flm">
            <span>By First, Last name and Middle name</span>
          </label>
        </div>
        <div class="radio radio-inline">
          <label>
            <input #gmN
                   type="radio"
                   [checked]="profileService.profileInfo.greetings_method == gmN.value"
                   (click)="profileService.profileInfo.greetings_method = gmN.value"
                   name="greetings_method" value="n">
              <span>By Nickname</span>
          </label>
        </div>
      </fieldset>
      <fieldset>
        <legend>Your name</legend>
        <div class="form-inline" [ngSwitch]="getGreetingsMethod()">
          <div *ngSwitchWhen="'fl'">
            <div class="form-group">
              <label class="form-control-label" for="InputFirstname">Firstname</label>
              <input class="form-control" type="text" [(ngModel)]="profileService.profileInfo.firstname" id="InputFirstname">
            </div>
            <div class="form-group">
              <label class="form-control-label" for="InputLastname">Lastname</label>
              <input type="text" [(ngModel)]="profileService.profileInfo.lastname" class="form-control" id="InputLastname">
            </div>
          </div>
          <div *ngSwitchWhen="'flm'">
            <div class="form-group">
              <label class="form-control-label" for="InputLastname">Lastname</label>
              <input type="text" [(ngModel)]="profileService.profileInfo.lastname" class="form-control" id="InputLastname">
            </div>
            <div class="form-group">
              <label for="InputFirstname">Firstname</label>
              <input type="text" [(ngModel)]="profileService.profileInfo.firstname" class="form-control" id="InputFirstname">
            </div>
            <div class="form-group">
              <label for="InputMiddlename">Middlename</label>
              <input type="text" [(ngModel)]="profileService.profileInfo.middlename" class="form-control" id="InputMiddlename">
            </div>
          </div>
          <div *ngSwitchWhen="'n'">
            <div class="form-group">
              <label class="form-control-label" for="InputNickname">Nickname</label>
              <input type="text" [(ngModel)]="profileService.profileInfo.nickname"  class="form-control" id="InputNickname">
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Profile Image</legend>
        <button class="btn btn-primary" (click)="showAvatarCropper()">Change profile image</button>
      </fieldset>
      <fieldset>
        <legend>What is your interests?</legend>
        <theme-selector></theme-selector>
      </fieldset>
      <field>
        <legend>And you're expert in:</legend>
        <theme-selector></theme-selector>
      </field>
      <footer>
        <input type="submit" value="Save" class="btn btn-primary" (click)="submit()"/>
      </footer>
    </form>
</article>

<div *ngIf="isAvatarFormVisible()" class="form-group">
  <avatar-cropper></avatar-cropper>
</div>