div.component-attachment-page-grid {
  position: relative;
  width: 100%;
  height: 113px;

  div.cover {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}