div.component.component-attachment-page-grid((click)="open(helper.attachment)")
  div.attachment-type-icon
    div.fa-icon-container
      i.fa.fa-external-link
  div.cover(*ngIf="helper.hasImage()", style="background-image: url('{{ helper.getImageURL() }}')")