.jumbotron.jumbotron-fluid
  .container
    h1.display-3.text-danger
      i.fa.fa-fw.fa-exclamation-triangle(aria-hidden="true")    
      | &nbsp;Access Denied
    p.lead You need to have access to the application
    p.lead(*ngIf="!authService.isSignedIn()")
      a.btn.btn-primary.btn-lg.pull-right(role="button", (click)="showForm()")
        i.fa.fa-fw.fa-sign-in(aria-hidden="true")
        | Sign In
