@import "./../../../../../../../styles/globals";

div.profile-modal-tab-personal
{
  padding: 20px;

  div.form {
    margin-bottom: 30px;
  }

  ul.greetings-options {
    margin-left: 20px;

    li {
      font-size: $FONT_SIZE_NORMAL;
      line-height: 27px;
    }

    label.greeting-option {
      vertical-align: middle;
      display: block;

      input[type="radio"] {
        vertical-align: text-bottom;
      }
    }
  }

  ul.gender-options {
    li {
      display: inline-block;
      font-size: $FONT_SIZE_NORMAL;
      padding: 5px;
      border-radius: 5px;

      label.gender-option {
        vertical-align: middle;
        display: block;

        input[type="radio"] {
          vertical-align: text-bottom;
        }
      }
    }
  }
}