@import "./../../../../styles/globals";

$MIN_HEIGHT: 500px;

article.component-community-settings-modal {
  min-height: $MIN_HEIGHT;

  .tab-content {
    min-height: $MIN_HEIGHT;
  }

  form.tab-community {
  }

  form.tab-image {
  }

  form.tab-features {
    header.tab-modal-header {
      margin-bottom: 32px;
    }

    ul.features {
      li {
        margin-bottom: 32px;
      }
    }

    section.feature {
      display: flex;

      div.feature-icon {
        $ICON_SIZE: 32px;

        div.feature-icon-container {
          display: inline-block;
          background-color: material-color("grey", "200");
          color: material-color("grey", "700");
          width: $ICON_SIZE;
          height: $ICON_SIZE;
          text-align: center;
          font-size: 14px;
          line-height: $ICON_SIZE;
          margin-right: 16px;
          border-radius: 100%;
        }
      }

      div.feature-info {
        width: 100%;

        h1 {
          color: black;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2em;
          margin-bottom: 10px;
        }

        p {
          font-size: 14px;
          font-weight: 400;
          color: material-color("grey", "500");
        }

        p.sorry {
          font-size: 12px;
          color: material-color("orange", "500");
          margin-top: 10px;
        }
      }

      div.feature-controls {
        width: 70px;
        text-align: right;
      }
    }
  }

  form.tab-collection {
  }
}