cass-modal
  cass-modal-box(width="800px")
    article.component.component-community-settings-modal
      .tab-modal
        .tab-panel
          .top
            ul.tab-list
              li
                button.tab-link(
                  (click)="screens.goto('Community')",
                  [ngClass]="{'tab-link-active': screens.isOn('Community')}"
                )
                  span Коммунити
              li
                button.tab-link(
                  (click)="screens.goto('Image')",
                  [ngClass]="{'tab-link-active': screens.isOn('Image')}"
                )
                  span Изображение
              li
                button.tab-link(
                  (click)="screens.goto('Features')",
                  [ngClass]="{'tab-link-active': screens.isOn('Features')}"
                )
                  span Разделы
          .bottom
            ul.tab-list
              li
                button.tab-link(
                  (click)="screens.goto('Collections')",
                  [ngClass]="{'tab-link-active': screens.isOn('Collections')}"
                )
                  i.fa.fa-fw.fa-list-alt
                  span Управление коллекциями
        .tab-content
          .tab-content-container
            form.form.tab.tab-community(*ngIf="screens.isOn('Community')")
              .cass-padding-box-15
                header.tab-modal-header
                  h1 Коммунити
                .form-section
                  .input-group
                    label.form-label
                      span Название
                      input.form-input(
                        type="text",
                        placeholder="Название, заголовок коммунити"
                      )
                  .input-group
                    label.form-label
                      span Описание
                      input.form-input(
                        type="text",
                        placeholder="Подзаголовок коммунити"
                      )
                .form-section.modal-list
                  header.tab-modal-header
                    h2 Тематика
                  ul.theme-options.modal-list-container
                    li.modal-list-item
                      .modal-list-icon
                        .modal-list-icon-container
                          i.fa.fa-bookmark
                      .modal-list-info
                        h1 Коммунити посвящено определенной тематике
                        p Если ваше коммунити посвященно определенной професиональной тематике, то вы можете получить больше посетителей и участников, если активируете эту опцию и укажите, какой именно тематике посвящено ваше коммунити
                        // Если опция не включена, то cass-theme-select не должен отображаться
                        cass-theme-select
                      .modal-list-controls
                        div.form-switch-button
                          input.form-switch-button-checkbox(type="checkbox" id="communitySettingsModalThemeEnabled", checked)
                          label.form-switch-button-label(for="communitySettingsModalThemeEnabled")
                    // Опция отображается, только если опция выше активирована
                    li.modal-list-item
                      .modal-list-icon
                        .modal-list-icon-container
                          i.fa.fa-bullhorn
                      .modal-list-info
                        h1 Коммунити должно отображаться в паблике
                        p Паблик – это основной траффик. Именно оттуда случайные посетители этого сервиса смогут найти ваше коммунити.
                      .modal-list-controls
                          div.form-switch-button
                            input.form-switch-button-checkbox(type="checkbox" id="communitySettingsModalThemeEnablePublic", checked)
                            label.form-switch-button-label(for="communitySettingsModalThemeEnablePublic")
                    // Опция отображается, только если обе опции выше активированы
                    li.modal-list-item
                      .modal-list-icon
                        .modal-list-icon-container
                          i.fa.fa-cab
                      .modal-list-info
                        h1.mark Я обязуюсь модерировать свое коммунити
                        p Если вы не собираетесь модерировать свое коммунити, то наши алгоритмы выборки будут считать ваше коммунити низкоприоритетным.
                      .modal-list-controls
                          div.form-switch-button
                            input.form-switch-button-checkbox(type="checkbox" id="communitySettingsModalThemeWillModerate", checked)
                            label.form-switch-button-label(for="communitySettingsModalThemeWillModerate")
                .form-section
                  header.tab-modal-header
                    h2 Действия
                  .delete-community-form
                    div(*ngIf="! (deleteRequest.isRequested() || deleteRequest.isConfirmed())")
                      button.form-text-button(
                        (click)="deleteRequest.request()",
                        [disabled]="deleteRequest.isButtonDisabled()"
                      )
                        i.fa.fa-fw.fa-trash
                        span Я хочу удалить это коммунити
                    div(*ngIf="  deleteRequest.isRequested()")
                      button.form-button.form-button-red(
                        (click)="deleteRequest.confirm()"
                      )
                        i.fa.fa-fw.fa-trash
                        span Отправить запрос на удаление коммунити
                      button.form-button(
                        (click)="deleteRequest.cancel()"
                      )
                        span Отмена
                    div(*ngIf="deleteRequest.isConfirmed()")
                      p.request-sent Запрос на удаление коммунити отправлен.
                      button.form-text-button
                        i.fa.fa-fw.fa-ban
                        span Отозвать запрос
            form.form.tab.tab-image(*ngIf="screens.isOn('Image')")
              header.tab-modal-header
                h1 Изображение
            form.form.tab.tab-features(*ngIf="screens.isOn('Features')")
              .cass-padding-box-15
                header.tab-modal-header
                  h1 Разделы
                .modal-list
                  ul.features
                    li
                      section.feature.modal-list-item
                        .feature-icon.modal-list-icon
                          .feature-icon-container.modal-list-icon-container
                            i.fa.fa-bookmark
                        .feature-info.modal-list-info
                          h1 Коллекции и ленты сообщений
                          p Активировав этот модуль, участники и/или модераторы этого коммунити могут создавать подборки контента, постить видео, ссылки, изображения и любые другие материалы.
                        .modal-list-controls.feature-controls
                          div.form-switch-button
                            input.form-switch-button-checkbox(type="checkbox" id="communitySettingsModalFeatureCollections", checked)
                            label.form-switch-button-label(for="communitySettingsModalFeatureCollections")
                    li
                      section.feature.modal-list-item
                        .feature-icon.modal-list-icon
                          .feature-icon-container.modal-list-icon-container
                            i.fa.fa-list-ul
                        .feature-info.modal-list-info
                          h1 Форум
                          p Доска объявлений, система форумов для вашего коммунити.
                          p.sorry К сожалению, мы пока что еще не сделали этот раздел. Но он скоро будет!
                        .modal-list-controls.feature-controls
                          div.form-switch-button
                            input.form-switch-button-checkbox(type="checkbox" id="communitySettingsModalFeatureForum", disabled)
                            label.form-switch-button-label(for="communitySettingsModalFeatureForum")
                    li
                      section.feature.modal-list-item
                        .feature-icon.modal-list-icon
                          .feature-icon-container.modal-list-icon-container
                            i.fa.fa-comments
                        .feature-info.modal-list-info
                          h1 Чат
                          p Добавить коллективные чаты в ваше коммунити.
                          p.sorry К сожалению, мы пока что еще не сделали этот раздел. Но он скоро будет!
                        .modal-list-controls.feature-controls
                          div.form-switch-button
                            input.form-switch-button-checkbox(type="checkbox" id="communitySettingsModalFeatureChat", disabled)
                            label.form-switch-button-label(for="communitySettingsModalFeatureChat")
            form.form.tab.tab-collection(*ngIf="screens.isOn('Collections')")
                .cass-padding-box-15
                  header.tab-modal-header
                    h1 Коллекции коммунити
          footer.tab-content-footer
              .left
                button.form-text-button
                  span Закрыть
              .right
                button.form-button.form-button-green
                  span Сохранить