.component.component-community-create-modal
  cass-modal
    cass-modal-box(width="600px")
      header.form-header(*ngIf="isHeaderVisible()")
        h1 Мастер создания коммунити
      .form.community-modal.community-modal-create
        cass-community-create-modal-screen-general(*ngIf='screens.isOn("General")', (abort)="close()", (next)="next()")
        cass-community-create-modal-screen-theme(*ngIf='screens.isOn("Theme")', (abort)="close()", (next)="next()")
        cass-community-create-modal-screen-image(*ngIf='screens.isOn("Image")', (abort)="close()", (next)="next()")
        cass-community-create-modal-screen-features(*ngIf='screens.isOn("Features")', (abort)="close()", (next)="next()")
        cass-community-create-modal-screen-processing(*ngIf='screens.isOn("Processing")', (abort)="close()", (next)="next()")
        cass-community-create-modal-screen-complete(*ngIf='screens.isOn("Complete")', (close)="close()")