<article class="component component-profile-personal-data">
    <header>
        <h1>Profile</h1>
    </header>
    <form>
        <fieldset class="form-group">
            <legend>How should we call you?</legend>
            <div class="radio radio-inline">
                <label>
                    <input type="radio" name="greetings" value="by-fio">
                    <span>By First and Last name</span>
                </label>
            </div>
            <div class="radio radio-inline">
                <label>
                    <input type="radio" name="greetings" value="by-nick">
                    <span>By nickname</span>
                </label>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <legend>What is your name?</legend>
            <label>
                <span>First Name</span>
                <input class="form-control">
            </label>
            <label>
                <span>Last Name</span>
                <input class="form-control">
            </label>
            <label>
                <input type="checkbox">
            </label>
            <label>
                <span>Middle Name</span>
                <input class="form-control">
            </label>
            <label>
                <input type="checkbox">
            </label>
            <label>
                <span>Nick Name</span>
                <input class="form-control">
            </label>
        </fieldset>
        <fieldset class="form-group">
            <legend>Contacts</legend>
            <div class="form-group">
                <label>
                    <span>E-mail</span>
                    <input class="form-control">
                </label>
            </div>
        </fieldset>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</article>