article.component.component-collection-settings-modal
  cass-modal
    cass-modal-box(width="700px")
        cass-tab-modal(min-height="600")
          div(*ngIf="deleteModal.isOpened()")
            cass-collection-delete-modal
          cass-tab-modal-tab(title="Подборка")
            form.form.tab-collection
              .cass-padding-box-15
                cass-tab-modal-header
                  span Моя подборка
                .form-section
                  .input-group
                    label.form-label
                      span Название
                      cass-form-input(type="text", placeholder="Название, заголовок подборки",#input ,[(value)]="collection.title")
                  .input-group
                    label.form-label
                      span Описание
                      cass-form-input(type="text", placeholder="Подзаголовок, одна строка про подборку",#input ,[(value)]="collection.description")
                  .modal-list
                    ul.collection-options-list
                      li
                        section.modal-list-item
                          .modal-list-icon
                            .modal-list-icon-container
                              i.fa.fa-bookmark
                          .modal-list-info
                            h1 Подборка имеет тематику
                            p Если вы укажите тематику у своей подборки, то другие люди смогут найти вас в поисках контента по выбранной вами тематике.
                            cass-theme-select([value]='collection.theme_ids')
                          .modal-list-controls
                            div.form-switch-button
                              input.form-switch-button-checkbox(type="checkbox" id="collectionCreateMasterEnableTheme", [checked]='collection.theme.has', [ngModelOptions]="{standalone: true}", [(ngModel)]='collection.theme.has')
                              label.form-switch-button-label(for="collectionCreateMasterEnableTheme")
                .form-section
                  cass-tab-modal-header(level="2")
                    span Цвет
                    span.info Вы можете выбрать специальную расцветку для подборки
                  div
                    cass-palette-picker
                .form-section
                  cass-tab-modal-header(level="2")
                    span Действия
                  .delete-collection-form
                    cass-form-button(type="button",title="Удалить подборку",styles="solid",color="red",icon="'fa fa-fw fa-trash'",(click)="requestDeleteCollection()")
          cass-tab-modal-tab(title="Доступ")
            form.form.tab-theme
              .cass-padding-box-15
                cass-tab-modal-header
                  span Доступ
                  span.info Если подборка имеет тематику и она модерируется, вы получите больше посетителей
                .modal-list
                  ul.collection-options-list
                    li
                      section.modal-list-item
                        .modal-list-icon
                          .modal-list-icon-container
                            i.fa.fa-user-secret
                        .modal-list-info
                          h1 Это частная подборка
                          p По умолчанию содержимое подборок публично и контент, который вы добавляете сюда, может быть доступен любому желающему
                        .modal-list-controls
                          div.form-switch-button
                            input.form-switch-button-checkbox(type="checkbox" id="collectionCreateMasterIsPrivate",
                            [checked]='collection.public_options.is_private',
                            [ngModelOptions]="{standalone: true}", [(ngModel)]='collection.public_options.is_private')
                            label.form-switch-button-label(for="collectionCreateMasterIsPrivate")
                    li
                      section.modal-list-item
                        .modal-list-icon
                          .modal-list-icon-container
                            i.fa.fa-bullhorn
                        .modal-list-info
                          h1 Подборка должна отображаться в паблике
                          p Паблик – это основной траффик. Именно оттуда случайные посетители смогут найти вашу подборку
                        .modal-list-controls
                          div.form-switch-button
                            input.form-switch-button-checkbox(type="checkbox" id="collectionCreateMasterPublicEnabled",
                            [checked]='collection.public_options.public_enabled',
                            [ngModelOptions]="{standalone: true}", [(ngModel)]='collection.public_options.public_enabled')
                            label.form-switch-button-label(for="collectionCreateMasterPublicEnabled")
                    li
                      section.modal-list-item
                        .modal-list-icon
                          .modal-list-icon-container
                            i.fa.fa-check-square-o
                        .modal-list-info
                          h1 Я обязуюсь добавлять в эту подборку только подходящий контент
                          p Указав тематику и включив этот флаг, вы берете на себя обязательство постить только соответствующий указанной вами тематики контент. Взамен наши алгоритмы считают ваш контент более приоритетным для размещение в паблике.
                        .modal-list-controls
                          div.form-switch-button
                            input.form-switch-button-checkbox(type="checkbox" id="collectionCreateMasterModerationContact",
                            [checked]='collection.public_options.moderation_contract',
                            [ngModelOptions]="{standalone: true}", [(ngModel)]='collection.public_options.moderation_contract')
                            label.form-switch-button-label(for="collectionCreateMasterModerationContact")
          cass-tab-modal-tab(title="Изображение")
            form.form.form-image
              .cass-padding-box-15
                cass-tab-modal-header
                  span Изображение
                .collection-image-form
                  .collection-image-container
                    cass-collection-image(border="square")
                    //[url]="collection.image.small.public_path")
                  .collection-image-controls
                    cass-form-button(*ngIf="!deleteProcessVisible",type="button",title="УДАЛИТЬ",styles="text",icon="'fa fa-fw fa-trash'",(click)="avatarDeletingProcess()")
                    cass-form-button(*ngIf="isDeleting",type="button",title="УДАЛИТЬ",styles="text",icon="'fa fa-spinner fa-pulse fa-fw'",(click)="avatarDeletingProcess()",disabled)
                    cass-form-button(type="button",title="Загрузить другое изображение",styles="solid",color="red",icon="'fa fa-fw fa-upload'")
          footer.tab-content-footer
            .left
              cass-form-button(type="button",title="ЗАКРЫТЬ",styles="text",icon="'fa fa-fw fa-upload'",(click)='pService.modals.collectionSettings.close()')
            .right
              cass-form-button(type="button",title="СОХРАНИТЬ",styles="solid",color="green")
