 <div class="sidebar-profile-icon">
   <div class="profile-image">
     <a href="#" class="sidebar-button sidebar-profile-icon">
       <img class="sidebar-icon" src="/dist/assets/profile-demo.png"/>
     </a>
   </div>
   <div class="profile-menu-container" *ngIf="isSwitched()">
     <ul class="profile-menu">
       <li>
         <div class="profile-menu-item" title="Настройки" (click)="service.modals.settings.open();">
           <i class="fa fa-cog"></i>
         </div>
       </li>
       <li>
         <div class="profile-menu-item" title="Переключиться на другой профиль" (click)="service.modals.settings.open();">
           <i class="fa fa-exchange"></i>
         </div>
       </li>
     </ul>
   </div>
   <div class="switcher">
     <div class="sidebar-switch-button" (click)="switchProfileMenu()">
       <i *ngIf="  isSwitched()" class="fa fa-chevron-up"></i>
       <i *ngIf="! isSwitched()" class="fa fa-chevron-down"></i>
     </div>
   </div>
 </div>