<div>
    <div *ngIf="service.modals.route.isOpened()">
        <cass-community-route-modal
            (close)="service.modals.route.close()"
            (join)="service.modals.route.close(); service.modals.join.open()"
            (create)="service.modals.route.close(); service.modals.create.open()"
        ></cass-community-route-modal>
    </div>
    <div *ngIf="service.modals.join.isOpened()">
        <cass-community-join-modal (close)="service.modals.join.close()"></cass-community-join-modal>
    </div>
    <div *ngIf="service.modals.create.isOpened()">
        <cass-community-create-modal (close)="service.modals.create.close()"></cass-community-create-modal>
    </div>
    <div *ngIf="service.modals.settings.isOpened()">
        <cass-community-settings-modal (close)="service.modals.settings.close()"></cass-community-settings-modal>
    </div>
</div>