@import "./../../globals";

div#cassAppContainer {
  min-width: $APP_MIN_WIDTH;
  min-height: $APP_MIN_HEIGHT;
  background-color: $MATERIAL_BACKGROUND;
  display: flex;

  div.cass-app-container-section {
    display: flex;
  }
}