@import "./../../globals";

div#cassAppContainer {
  min-width: $APP_MIN_WIDTH;
  min-height: $APP_MIN_HEIGHT;
  position: absolute;
  top: 0; height: 100%;
  left: 0; width: 100%;
  background-color: $MATERIAL_BACKGROUND;
}