@import "../../../../globals";

$panelWidth: 250px;

div.profile-menu {
  background-color: $color2;
  display: block;
  position: fixed;
  left: $leftPanelWidth; width: $panelWidth;
  top: 0; height: 100%;
  overflow: hidden;
  padding: 10px;

  @include card(1);

  div.menu-group {
    >header {
      h1 {
        font-size: 20px;
        color: $color1;
      }
    }

    ul.menu-item-list {
      list-style-type: none;
      margin: 20px 0; padding: 0;

      li {
        margin: 3px;
      }
    }

    a.menu-item {
      display: block;
      text-decoration: none;
      color: $color4;
      border-radius: 3px;

      &:hover {
        background-color: $color5;
        color: $color2;
      }
    }
  }
}