<div class="profile-menu">
  <div class="profile-menu-contents">
  </div>
  <div class="backdrop">
    <ul class="profile-list" *ngFor="#collection of pService.currentProfile.collections">
      <li>{{collection.title}} <button type="button" (click)="openCollectionSettings(collection)">}{</button></li>
    </ul>
    <div class="form">
      <button type="button" class="form-button form-button-primary" (click)="pService.modals.createCollectionMaster.open()">Create Collection</button>
    </div>
  </div>
</div>