@import "./../../../../styles/globals";

div.component-drop-down-menu {
  .drop-down-menu {
    .drop-down-menu {
      position: relative;
      display: inline-block;
    }

    .drop-down-content {
      display: block;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1;
    }

    .drop-down-content {
      @include card(2);
      position: absolute;
      margin-left: 10px;
      background-color: #ffffff;
      padding: 10px;
      border: 1px solid material-color("grey", "500");
      text-align: left;

      ul.menu-items {
        a.menu-item {
          display: block;
          background-color: #ffffff;
          transition: background-color 0.1s, color 0.1s;
          font-size: 12px;
          color: #000000;
          cursor: pointer;
          padding: 2px 12px;
          font-weight: 500;
          text-decoration: none;
          text-transform: uppercase;

          i.fa {
            margin-right: 10px;
          }

          &:hover {
            background-color: material-color("grey", "200");
          }

          &:active {
            background-color: material-color("blue-grey", "900");
            color: material-color("blue-grey", "100");
          }
        }
      }
    }

    button.fa-ellipsis-button {
      font-size: 16px;
      border: 0;
      background-color: #ffffff;
      transition: background-color 0.2s;
      cursor: pointer;
      padding: 5px 15px;

      &:hover {
        background-color: material-color("grey", "300");
      }
    }
  }

  .drop-down-menu-medium {
  }

  .drop-down-menu-large {

  }
}

