div.dropdown(#dropDownMenu)
    button.fa-ellipsis-button.dropdown-menu((click)="dropDownMenuExpanded = !dropDownMenuExpanded", type = "button")
        i.fa.fa-ellipsis-v
    ul.dropdown-content(*ngIf='dropDownMenuExpanded')
        li(*ngFor="let item of menu")
            a((click)="clickOnElement(item)", href="javascript:void(0)") {{ item.title }}
