<div class="profile-modal-tab-account form">
  <header class="tab-modal-header">
    <h1>Аккаунт</h1>
  </header>
  <div class="account-email">
    <input type="email" disabled [value]="model.account.email" class="form-input account-email-input">
    <ul class="email-info">
      <li>К этому почтовому ящику привязан ваш аккаунт.</li>
    </ul>
  </div>
  <div class="account-change-password">
    <header class="tab-modal-header">
      <h2>Сменить пароль</h2>
    </header>
    <div class="input-group">
      <label class="form-label">
        <span class="label-text">Текущий пароль</span>
        <input class="form-input" [readonly]="model.loading" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.password.old" type="password" placeholder="Пароль, который вы используете сейчас">
      </label>
    </div>
    <div class="input-group">
      <label class="form-label">
        <span class="label-text">Новый пароль</span>
        <input class="form-input" [readonly]="model.loading" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.password.new" type="password" placeholder="*********">
      </label>
    </div>
    <div class="input-group">
      <label class="form-label">
        <span class="label-text">Повторите пароль</span>
        <input class="form-input" [readonly]="model.loading" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.password.repeat" type="password" placeholder="*********">
      </label>
    </div>
  </div>
  <div class="account-managment">
    <header class="tab-modal-header">
      <h2>Действия</h2>
    </header>
    <cass-form-button *ngIf="!isDeleteAccountRequested()" styles="text" type="button" title="Я хочу удалить этот аккаунт" icon="'fa fa-fw fa-trash'" [disabled]="requestButtonDisabled" (click)="requestDeleteAccount()"></cass-form-button>
    <div *ngIf="isDeleteAccountRequested()">
      <cass-form-button styles="solid" color="red" type="button" title="Удалить мой аккаунт через 7 дней" icon="'fa fa-fw fa-trash'"  (click)="deleteAccount()"></cass-form-button>
      <cass-form-button styles="text" type="button" title="ОТМЕНА" (click)="cancelDeleteAccountRequest()"></cass-form-button>
    </div>
  </div>
</div>