.component-delete-post {

  .delete-post {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .delete-post-button {
    display: flex;
    padding: 10px;
    padding-bottom: 15px;
  }

  .button-save-wrap {
    margin-left: auto;
  }

  .delete-text {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    margin-bottom: auto;
  }

  .form-button-red {
    background: #9d223c;
  }

}
