div.component.component-delete-post
  cass-modal
    cass-modal-box(width="400px",height="130px")
      .delete-post
        .delete-text Вы действительно хотите удалить пост?
        .delete-post-button
          .button-cancel-wrap
            button(type="button" , (click)="closeModal()").button-cancel Отмена
          .button-save-wrap
            button(type="button").button-save Удалить