div.component.component-delete-post
  cass-modal
    cass-modal-box(width="400px",height="130px")
      .delete-post
        cass-form-progress-lock(*ngIf="isLoading()")
        .delete-text Вы действительно хотите удалить пост?
        .delete-post-button
          .button-cancel-wrap
            cass-form-button(title="ОТМЕНА",type="button",styles="text", (click)="closeModal()")
          .button-save-wrap
            cass-form-button(title="УДАЛИТЬ",type="button",styles="solid",color="#9d223c", (click)='submit()')