div.component.component-change-backdrop-form
  div.current-screen
    div(*ngIf="isOn('image')")
      cass-change-backdrop-cmp-image-settings((submit)='submitEvent($event)', (updateTextColor)='changeTextColorEvent($event)')

