@import "./../../../../../../../styles/globals";

div.component-community-card-grid {
  @include card(1);

  cursor: pointer;
  width: 200px;
  height: 200px;
  margin: 10px;
  position: relative;
  overflow: hidden;

  .community-card-content {
    height: 100%;
    border: 3px solid transparent;
    padding: 1px;
    position: relative;
    box-sizing: border-box;
  }

  .cover-community-image {
    position: absolute;
    top: 1px; bottom: 1px;
    left: 1px; right: 1px;

    .community-image-container {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .cover-community-about {
    position: absolute;
    left: 1px; right: 1px;
    bottom: 1px;
    padding: 10px;
    background-color: rgba(0,0,0,0.6);
    box-sizing: border-box;
    text-align: center;

    .community-name {
      h1 {
        font-size: 16px;
        color: #fff;
      }
    }

    .community-themes {
      margin-top: 7px;

      ul.themes-list {
        li {
          font-size: 14px;
          color: rgba(255,255,255,0.8);
          display: inline-block;

          &:after {
            content: ', ';
          }

          &:last-child:after {
            content: '';
          }
        }
      }
    }
  }
}