article.component.component-profile-interests-card((click)="opeInterestsModal()")
  .card-content
    .settings-icon-container
      .settings-icon
        i.fa.fa-bookmark
    .card-about
      h1 Укажите свои интересы и профессию
      p Мы являемся #[strong тематической социальной сетью], и наши посетители ищут экспертов или просто людей со&nbsp;
        | схожими интересами. #[a(href="javascript:void(0)", (click)="opeInterestsModal()") Щелкните десь], чтобы&nbsp;
        | рассказать о своих профессиональных и не только интересах.