@import "./../../../../globals.scss";
@import "./../../../../palette.scss";

div.cass-main-menu
{
  position: fixed;
  top: 0; height: 100%;
  left: 0; width: $mainMenuWidth;
  padding: 5px;

  ul.main-menu-list {
    list-style-type: none;

    &,li {
      margin: 0;
      padding: 0;
    }

    li {
      margin: 5px;
    }
  }

  hr {
    border-color: #ccc;
  }

  a.main-menu-item {
    display: block;

    div.image {
      width: $mainMenuIconSize;
      height: $mainMenuIconSize;
      overflow: hidden;
      border-radius: 5px;
    }

    div.image-src {
      img {
        width: 100%;
      }
    }

    div.image-fa {
      color: $mainMenuColor3;
      vertical-align: middle;
      text-align: center;
      line-height: $mainMenuIconSize - 4px;
      font-size: $mainMenuFAFontSize;
    }

    div.description {
      display: none;
    }

    &:hover {
      div.image-fa {
        color: black;
      }
    }
  }
}