<div>
  <div class="cass-main-menu">
    <nav class="main-menu-nav">
      <div *ngIf="! isSignedIn()">
        <ul class="main-menu-list">
          <li>
            <main-menu-item-sign-in></main-menu-item-sign-in>
          </li>
          <li>
            <hr/>
          </li>
          <li>
            <main-menu-item-browse></main-menu-item-browse>
          </li>
        </ul>
      </div>
      <div *ngIf="isSignedIn()">
        <ul class="main-menu-list">
          <li>
            <main-menu-item-profile></main-menu-item-profile>
          </li>
          <li>
            <hr/>
          </li>
          <li>
            <main-menu-item-browse></main-menu-item-browse>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>