form.form.form-auth-sign-in((ngSubmit)='submit()', (keyup.escape)='close()')
  cass-form-progress-lock(*ngIf="status.isLoading()")
  header.form-header
    h1 Авторизация
  .cass-padding-box-10
    .input-group
      p.form-text Войдите с помощью социальных сетей:
      .cass-padding-box-5
        cass-auth-oauth2
    .input-group
      label.form-label
        span.label-text Либо используйте аккаунт нашего сервиса:
        cass-form-input(type="email", placeholder="Адрес электронного ящика, указанного при регистрации",#input ,tabindex='1',[(value)]="model.email",autocomplete='off')
    .input-group
      label.form-label
        span.label-text Пароль
        cass-form-input(type="password", placeholder="**********",#input ,tabindex='2',[(value)]="model.password",autocomplete='off')
  footer.form-footer
    .form-footer-section
      .cass-padding-box-5
        cass-form-button(styles="text", type="button", title="СОЗДАТЬ АККАУНТ", tabindex='4', (click)='signUp()')
    .form-footer-section
      .form-footer-item
        .cass-padding-box-5
          cass-form-button(styles="text", type="button", title="ЗАКРЫТЬ", tabindex='5', (click)='close()')
          cass-form-button(styles="solid",color="#2196F3", type="submit", title="ВОЙТИ", tabindex='3')
