.sidebar-unreaded-messages
  .sidebar-separator
  ul.sidebar-items
    li
      div
        a.sidebar-fa-button([routerLink]="['/ProfileIM']")
          i.fa.fa-envelope
    li
      .switcher
        .sidebar-switch-button((click)='toggleVisibility()')
          i.fa(
            [ngClass]="{'fa-chevron-up':barVisiblityState, 'fa-chevron-down':!barVisiblityState}"
          )
      ul(*ngIf='isBarVisible()')
        li(*ngFor="#item of unread")
          .message
            a.sidebar-button.sidebar-community-icon([routerLink]="['/ProfileIM', 'Messages', { id: item.source.entity.id }]")
              cass-profile-image([url]="item.source.entity.image.variants['64'].public_path", border="square")
              .counter.counter-red {{item.counter}}