<form (ngSubmit)="submit()">
    <div class="modal" tabindex="-1" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="fa fa-fw fa-upload" aria-hidden="true"></i> Upload your avatar
                    </h4>
                </div>
                <div class="modal-body text-xs-center" >
                    <img #cropImage />
                    <label *ngIf="!cropper" class="text-xs-left m-t-1 btn btn-primary">
                        <input type="file" placeholder="s" (change)="onFileUploaded($event)">
                        <i class="fa  fa-fw fa-folder-open" aria-hidden="true"></i>
                        Choose photo from computer
                    </label>
                </div>
                <div class="modal-footer" *ngIf="cropper">
                    <button class="btn btn-secondary" (click)="destroyCropper()">
                        <i class="fa fa-fw fa-chevron-left" aria-hidden="true"></i> Back
                    </button>
                    <button class="btn btn-primary"  (click)="getData()">
                        <i class="fa fa-fw fa-crop" aria-hidden="true"></i> Done
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade in"></div>
</form>