div.component-theme-browser {
  text-align: center;

  ul.themes-list-feed {
    display: inline-block;

    li {
      width: 440px;
      display: inline-block;
      margin: 10px;
      text-align: left;
      vertical-align: top;
    }
  }

  ul.themes-list-grid {
    display: inline-block;

    li {
      width: 180px;
      display: inline-block;
      margin: 10px;
      text-align: left;
      vertical-align: top;
    }
  }

  ul.themes-list-table {
    display: block;

    li {
      padding: 8px 0;
      display: block;
      border-bottom: 1px solid #ccc;

      &:first-child {
        border-top: 1px solid #ccc;
      }
    }
  }
}