<article class="component component-theme-editor">
    <header (click)="clearSelection()">
        <h1>Theme Editor</h1>
    </header>
    <body (click)="clearSelection()">
    </body>
    <theme-tree [tree]="themeEditorService.themesTree"></theme-tree>
    <div class="form-content-box" *ngIf="themeEditorService.showFormContentBox">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <button (click)="openCreateThemeForm()" class="btn btn-success">Create new Theme</button>
    </footer>
</article>

