<button (click)="manageThemes.putThemeClick()">Add</button>
<button (click)="manageThemes.deleteTheme(manageThemes.themeId)">Delete</button>
<button (click)="manageThemes.updateThemeClick()">Update</button>

<div *ngIf="manageThemes.showAdd">
    <input #AddThemes>
    <button (click)="manageThemes.putTheme(AddThemes.value); manageThemes.putThemeClick()">Confirm</button>
    <button (click)="manageThemes.putThemeClick()">Cancel</button>
</div>

<div *ngIf="manageThemes.showUpdate">
    <input #UpdateThemes>
    <button (click)="manageThemes.updateTheme(manageThemes.themeId, UpdateThemes.value)">Confirm</button>
    <button (click)="manageThemes.updateThemeClick()">Cancel</button>
</div>

<form *ngFor="#theme of manageThemes.themes" (click)="manageThemes.takeTheme(theme)">{{theme.title}}

</form>