<!--<ul>-->
    <!--<li *ngFor="#theme of manageThemes.themes">-->
        <!--<span class="iconButton" (click)="manageThemes.showChild = !manageThemes.showChild">{{manageThemes.getIcon()}}</span>-->
        <!--<form (click)="manageThemes.takeTheme(theme)">{{theme.title}}</form>-->
        <!--<div *ngIf="manageThemes.showChild">-->

        <!--</div>-->
    <!--</li>-->
<!--</ul>-->

<form *ngFor="#theme of manageThemes.themes" (click)="manageThemes.takeTheme(theme); manageThemes.crudShow = !manageThemes.crudShow;">{{theme.title}}

</form>


<div *ngIf="manageThemes.crudShow">
    <button (click)="manageThemes.deleteTheme(manageThemes.themeId)">Delete</button>
    <button (click)="manageThemes.showUpdate = !manageThemes.showUpdate">Update</button>
</div>
<div *ngIf="manageThemes.showUpdate">
    <input #UpdateThemes>
    <button (click)="manageThemes.updateTheme(manageThemes.themeId, UpdateThemes.value); manageThemes.showUpdate = !manageThemes.showUpdate; manageThemes.crudShow = !manageThemes.crudShow">Confirm</button>
    <button (click)="manageThemes.showUpdate = !manageThemes.showUpdate">Cancel</button>
</div>

<button (click)="manageThemes.putThemeClick()">Add</button>

<div *ngIf="manageThemes.showAdd">
    <input #AddThemes>
    <button (click)="manageThemes.putTheme(AddThemes.value); manageThemes.putThemeClick()">Confirm</button>
    <button (click)="manageThemes.showAdd = !manageThemes.showAdd">Cancel</button>
</div>


<form *ngFor="#theme of manageThemes.themes" (click)="manageThemes.takeTheme(theme)">{{theme.title}}

</form>