<div class="profile-modal-tab-profiles">


  <!-- Модальное окно "подтверждение смены профиля" -->
  <cass-modal *ngIf="service.isModalSwitchProfileActive()">
    <div class="modal-profile modal-profile-switch">
      <header>
        <h1>Переход в другой профиль</h1>
      </header>
      <div class="cass-padding-box-15">
        <div class="profile-info">
          <div class="profile-image-container">
            <cass-profile-image border="circle" url="/dist/assets/profile-demo.png"></cass-profile-image>
          </div>
          <div class="profile-about">
            <div class="profile-greetings"><h1>Foo Bar</h1></div>
          </div>
        </div>
      </div>
      <footer class="form-footer">
        <div class="form-footer-section">
          <button class="form-text-button">
            <span>Отмена</span>
          </button>
        </div>
        <div class="form-footer-section">
          <div class="form-text-button">
            <span>Переход через 5 секунд</span>
          </div>
        </div>
      </footer>
    </div>
  </cass-modal>

  <!-- Tab Content -->
  <header class="tab-modal-header">
    <h1>Управление профилями</h1>
  </header>
  <ul class="profile-list" *ngFor="#profile of service.returnProfiles()">
    <li>
      <section class="profile-control">
        <div class="profile-info">
          <div class="profile-image-container">
            <cass-profile-image border="circle" [url]="profile.image.public_path"></cass-profile-image>
          </div>
          <div class="profile-about">
            <div class="profile-greetings"><h1>{{profile.greetings.greetings}}</h1></div>
            <div class="profile-is-current" *ngIf="profile.is_current">Вы сейчас пользуетесь этим профилем</div>
            <div class="profile-about-more" >
              <div *ngIf="profile.expert_in.length < 0">
              <p class="no-expert">У этого профиля не указано, по каким темам стоит обращаться к нему.</p>
              <span class="title">Эксперт в:</span>
              </div>
              <div >
              <ul class="expert-in-list" *ngFor="#themeId of profile.expert_in">
                <li><div class="expert-in">{{themeService.findById(themeId).title}}</div></li>
              </ul>
              </div>
            </div>
          </div>
        </div>
        <footer class="profile-controls">
          <button *ngIf="service.returnProfiles().length > 1" class="form-text-button form-button-text-remove" (click)="service.openModalDeleteProfile()">
            <i class="fa fa-fw fa-remove"></i>
            <span>Удалить профиль</span>
          </button>
          <button *ngIf="!profile.is_current" class="form-text-button">
            <i class="fa fa-fw fa-exchange"></i>
            <span>Перейти в профиль</span>
          </button>
        </footer>
      </section>
    </li>
    <cass-modal *ngIf="service.isModalDeleteProfileActive()">
    <div class="modal-profile  modal-profile-delete">
      <header>
        <h1>Вы действительно хотите удалить этот профиль?</h1>
      </header>
      <div class="cass-padding-box-15">
        <div class="profile-info">
          <div class="profile-image-container">
            <cass-profile-image border="circle" [url]="profile.image.public_path"></cass-profile-image>
          </div>
          <div class="profile-about">
            <div class="profile-greetings"><h1>{{profile.greetings.greetings}}</h1></div>
            <p class="info" *ngIf="profile.is_current">Вы сейчас используете сервис с помощью этого профиля. После удаление профиля мы
              вам дадим выбор, с помощью какого профиля продолжить пользование нашим сервисом.</p>
          </div>
        </div>
      </div>
      <footer class="form-footer">
        <div class="form-footer-section">
          <button class="form-text-button" (click)="service.closeModalDeleteProfile()">
            <span>Отмена</span>
          </button>
        </div>
        <div class="form-footer-section">
          <button class="form-button form-button-red">
            <i class="fa fa-fw fa-trash"></i>
            <span>Да, удалить профиль</span>
          </button>
        </div>
      </footer>
    </div>
  </cass-modal>
  </ul>
  <footer class="add-profile">
    <div class="buttons">
      <button class="form-button form-button-green" (click)="service.createNewProfile()">
        <i class="fa fa-fw fa-plus"></i>
        <span>Создать новый профиль</span>
      </button>
    </div>
    <div class="info">
      <p>Вы можете создать не более 5 профилей на этом аккаунте</p>
    </div>
  </footer>
</div>