div.component.component-theme-card-feed
  div.card
    div.image-container
      div.image(style="background-image: url('{{prefix}}/{{ theme.preview }}')")
    div.about
      h1 {{ theme.title }}
      p {{ theme.description }}