div.component.component-theme-card-feed.x-navigation-entity
  div.card.x-navigation-click((click)="go()")
    div.image-container
      div.image(style="background-image: url('{{prefix}}/{{ theme.preview }}')")
    div.about
      h1 {{ theme.title }}
      p {{ theme.description }}