div.component.component-theme-card-feed.x-navigation-entity
  .card.x-navigation-click((click)="go()")
    .theme-card-content
      .image-container
        .image(style="background-image: url('{{prefix}}/{{ theme.preview }}')")
      .about
        h1 {{ theme.title }}
        p {{ theme.description }}