<div class="component component-profile-modal">
  <div class="tab-modal">
    <div class="tab-panel">
      <div class="top">
        <ul class="tab-list">
          <li>
            <button class="tab-link">
              <span>Аккаунт</span>
            </button>
          </li>
          <li>
            <!-- По умолчанию этот таб -->
            <button class="tab-link tab-link-active">
              <span>Имя, пол, изображение</span>
            </button>
          </li>
          <li>
            <button class="tab-link">
              <span>Интересы и экспертиза</span>
            </button>
          </li>
        </ul>
      </div>
      <div class="bottom">
        <ul class="tab-list">
          <li>
            <button class="tab-link">
              <i class="fa fa-fw fa-list-alt"></i>
              <span>Управление профилями</span>
            </button>
          </li>
          <li>
            <button class="tab-link">
              <i class="fa fa-fw fa-sign-out"></i>
              <span>Выход из аккаунта</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content">

    </div>
  </div>
</div>