<div class="profile-modal-tab-profiles">
  <!-- Модальное окно "подтверждение удаления профиля" -->
  <cass-modal *ngIf="service.isModalDeleteProfileActive()">
    <cass-modal-box>
      <div class="modal-profile  modal-profile-delete">
        <header>
          <h1>Вы действительно хотите удалить этот профиль?</h1>
        </header>
        <div class="cass-padding-box-15">
          <div class="profile-info">
            <div class="profile-image-container">
              <cass-profile-image border="circle" [url]="service.getProfile().image.variants.default.public_path"></cass-profile-image>
            </div>
            <div class="profile-about">
              <div class="profile-greetings"><h1>{{service.getProfile().greetings.greetings}}</h1></div>
              <p class="info" *ngIf="service.getProfile().is_current">Вы сейчас используете сервис с помощью этого профиля. После удаление профиля мы
                вам дадим выбор, с помощью какого профиля продолжить пользование нашим сервисом.</p>
            </div>
          </div>
        </div>
        <footer class="form-footer">
          <div class="form-footer-section">
            <cass-form-button  styles="text"  type="button" title="ОТМЕНА" (click)="service.closeModalDeleteProfile()"></cass-form-button>
          </div>
          <div class="form-footer-section">
            <cass-form-button  styles="solid" color="red" type="button" icon="fa fa-fw fa-trash" title="Да, удалить профиль" (click)="service.requestDeleteProfile(service.getProfile().id)"></cass-form-button>
          </div>
        </footer>
      </div>
    </cass-modal-box>
  </cass-modal>

  <!-- Модальное окно "подтверждение смены профиля" -->
  <cass-modal *ngIf="service.isModalSwitchProfileActive()">
    <cass-modal-box>
      <div class="modal-profile modal-profile-switch">
        <header>
          <h1>Переход в другой профиль</h1>
        </header>
        <div class="cass-padding-box-15">
          <div class="profile-info">
            <div class="profile-image-container">
              <cass-profile-image border="circle" url="/dist/assets/profile-demo.png"></cass-profile-image>
            </div>
            <div class="profile-about">
              <div class="profile-greetings"><h1>Foo Bar</h1></div>
            </div>
          </div>
        </div>
        <footer class="form-footer">
          <div class="form-footer-section">
            <cass-form-button  styles="text"  type="button" title="ОТМЕНА"></cass-form-button>
          </div>
          <div class="form-footer-section">
            <div class="form-text-button">
              <span>Переход через 5 секунд</span>
            </div>
          </div>
        </footer>
      </div>
    </cass-modal-box>
  </cass-modal>

  <!-- Tab Content -->
  <header class="tab-modal-header">
    <h1>Управление профилями</h1>
  </header>

  <ul class="profile-list" *ngFor="let profile of service.getProfiles()">
    <li>
      <section class="profile-control">
        <div class="profile-info">
          <div class="profile-image-container">
            <cass-profile-image border="circle" [url]="profile.entity.profile.image.variants.default.public_path"></cass-profile-image>
          </div>
          <div class="profile-about">
            <div class="profile-greetings"><h1>{{profile.entity.profile.greetings.greetings}}</h1></div>
            <div class="profile-is-current" *ngIf="profile.entity.profile.is_current">Вы сейчас пользуетесь этим профилем</div>
            <div class="profile-about-more" >
              <div *ngIf="profile.entity.profile.expert_in_ids.length < 0">
              <p class="no-expert">У этого профиля не указано, по каким темам стоит обращаться к нему.</p>
              </div>
              <div *ngIf="profile.entity.profile.expert_in_ids.length > 0">
                <span class="title">Эксперт в:</span>
              <ul class="expert-in-list" *ngFor="let themeId of profile.entity.profile.expert_in_ids">
                <li><div class="expert-in">{{themeService.findById(themeId).title}}</div></li>
              </ul>
              </div>
            </div>
          </div>
        </div>
        <footer class="profile-controls">
          <cass-form-button  *ngIf="service.getProfiles().length > 1" styles="text"  type="button" title="Удалить профиль" icon="'fa fa-fw fa-remove'" (click)="service.openModalDeleteProfile(profile.entity.profile.id)"></cass-form-button>
          <cass-form-button  *ngIf="!profile.entity.profile.is_current" styles="text"  type="button" title="Перейти в профиль" icon="'fa fa-fw fa-exchange'" (click)="service.switchProfile(profile.entity.profile.id)"></cass-form-button>
        </footer>
      </section>
    </li>
  </ul>
  <footer class="add-profile">
    <div class="buttons">
      <cass-form-button  styles="solid" color="green" type="button" title="Создать новый профиль" icon="'fa fa-fw fa-plus'" (click)="service.createNewProfile()" [disabled]="!service.getActiveCreateNewProfileButton()"></cass-form-button>
    </div>
    <div class="info">
      <p>Вы можете создать не более 5 профилей на этом аккаунте</p>
    </div>
  </footer>
</div>