article.component.component-feed-profile-stream
  div(*ngIf="hasStream()")
    .entities
      cass-profile-cards-list([profiles]="feed.stream.all()", [view-mode]="getViewOption()", (open)="openProfile($event)")
    .loading-indicator
      cass-loading-indicator(*ngIf="feed.isLoading()")
  div(*ngIf="!feed.isLoading()")
    cass-feed-scroll-detector