div.component.component-post-card-grid
  .flexbox-container
    .top
      .card.x-feed-entity.x-navigation-entity
        .profile-image.x-navigation-click(*ngIf="!helper.hasAttachment()", (click)="openPost(post)")
          .profile-image-container
            cass-profile-image([url]="getProfileImageURL()")
        .attachment-container(*ngIf="helper.hasAttachment()")
          cass-attachment([attachment]="helper.getAttachment()", (open)="helper.openAttachment($event)", view-mode="grid")
    .bottom
      .card-title(*ngIf="helper.hasTitle()")
        h1
          span.text {{ helper.getTitle() }}