div.component.component-post-list-list
  ul.post-list
    li.post-list-item(*ngFor="let post of posts")
      div.post
        cass-post-card(
          [post]="post",
          [view-mode]="viewMode",
          (open-post)="openPost($event)",
          (open-attachment)="openAttachment($event)",
        )