@import "./../../../../.././../../styles/globals";

article.component.component-public-themes-route {
  width: 100%;
  height: 100%;
  overflow: auto;

  div.flexbox-container {
    display: flex;
    width: 100%;
    height: 100%;

    >div.content {
      width: 100%;
      height: 100%;
      overflow: hidden;

      div.split-view {
        height: 100%;


        >div.header {
          flex-shrink: 0;
          @include card(1);
        }

        >div.content-area {
          width: 100%;
          height: 100%;
          overflow: auto;
        }
      }
    }

    div.screen-themes {
      padding: 3px 10px;
    }
  }
}