article.component.component-public-themes-route
  div.theme-header
    cass-theme-header([theme]="helper.themes.getThemeRoot()", (go)="goTheme($event)")
  cass-theme-browser([root]="helper.themes.getThemeRoot()", (change)="goTheme($event)")