div.component.component-profile-menu-other
  div.yoozer-left-menu
    ul.yoozer-left-menu-list
      li.yoozer-left-menu-item
        a([routerLink]="['/profile', service.getProfile().id]",
          [routerLinkActiveOptions]="{ exact: true }",
          routerLinkActive="active"
        )
          i.fa.fa-fw.fa-user
          span.title Профиль
  div.yoozer-left-menu(*ngIf="hasCollections()")
    ul.yoozer-left-menu-list
      li.yoozer-left-menu-item
        a([routerLink]="['/profile', service.getProfile().id, 'collections']",
          [routerLinkActiveOptions]="{ exact: true }",
          routerLinkActive="active"
        )
          i.fa.fa-fw.fa-bookmark
          span.title Все подборки
      li.yoozer-left-menu-item(*ngFor="let collection of getCollections()")
        a([routerLink]="['/profile/current/collections/', collection.sid]",
          [routerLinkActiveOptions]="{ exact: false }",
          routerLinkActive="active",
        )
          i.fa.fa-fw.fa-ellipsis-h
          span.title {{ collection.title }}