footer.form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .form-footer-section {
    display: flex;
    align-items: center;
  }

  .form-footer-item + .form-footer-item {
    margin-left: 5px;
  }
}