@import "./../../globals";

header.form-header
{
  h1 {
    @include yoozerHorizontalGradient();
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    color: #fff;
  }
}

header.form-header-light-blue {
  color: white;
  background-color: material-color("light-blue", "500");
}