.cass-sidebar
  .sidebar-contents
    ul.sidebar-items
      li(*ngIf="! isSignedIn()")
        cass-sidebar-sign-in-button
      li(*ngIf="isSignedIn()")
        cass-sidebar-profile-icon
    cass-sidebar-communities
    cass-sidebar-messages
  .backdrop