.cass-sidebar
  .sidebar-contents
    ul.sidebar-items
      li(*ngIf="!isSignedIn()")
        cass-sidebar-sign-in-button
      li(*ngIf="isSignedIn()")
        a(routerLink='profile/current') Profile
        cass-sidebar-profile-icon
        a((click)='signOut()') Sign Out
    cass-sidebar-communities
    cass-sidebar-messages
    a(routerLink='home') Home
    a(routerLink='people') People
    a(routerLink='collections') Collections
    a(routerLink='communities') Community
  .backdrop