.component.component-profile-profiles-subscriptions-route
  cass-form-progress-lock(*ngIf="status.isLoading()")
  .profile-card-container
    div(*ngIf="! status.isLoading()").profile-card-wrap
        cass-profile-cards-list([profiles]="getProfiles()", [viewMode]="getViewMode()", (open)="openProfile($event)")