.component.component-profile-profiles-subscriptions-route
  .people
    h1 Люди
  cass-form-progress-lock(*ngIf="status.isLoading()")
  .profile-card-container
    div(*ngIf="! status.isLoading()").profile-card-wrap
      div(*ngFor="let subscription of subscribes").profile-card
        cass-profile-card([profile]="subscription.entity")
