article.component.component-profile-collection-feed {
  .entities {
    .post-card-container {
      width: 550px;
      float: left;
      margin: 10px;
    }
  }

  .loading-indicator {
    margin: 20px 0;
    text-align: center;
  }
}