article.component.component-profile-collection-feed
  .entities
    .post-card-container(*ngFor="#post of entities.entities")
      cass-post-card([post]="post")
  .loading-indicator
    cass-loading-indicator(*ngIf="loading")