<div class="form-content-box">
    <form (ngSubmit)="submit()">
        <div class="modal" tabindex="-1" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Account creating</h4>
                    </div>
                    <div class="modal-body" >
                        <h1>{{firstname}}</h1>
                        <h1>{{accountWelcome.lastname}}</h1>
                        <h1>{{accountWelcome.middlename}}</h1>
                        <h1>{{accountWelcome.nickname}}</h1>
                        <img src="{{Avatar || '/public/assets/profile-default.png'}}" class="img-rounded pull-xs-left">
                        <input type="button" (click)="log()"  value="Set your Avatar">
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal-backdrop fade in"></div>
    </form>
</div>
