.component-subscribe-button {
  .state button{
    padding: 10px;
    background-color: #00b0ff;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;

    .fa {
      margin-right: 7px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}