div.component.component-subscribe-button
  .state.state-unsubscribed(*ngIf="! isSubscribed()")
    cass-form-button(type="button", title="Подписаться", icon="'fa fa-check'", styles="solid",color="#2196F3",(click)="subscribe()" , [disabled]="isLoading")
  .state.state-subscribed(*ngIf="isSubscribed()")
    cass-form-button(type="button", title="Отменить подписку", icon="'fa fa-ban'", styles="solid",color="#2196F3",(click)="unsubscribe()" , [disabled]="isLoading")
