article.component.component-community-create-modal-form
  form.form.screen.screen-general((ngSubmit)="next()")
    ng-content
    footer.form-footer
      .form-footer-section
        cass-form-button(type="button",styles="text",title="ОТМЕНА", (click)="abort()")
      .form-footer-section
        cass-form-button(type="submit",styles="solid",color="blue",title="ДАЛЕЕ")

