<div class="component component-community-route-modal">
  <cass-modal>
    <cass-modal-box width="630px">
      <div class="form community-modal community-modal-route">
        <div class="choices">
          <div (click)="goCreate()" class="choice choice-create">
            <div class="info">
              <h1>Create</h1>
              <p>Создайте новое коммунити и пригласите своих друзей!</p>
            </div>
            <div class="buttons">
              <button id="communityRouteModalCreateButton" class="form-button form-button-green">Создать коммунити</button>
            </div>
          </div>
          <div (click)="goJoin()" class="choice choice-join">
            <div class="info">
              <h1>Join</h1>
              <p>Присоединитесь к существующему коммунити, введя специальный код приглашения.</p>
            </div>
            <div class="buttons">
              <button id="communityRouteModalJoinButton" class="form-button form-button-light-blue">Присоединиться к коммунити</button>
            </div>
          </div>
        </div>
        <footer class="form-footer">
          <div class="form-footer-section">
            <cass-form-buttom styles="text" (click)="closeModal()" title="ЗАКРЫТЬ"></cass-form-buttom>
          </div>
          <div class="form-footer-section">
            <cass-form-buttom styles="text"  title="Что такое  'коммунити'?"></cass-form-buttom>
          </div>
        </footer>
      </div>
    </cass-modal-box>
  </cass-modal>
</div>