article.component.component-attachment-youtube
  div(*ngIf="isViewMode('feed')")
    cass-attachment-youtube-feed([attachment]="attachment", (open)="open($event)")
  div(*ngIf="isViewMode('grid')")
    cass-attachment-youtube-grid([attachment]="attachment", (open)="open($event)")
  div(*ngIf="isViewMode('list')")
    cass-attachment-youtube-list([attachment]="attachment", (open)="open($event)")
