article.component.component-feed-post-stream
  .entities
    .post-card-container(*ngFor="#post of feed.stream.all()")
      cass-post-card([post]="post")
    .loading-indicator
      cass-loading-indicator(*ngIf="feed.isLoading()")