article.component.component-feed-post-stream
  div(*ngIf="hasStream()")
    .posts
      cass-post-list(
        [posts]="feed.stream.all()",
        [view-mode]="getViewOption()",
        (open-post)="openPost($event)",
        (open-attachment)="openAttachment($event)",
        (edit-post)="openEditPostModal($event)",
        (delete-post)="openDeletePostModal($event)"
      )
    .loading-indicator
      cass-loading-indicator(*ngIf="feed.isLoading()")
  div(*ngIf="!feed.isLoading()")
    cass-feed-scroll-detector
  div(*ngIf="editPostModal.isOpened()")
    cass-edit-post([post]='currentPost', (close)='closeEditPostModal()')
  div(*ngIf="deletePostModal.isOpened()")
    cass-delete-post([post]='currentPost' , (close)='closeDeletePost()', (submitDelete)='deletePost($event)')