article.component.component-feed-post-stream
  div(*ngIf="hasStream()")
    .posts
      cass-post-list(
        [posts]="feed.stream.all()",
        [view-mode]="getViewOption()",
        (open-post)="openPost($event)",
        (open-attachment)="openAttachment($event)",
        (edit-post)="editPost($event)",
        (delete-post)="deletePost($event)",
        (pin-post)="deletePost($event)"
      )
    .loading-indicator
      cass-loading-indicator(*ngIf="feed.isLoading()")
  div(*ngIf="!feed.isLoading()")
    cass-feed-scroll-detector
  div(*ngIf="editPostModal.isOpened()")
      cass-edit-post([post]='currentPost')