article.component.component-profile-card
  .card-content
    .profile-image
      .profile-image-container
          cass-profile-image([url]="getImageURL()", border = "circle")
    .profile-about
      h1.profile-greetings
        span {{ getGreetings() }}
      .profile-expert-in(*ngIf="hasAnyExperts()")
        .profile-expert-in-title Эксперт в
        ul.themes
          li(*ngFor="#theme of expertIn")
            a(href="javascript.void(0)")
              span {{ theme.title }}
      .profile-interesting-in(*ngIf="!hasAnyExperts() && hasAnyInterests()")
        .profile-interesting-in-title Интересуется
        ul.themes
          li(*ngFor="#theme of expertIn")
            a(href="javascript.void(0)")
              span {{ theme.title }}
      .profile-open-chat(*ngIf="!isOwn")
        button.form-button.form-button-primary((click)="goChat()")
          | Отправить сообщение