article.component.component-profile-card((click)='goProfile()')
  div(*ngIf="isViewMode('feed')")
    cass-profile-card-feed([profile]="profile", (open)="open()")
  div(*ngIf="isViewMode('grid')")
    cass-profile-card-grid([profile]="profile", (open)="open()")
  div(*ngIf="isViewMode('list')")
    cass-profile-card-list([profile]="profile", (open)="open()")
