@import "./../../../../styles/globals";

article.component.component-profile-dashboard-route {
  .post-form {

    margin-bottom: 40px;

    .post-form-container {
      width: 550px;
      margin: 0 auto;
    }
  }

  div.dashboard {
    position: relative;

    div.backdrop {
      width: 100%;
      height: 100vh;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #464646;
    }

    div.dashboard-header {
      position: absolute;
      top: 0; height: 300px;
      left: 0; width: 100%;
    }

    div.dashboard-content {
    }
  }
}