article.component.component-profile-dashboard-route
  div(*ngIf="service.isProfileLoaded()")
    .post-form(*ngIf='canPost()')
      .post-form-container
        cass-post-form([collection]="main_collection", [post-type] = "postType", (success) = "unshiftEntity($event)")
    .welcome-cards
      cass-profile-cards-list([profile]="service.getProfile()")
    .posts
      cass-feed-post-stream