cass-modal
  cass-modal-box(width="300px")
    .sign-out-modal
        p Ваш браузер забывает о том, что вы пользуетесь этим сервисом.
        .loading-indicator
          cass-loading-linear-indicator