div.component.component-auth-sign-out
  cass-form-progress-lock(*ngIf="status.isLoading()")
  form.form
    header.form-header
      h1 Выход из сервиса
    .cass-padding-box-10
      p.form-text Вы действительно хотите выйти из сервиса?
    footer.form-footer
      .form-footer-section
        .form-footer-item
          .cass-padding-box-5
            cass-form-button(styles="text", type="button", title="ОТМЕНА", tabindex='3',(click)='cancel()')
      .form-footer-section
        .form-footer-item
          .cass-padding-box-5
            cass-form-button(styles="text", type="button", title="HEТ", tabindex='2',(click)='no()')
            cass-form-button(#yesButton,styles="solid", type="button", title="ДА", tabindex='1',(click)='yes()',color="#2196F3")

