/* @ MOBILE-FIRST */

@import "./../../../../../styles/globals";

article.component-public-criteria-content-type {
  text-align: center;

  .content-types-container {
    ul.content-types {
      display: inline-block;
      border-radius: 5px;
      overflow: hidden;

      li {
        display: inline-block;
        margin: 0 3px;

        button.choice {
          cursor: pointer;
          padding: 0 8px;
          background-color: material-color("grey", "200");
          font-family: $FONT_FAMILY;
          font-size: 14px;
          line-height: 30px;
          font-weight: 500;
          color: material-color("grey", "600");
          border: 0;
          border-radius: 3px;
          overflow: hidden;
          transition: background-color 0.1s;

          &:hover {
            color: material-color("grey", "700");
            background-color: material-color("grey", "300");
          }

          i.fa {
            margin-right: 6px;
          }
        }

        &.active {
          button.choice {
            color: material-color("deep-orange", "50");
            background-color: material-color("deep-orange", "500");

            &:hover {
              background-color: material-color("deep-orange", "700");
              color: material-color("deep-orange", "50");
            }
          }
        }
      }
    }
  }
}